{# ACMG Criteria Form #}
{% verbatim %}
  <script id="acmg-popup" type="text/x-jsrender">
    <form style="width: 40em;">
      <input type="hidden" name="release" value="{{:release}}" />
      <input type="hidden" name="chromosome" value="{{:chromosome}}" />
      <input type="hidden" name="start" value="{{:start}}" />
      <input type="hidden" name="end" value="{{:end}}" />
      <input type="hidden" name="reference" value="{{:reference}}" />
      <input type="hidden" name="alternative" value="{{:alternative}}" />

      <div class="row">
        <div class="col-6 px-0">
          <h6>Pathogenic</h6>

          <div class="row mb-1">
            <div class="col px-0">
              <strong style="font-variant: small-caps;" class="text-small text-muted text-capitalize">
                Very Strong Evidence
              </strong>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Null variant (nonsense, frameshift, canonical ±1 or 2 splice sites, initiation codon, single or multi-exon deletion) in a gene where LOF is a known mechanism of disease">
              <input class="form-check-input pvs" id="acmg-pvs1-{{:variant}}" type="checkbox" name="pvs1" value="checked" {{if pvs1}}checked{{/if}} />
              <label for="acmg-pvs1-{{:variant}}" class="m-0">
                <strong class="pr-2">PVS1</strong> <span class="text-muted">null variant</span>
              </label>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col px-0">
              <strong style="font-variant: small-caps;" class="text-small text-muted text-capitalize">
                Strong Evidence
              </strong>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Same amino acid change as a previously established pathogenic variant regardless of nucleotide change">
              <input class="form-check-input ps" id="acmg-ps1-{{:variant}}" type="checkbox" name="ps1" value="checked" {{if ps1}}checked{{/if}} />
              <label for="acmg-ps1-{{:variant}}" class="m-0">
                <strong class="pr-2">PS1</strong> <span class="text-muted">literature: this AA exchange</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="De novo (both maternity and paternity confirmed) in a patient with the disease and no family history">
              <input class="form-check-input ps" id="acmg-ps2-{{:variant}}" type="checkbox" name="ps2" value="checked" {{if ps2}}checked{{/if}} />
              <label for="acmg-ps2-{{:variant}}" class="m-0">
                <strong class="pr-2">PS2</strong> <span class="text-muted"><u>confirmed</u> de novo</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Well-established in vitro or in vivo functional studies supportive of a damaging effect on the gene or gene product">
              <input class="form-check-input ps" id="acmg-ps3-{{:variant}}" type="checkbox" name="ps3" value="checked" {{if ps3}}checked{{/if}} />
              <label for="acmg-ps3-{{:variant}}" class="m-0">
                <strong class="pr-2">PS3</strong> <span class="text-muted">supported by functional studies</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="The prevalence of the variant in affected individuals is significantly increased compared with the prevalence in controls">
              <input class="form-check-input ps" id="acmg-ps4-{{:variant}}" type="checkbox" name="ps4" value="checked" {{if ps4}}checked{{/if}} />
              <label for="acmg-ps4-{{:variant}}" class="m-0">
                <strong class="pr-2">PS4</strong> <span class="text-muted">prevalence in disease &gt; controls</span>
              </label>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col px-0">
              <strong style="font-variant: small-caps;" class="text-small text-muted text-capitalize">
                Moderate Evidence
              </strong>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Located in a mutational hot spot and/or critical and well-established functional domain (e.g., active site of an enzyme) without benign variation">
              <input class="form-check-input pm" id="acmg-pm1-{{:variant}}" type="checkbox" name="pm1" value="checked" {{if pm1}}checked{{/if}} />
              <label for="acmg-pm1-{{:variant}}" class="m-0">
                <strong class="pr-2">PM1</strong> <span class="text-muted">variant in hotspot (missense)</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Absent from controls (or at extremely low frequency if recessive) in Exome Sequencing Project, 1000 Genomes Project, or Exome Aggregation Consortium">
              <input class="form-check-input pm" id="acmg-pm2-{{:variant}}" type="checkbox" name="pm2" value="checked" {{if pm2}}checked{{/if}} />
              <label for="acmg-pm2-{{:variant}}" class="m-0">
                <strong class="pr-2">PM2</strong> <span class="text-muted">rare; &lt; 1:20.000 in ExAC</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="For recessive disorders, detected in trans with a pathogenic variant">
              <input class="form-check-input pm" id="acmg-pm3-{{:variant}}" type="checkbox" name="pm3" value="checked" {{if pm3}}checked{{/if}} />
              <label for="acmg-pm3-{{:variant}}" class="m-0">
                <strong class="pr-2">PM3</strong> <span class="text-muted">AR: <i>trans</i> with known pathogenic</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Protein length changes as a result of in-frame deletions/insertions in a nonrepeat region or stop-loss variants">
              <input class="form-check-input pm" id="acmg-pm4-{{:variant}}" type="checkbox" name="pm4" value="checked" {{if pm4}}checked{{/if}} />
              <label for="acmg-pm4-{{:variant}}" class="m-0">
                <strong class="pr-2">PM4</strong> <span class="text-muted">protein length change</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Novel missense change at an amino acid residue where a different missense change determined to be pathogenic has been seen before">
              <input class="form-check-input pm" id="acmg-pm5-{{:variant}}" type="checkbox" name="pm5" value="checked" {{if pm5}}checked{{/if}} />
              <label for="acmg-pm5-{{:variant}}" class="m-0">
                <strong class="pr-2">PM5</strong> <span class="text-muted">literature: AA exchange same pos</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Assumed de novo, but without confirmation of paternity and maternity">
              <input class="form-check-input pm" id="acmg-pm6-{{:variant}}" type="checkbox" name="pm6" value="checked" {{if pm6}}checked{{/if}} />
              <label for="acmg-pm6-{{:variant}}" class="m-0">
                <strong class="pr-2">PM6</strong> <span class="text-muted"><u>assumed</u> de novo</span>
              </label>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col px-0">
              <strong style="font-variant: small-caps;" class="text-small text-muted text-capitalize">
                Supporting Evidence
              </strong>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Cosegregation with disease in multiple affected family members in a gene definitively known to cause the disease">
              <input class="form-check-input pp" id="acmg-pp1-{{:variant}}" type="checkbox" name="pp1" value="checked" {{if pp1}}checked{{/if}} />
              <label for="acmg-pp1-{{:variant}}" class="m-0">
                <strong class="pr-2">PP1</strong> <span class="text-muted">cosegregates in family</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Missense variant in a gene that has a low rate of benign missense variation and in which missense variants are a common mechanism of disease">
              <input class="form-check-input pp" id="acmg-pp2-{{:variant}}" type="checkbox" name="pp2" value="checked" {{if pp2}}checked{{/if}} />
              <label for="acmg-pp2-{{:variant}}" class="m-0">
                <strong class="pr-2">PP2</strong> <span class="text-muted">few missense in gene</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Multiple lines of computational evidence support a deleterious effect on the gene or gene product (conservation, evolutionary, splicing impact, etc.)">
              <input class="form-check-input pp" id="acmg-pp3-{{:variant}}" type="checkbox" name="pp3" value="checked" {{if pp3}}checked{{/if}} />
              <label for="acmg-pp3-{{:variant}}" class="m-0">
                <strong class="pr-2">PP3</strong> <span class="text-muted">predicted pathogenic &geq; 2</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Patient's phenotype or family history is highly specific for a disease with a single genetic etiology">
              <input class="form-check-input pp" id="acmg-pp4-{{:variant}}" type="checkbox" name="pp4" value="checked" {{if pp4}}checked{{/if}} />
              <label for="acmg-pp4-{{:variant}}" class="m-0">
                <strong class="pr-2">PP4</strong> <span class="text-muted">phenotype/pedigree match gene</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Reputable source recently reports variant as pathogenic, but the evidence is not available to the laboratory
to perform an independent evaluation">
              <input class="form-check-input pp" id="acmg-pp5-{{:variant}}" type="checkbox" name="pp5" value="checked" {{if pp5}}checked{{/if}} />
              <label for="acmg-pp5-{{:variant}}" class="m-0">
                <strong class="pr-2">PP5</strong> <span class="text-muted">reliable source: pathogenic</span>
              </label>
            </div>
          </div>
        </div>

        <div class="col-6 pr-0">
          <h6>Benign</h6>

          <div class="row mb-1">
            <div class="col px-0">
              <strong style="font-variant: small-caps;" class="text-small text-muted text-capitalize">
                Standalone Evidence
              </strong>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Allele frequency is >5% in Exome Sequencing Project, 1000 Genomes Project, or Exome Aggregation Consortium">
              <input class="form-check-input ba" id="acmg-ba1-{{:variant}}" type="checkbox" name="ba1" value="checked" {{if ba1}}checked{{/if}} />
              <label for="acmg-ba1-{{:variant}}" class="m-0">
                <strong class="pr-2">BA1</strong> <span class="text-muted">allele frequency &gt; 5%</span>
              </label>
            </div>
          </div>

          <div class="row mb-1">
            <div class="col px-0">
              <strong style="font-variant: small-caps;" class="text-small text-muted text-capitalize">
                Strong Evidence
              </strong>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Allele frequency is greater than expected for disorder">
              <input class="form-check-input bs" id="acmg-bs1-{{:variant}}" type="checkbox" name="bs1" value="checked" {{if bs1}}checked{{/if}} />
              <label for="acmg-bs1-{{:variant}}" class="m-0">
                <strong class="pr-2">BS1</strong> <span class="text-muted">disease: allele freq. too high</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Observed in a healthy adult individual for a recessive (homozygous), dominant (heterozygous), or X-linked (hemizygous) disorder, with full penetrance expected at an early age">
              <input class="form-check-input bs" id="acmg-bs2-{{:variant}}" type="checkbox" name="bs2" value="checked" {{if bs2}}checked{{/if}} />
              <label for="acmg-bs2-{{:variant}}" class="m-0">
                <strong class="pr-2">BS2</strong> <span class="text-muted">observed in healthy individual</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Well-established in vitro or in vivo functional studies show no damaging effect on protein function or splicing">
              <input class="form-check-input bs" id="acmg-bs3-{{:variant}}" type="checkbox" name="bs3" value="checked" {{if bs3}}checked{{/if}} />
              <label for="acmg-bs3-{{:variant}}" class="m-0">
                <strong class="pr-2">BS3</strong> <span class="text-muted">functional studies: benign</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Lack of segregation in affected members of a family">
              <input class="form-check-input bs" id="acmg-bs4-{{:variant}}" type="checkbox" name="bs4" value="checked" {{if bs4}}checked{{/if}} />
              <label for="acmg-bs4-{{:variant}}" class="m-0">
                <strong class="pr-2">BS4</strong> <span class="text-muted">lack of segregation</span>
              </label>
            </div>
          </div>

          <div class="row mb-1">
            <div class="col px-0">
              <strong style="font-variant: small-caps;" class="text-small text-muted text-capitalize">
                Supporting Evidence
              </strong>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Missense variant in a gene for which primarily truncating variants are known to cause disease">
              <input class="form-check-input bp" id="acmg-bp1-{{:variant}}" type="checkbox" name="bp1" value="checked" {{if bp1}}checked{{/if}} />
              <label for="acmg-bp1-{{:variant}}" class="m-0">
                <strong class="pr-2">BP1</strong> <span class="text-muted">missense in truncation gene</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Observed in trans with a pathogenic variant for a fully penetrant dominant gene/disorder or observed in cis with a pathogenic variant in any inheritance pattern">
              <input class="form-check-input bp" id="acmg-bp2-{{:variant}}" type="checkbox" name="bp2" value="checked" {{if bp2}}checked{{/if}} />
              <label for="acmg-bp2-{{:variant}}" class="m-0">
                <strong class="pr-2">BP2</strong> <span class="text-muted">other variant is causative</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="In-frame deletions/insertions in a repetitive region without a known function">
              <input class="form-check-input bp" id="acmg-bp3-{{:variant}}" type="checkbox" name="bp3" value="checked" {{if bp3}}checked{{/if}} />
              <label for="acmg-bp3-{{:variant}}" class="m-0">
                <strong class="pr-2">BP3</strong> <span class="text-muted">in-frame indel in repeat</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Multiple lines of computational evidence suggest no impact on gene or gene product (conservation, evolutionary,
splicing impact, etc.)">
              <input class="form-check-input bp" id="acmg-bp4-{{:variant}}" type="checkbox" name="bp4" value="checked" {{if bp4}}checked{{/if}} />
              <label for="acmg-bp4-{{:variant}}" class="m-0">
                <strong class="pr-2">BP4</strong> <span class="text-muted">prediction: benign</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Variant found in a case with an alternate molecular basis for disease">
              <input class="form-check-input bp" id="acmg-bp5-{{:variant}}" type="checkbox" name="bp5" value="checked" {{if bp5}}checked{{/if}} />
              <label for="acmg-bp5-{{:variant}}" class="m-0">
                <strong class="pr-2">BP5</strong> <span class="text-muted">different gene in other case</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="Reputable source recently reports variant as benign, but the evidence is not available to the laboratory to perform an
independent evaluation">
              <input class="form-check-input bp" id="acmg-bp6-{{:variant}}" type="checkbox" name="bp6" value="checked" {{if bp6}}checked{{/if}} />
              <label for="acmg-bp6-{{:variant}}" class="m-0">
                <strong class="pr-2">BP6</strong> <span class="text-muted">reputable source: benign</span>
              </label>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="form-check form-check-inline" data-toggle="tooltip" title="A synonymous (silent) variant for which splicing prediction algorithms predict no impact to the splice consensus
sequence nor the creation of a new splice site AND the nucleotide is not highly conserved">
              <input class="form-check-input bp" id="acmg-bp7-{{:variant}}" type="checkbox" name="bp7" value="checked" {{if bp7}}checked{{/if}} />
              <label for="acmg-bp7-{{:variant}}" class="m-0">
                <strong class="pr-2">BP7</strong> <span class="text-muted">silent, no splicing/conservation</span>
              </label>
            </div>
          </div>

          <div class="row mt-2 pt-1 border-top mb-1">
            <div class="col px-0">
              <strong class="text-muted mx-1">5</strong> pathogenic<br>
              <strong class="text-muted mx-1">4</strong> likely pathogenic<br>
              <strong class="text-muted mx-1">3</strong> uncertain significance<br>
              <strong class="text-muted mx-1">2</strong> likely benign<br>
              <strong class="text-muted mx-1">1</strong> benign
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-2 mt-2 border-top">
        <div class="col-6 form-inline mx-0 px-0" data-toggle="tooltip" title="Automatically determined ACMG class (Richards et al., 2015)">
          <label for="acmg-class-{{:variant}}" class="mr-2">
            ACMG classification
          </label>
          <input class="form-control form-control-sm acmg-class" id="acmg-class-{{:variant}}" type="text" style="width: 2em;" name="class_auto" readonly />
        </div>
        <div class="col-6 form-inline" data-toggle="tooltip" title="Manually override the automatically determined class">
          <label for="acmg-class-override-{{:variant}}" class="mr-2">
            class override
          </label>
          <input class="form-control form-control-sm" id="acmg-class-override-{{:variant}}" type="text" style="width: 2em;" name="class_override" />
        </div>
      </div>

      <div class="row warning-conflict d-none">
        <div class="col mx-0 px-0 mt-2">
          <div class="alert alert-warning mb-0 p-2">
            <i class="fa fa-exclamation-triangle mr-1"></i>
            <strong>Caution</strong> Conflicting interpretation of variant!
          </div>
        </div>
      </div>

      <div class="row pt-2 mt-2 border-top">
        <div class="col px-0 mx-0">
          <div class="text-small text-muted font-italic">
            Select all fulfilled criteria to get the classification following Richards <i>et al.</i> (2015).
            If ne&shy;ce&shy;ssa&shy;ry, you can also specify a manual override.
          </div>
        </div>
      </div>

      <div class="row pt-2 mt-2 border-top">
        <div class="ml-auto">
          <button class="btn btn-sm btn-secondary cancel">Cancel</button>
          <button type="submit" class="btn btn-sm btn-primary save">Save</button>
        </div>
      </div>
    </form>
  </script>
{% endverbatim %}
