<div class="modal fade" id="confirm-submit-cadd" tabindex="-1" role="dialog" aria-labelledby="modalConfirmation" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <h5 class="modal-header">
        Really submit to CADD?
      </h5>
      <div class="modal-body">
        <p>
          The currently selected variants will be submitted to <strong>CADD</strong>.
        </p>
        <p>
          The CADD server is hosted by <mark>University of Washington, Seattle</mark>.
          Data will be transferred over encrypted connections only.
        </p>
        <p>
          Overall, the following information will be submitted to CADD:
        </p>
        <ul>
          <li><mark>variants passing the filter</mark> excluding the genotype information</li>
        </ul>
        <p>
          Please confirm that you agree, have the sufficient consent, and want to proceed.
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" name="submit" value="submit-cadd" class="btn btn-danger">
          Yes, Submit
        </button>
      </div>
    </div>
  </div>
</div>
