{# BackgroundJob list #}
<div id="varfish-va-case-list" class="card mb-3">
  <div class="card-body p-0">
    <table id="varfish-va-table" class="table table-striped sodar-card-table">
      <thead>
        <tr>
          <th>Created</th>
          <th>Name</th>
          <th>Individuals</th>
        </tr>
      </thead>
      <tbody>
        {% for case in object_list %}
          {% include "variants/_case_item.html" with item=case details_card_mode=False %}
        {% endfor %}
        {% if not object_list %}
          <tr>
             <td class="bg-faded font-italic text-center" colspan="3">
               No cases added yet.
             </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
