{% load projectroles_common_tags %}
{% get_django_setting 'VARFISH_ENABLE_SVS' as svs_enabled %}

<div class="ml-auto">
  <a class="btn btn-primary" href="{% url "variants:case-filter" project=project.sodar_uuid case=object.sodar_uuid %}">
    <i class="fa fa-filter"></i>
    Filter Case
  </a>
  <a class="btn btn-primary" href="{% url "variants:case-clinvar" project=project.sodar_uuid case=object.sodar_uuid %}">
    <i class="fa fa-hospital-o"></i>
    ClinVar Report
  </a>

  {% if svs_enabled %}
    <a class="btn btn-primary" href="{% url "svs:case-filter" project=project.sodar_uuid case=object.sodar_uuid %}">
      <i class="fa fa-align-center fa-flip-vertical"></i>
      Filter SVs
    </a>
  {% endif %}

  {% if request.user.is_superuser %}
    <a class="btn btn-danger" href="{% url "variants:case-update" project=project.sodar_uuid case=object.sodar_uuid %}">
      <i class="fa fa-align-center fa-edit"></i>
      Edit Pedigree
    </a>
  {% endif %}
</div>
