{% load projectroles_common_tags %}
{% get_django_setting 'VARFISH_ENABLE_SVS' as svs_enabled %}

<div class="ml-auto btn-group">
  {% if query_type == "case" %}
    <a class="btn btn-secondary" href="{% url "variants:case-detail" project=project.sodar_uuid case=object.sodar_uuid %}">
      <i class="fa fa-arrow-circle-left"></i>
      Back to Case
    </a>
  {% else %}
    <a class="btn btn-secondary" href="{% url "variants:case-list" project=project.sodar_uuid %}">
      <i class="fa fa-arrow-circle-left"></i>
      Back to List
    </a>
  {% endif %}

  {% if query_type == "case" %}
    {% if svs_enabled %}
      <a class="btn btn-primary{% if not case.num_svs %} disabled{% endif %}" href="{% url "svs:case-filter" project=project.sodar_uuid case=object.sodar_uuid %}">
        <i class="fa fa-align-center fa-flip-vertical"></i>
        Filter SVs
      </a>
    {% endif %}
  {% endif %}
</div>
