<div class="btn-group ml-auto">
  <div class="btn-group" id="sodar-ej-buttons-list">
    <button class="btn btn-primary dropdown-toggle"
            type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      Operations
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="{% url "variants:case-filter" project=project.sodar_uuid case=object.sodar_uuid %}">
        <i class="fa fa-filter"></i>
        Filter Case
      </a>
    </div>
  </div>
</div>
