<div class="ml-auto btn-group">
  {% if not kiosk_mode %}
    <a class="btn btn-secondary" href="{% url 'projectroles:detail' project=project.sodar_uuid %}">
      <i class="fa fa-arrow-circle-left"></i>
      Back to Project
    </a>
  {% endif %}
  <a class="btn btn-primary" href="{% url "variants:project-cases-filter" project=project.sodar_uuid %}">
    <i class="fa fa-filter"></i>
    Joint Filtration
  </a>
  {% if request.user.is_superuser or kiosk_mode %}
    <a class="btn btn-danger{% if not project.sex_errors %} disabled{% endif %}" href="{% url "variants:project-cases-fix-sex" project=project.sodar_uuid %}">
      <i class="fa fa-venus-mars"></i>
      Fix Sex
    </a>
  {% endif %}
</div>
