{% load variants_tags %}

<table class="table table-striped sodar-card-table sodar-bj-detail-table">
  <thead>
    <tr>
      <th style="width:10px">#</th>
      <th>Created</th>
      <th id="sodar-vars-list-header-name">Name</th>
      <th id="sodar-vars-list-header-individuals">Individuals</th>
    </tr>
  </thead>
  <tbody>
    {% get_details_cases project as cases %}
    {% if cases.count > 0 %}
      {% for case in cases %}
        {% include 'variants/case/item.html' with item=case details_card_mode=True %}
      {% endfor %}
      <tr>
        <td class="bg-faded" colspan="4">
          <a href="{% url 'variants:case-list' project=project.sodar_uuid %}" class="btn btn-secondary btn-small">
            <i class="fa fa-list"></i> See list of all cases
          </a>
        </td>
      </tr>
    {% else %}
        <tr>
          <td class="bg-faded font-italic text-center" colspan="4">No cases (yet)</td>
        </tr>
    {% endif %}
  </tbody>
</table>
