<div class="btn-group ml-auto">
  <a class="btn btn-secondary" href="{{ object.case.get_filter_url }}">
    <i class="fa fa-arrow-left"></i>
    Return to Case
  </a>
  <div class="btn-group" id="sodar-ej-buttons-list">
    <button class="btn btn-primary dropdown-toggle"
            type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      Operation
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      {# Folder #}
      <a class="dropdown-item" href="#">
        <i class="fa fa-fw fa-trash"></i> Remove Job
      </a>
    </div>
  </div>
</div>
