{% load crispy_forms_tags %}
{% load dict %}
{% load humanize %}
{% load projectroles_common_tags %}
{% load variants_tags %}

{% get_django_setting 'VARFISH_ENABLE_EXOMISER_PRIORITISER' as exomiser_enabled %}
{% get_django_setting 'VARFISH_ENABLE_CADD' as cadd_enabled %}
{% get_django_setting 'VARFISH_ENABLE_CADD_SUBMISSION' as cadd_submission_enabled %}
{% get_django_setting 'VARFISH_ENABLE_SPANR_SUBMISSION' as spanr_submission_enabled %}
{% get_django_setting 'VARFISH_MAX_CASE_QUERY_COUNT' as max_case_query_count %}
{% get_is_testing as is_testing %}

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form id="filterForm" method="post" data-case-count="{{ case_count }}" data-case-max-count="{{ max_case_query_count }}">{% csrf_token %}
  {{ form.cohort }}
  {% if is_testing %}<span style="display: none;" class="testing" id="panel-app-is-testing">enabled</span>{% endif %}
  <div class="card">
    <div class="card-header">
      {% include "variants/filter_form/presets.html" %}
    </div>
    <div class="card-header row border-bottom-1 pt-1 pr-1">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" id="genotype-tab" data-toggle="tab" href="#panel-genotype" role="tab"
               data-tooltip="tooltip" title="Require genotypes in individuals">Genotype</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link" id="prioritization-tab" data-toggle="tab" href="#panel-prioritization" role="tab"
              data-tooltip="tooltip" title="Configure variant prioritization">Prioritization</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="frequency-tab" data-toggle="tab" href="#panel-frequency" role="tab"
              data-tooltip="tooltip" title="Population frequencies and het./hom. counts">Frequency</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="more-tab" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More ...</a>
            <div class="dropdown-menu" style="z-index:1030;">
              <a class="dropdown-item" id="effect-tab" data-toggle="tab" href="#panel-effect" role="tab"
                data-tooltip="tooltip" title="Variant types/effects, coding/non-coding transcripts">Variants &amp; Effects</a>
              <a class="dropdown-item" id="quality-tab" data-toggle="tab" href="#panel-quality" role="tab"
                data-tooltip="tooltip" title="Quality, allelic balance, coverage">Quality</a>
              <a class="dropdown-item" id="clinvar-tab" data-toggle="tab" href="#panel-clinvar" role="tab"
                data-tooltip="tooltip" title="Filter using Clinvar/HGMD/dbSNP membership"">Clinvar, HGMD & dbSNP</a>
              <a class="dropdown-item" id="blocklist-tab" data-toggle="tab" href="#panel-blocklist" role="tab"
                data-tooltip="tooltip" title="Allow-list and block-list genes and genomic regions">Gene Lists &amp; Regions</a>
              <a class="dropdown-item" id="flags-tab" data-toggle="tab" href="#panel-flags" role="tab"
                data-tooltip="tooltip" title="Filter for user flags and comments">Flags &amp; Comments</a>
              <a class="dropdown-item" id="export-tab" data-toggle="tab" href="#panel-export" role="tab"
                data-tooltip="tooltip" title="Configure downloadable file creation" data-placement="left">Configure Downloads</a>
              <a class="dropdown-item" id="misc-tab" data-toggle="tab" href="#panel-misc" role="tab"
                data-tooltip="tooltip" title="Various settings" data-placement="left">Miscellaneous</a>
              <a class="dropdown-item" id="settings-tab" data-toggle="tab" href="#panel-settings" role="tab"
                data-tooltip="tooltip" title="Save current filter settings">Filter Import/Export</a>
            </div>
          </li>
        </ul>
    </div>

    <div class="card-body p-0">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="panel-genotype" role="tabpanel" aria-labelledby="genotype-tab">
          {% if not case_count or case_count <= max_case_query_count %}
            {% include "variants/filter_form/genotype.html" %}
          {% else %}
            <div style="overflow-y: auto !important; max-height: 400px;">
              <div class="danger ml-3 mr-3 mt-3 mb-3">
                <span class="iconify text-danger" data-icon="fa-solid:exclamation-triangle"></span>
                This {% if cohort %} cohort {% else %} project {% endif %} has {{ case_count }} cases.
                Currently, VarFish is limited to filter at most {{ max_case_query_count }} at once.
                For now, a workaround is to split your {% if cohort %} cohort {% else %} project {% endif %} into smaller cohorts.
                The VarFish developer team is working on resolving this for the v2.x branch.
                You can <a href="https://github.com/bihealth/varfish-server/issues/309">track the progress here</a>.
              </div>
            </div>
          {% endif %}
          </div>
        <div class="tab-pane fade" id="panel-frequency" role="tabpanel" aria-labelledby="frequency-tab">
          {% include "variants/filter_form/frequency.html" %}
        </div>
        <div class="tab-pane fade" id="panel-effect" role="tabpanel" aria-labelledby="effect-tab">
          {% include "variants/filter_form/effect.html" %}
        </div>
        <div class="tab-pane fade" id="panel-quality" role="tabpanel" aria-labelledby="quality-tab">
          {% include "variants/filter_form/quality.html" %}
        </div>
        <div class="tab-pane fade" id="panel-blocklist" role="tabpanel" aria-labelledby="blocklist-tab">
          {% include "variants/filter_form/genelists.html" %}
        </div>
        <div class="tab-pane fade" id="panel-flags" role="tabpanel" aria-labelledby="flags-tab">
          {% include "variants/filter_form/flags.html" %}
        </div>
        <div class="tab-pane fade" id="panel-prioritization" role="tabpanel" aria-labelledby="prioritization-tab">
          {% include "variants/filter_form/prioritization.html" %}
        </div>
        <div class="tab-pane fade" id="panel-clinvar" role="tabpanel" aria-labelledby="clinvar-tab">
          {% include "variants/filter_form/clinvar_hgmd_indicator.html" %}
        </div>
        <div class="tab-pane fade" id="panel-export" role="tabpanel" arial-labelledby="export-tab">
          {% include "variants/filter_form/export.html" %}
        </div>
        <div class="tab-pane fade" id="panel-misc" role="tabpanel" arial-labelledby="misc-tab">
          {% include "variants/filter_form/misc.html" %}
        </div>
        <div class="tab-pane fade" id="panel-settings" role="tabpanel" arial-labelledby="settings-tab">
          {% include "variants/filter_form/settings.html" %}
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col text-left p-0">
          <div class="btn-group btn-group-toggle pr-5" data-toggle="buttons">
            {% for radio in form.database_select %}
            <label class="btn btn-outline-secondary {% if radio.data.selected %}active{% endif %}" for="{{ radio.id_for_label }}" data-toggle="tooltip" title="Select {{ radio.choice_label }} transcripts">
              {{ radio.tag }} {{ radio.choice_label }}
            </label>
            {% endfor %}
          </div>
        </div>
        <div class="col text-right p-0">
          {% if case_count > max_case_query_count %}
            <button class="btn btn-primary" disabled>
              <span class="iconify" data-icon="fa-solid:times-circle"></span>
              Filter Disabled
            </button>
          {% else %}
            <div class="btn-group">
              <button type="button" id="submitFilter" name="submit" value="display" class="btn btn-primary"
                      title='Filter variants again with current settings, limited to "Miscellaneous / Result row limit" results and display in table below'
                      data-url='{{ submit_button_url }}'
                      data-url-reload='{{ load_data_url }}'
                      data-url-request-last-job='{{ request_previous_job_url }}'
                      data-url-status='{{ job_status_url }}'
                      {% if num_small_vars == 0 or not variant_set_exists %}disabled{% endif %}>
                <i class="iconify" data-icon="mdi:refresh"></i>
                Filter &amp; Display
              </button>
              <button class="btn btn-secondary dropdown-toggle" type="button" id="filterdisplayoptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="iconify" data-icon="fa-solid:ellipsis-h"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="filterdisplayoptions" style="z-index: 3000">
                <button type="submit" name="submit" value="download" class="dropdown-item" data-toggle="tooltip" aria-haspopup="true" aria-expanded="false" data-html="true"
                        title="Create downloadable file in the background of <i><b>all</b></i> variants with current settings (ignoring result count limit)."
                        {% if num_small_vars == 0 or not variant_set_exists %}disabled{% endif %}>
                  <i class="iconify" data-icon="fa-solid:cloud-download-alt"></i>
                  Download as File
                </button>
                {% if not case_count %}{# not for multi-case queries #}
                  {% if allow_md_submission %}
                    {% if form.case.release == "GRCh37" %}
                      <button type="button" class="dropdown-item" data-toggle="modal" data-target="#confirm-submit-mutationdistiller"
                              data-tooltip="tooltip" aria-haspopup="true" aria-expanded="false"
                              title="Submit to MutationDistiller (only supports single-sample VCF at the moment)"
                              {% if num_small_vars == 0 or not variant_set_exists %}disabled{% endif %}>
                        <i class="iconify" data-icon="bi:send-fill"></i>
                        Submit to MutationDistiller
                      </button>
                    {% else %}
                      <button type="button" class="dropdown-item disabled">
                        <i class="iconify" data-icon="bi:send-fill"></i>
                        MutationDistiller: Only GRCh37
                      </button>
                    {% endif %}
                  {% endif %}
                  {% if cadd_submission_enabled %}
                    <button type="button" value="submit-to-cadd" class="dropdown-item" data-toggle="modal" data-target="#confirm-submit-cadd"
                            data-tooltip="tooltip" aria-haspopup="true" aria-expanded="false"
                            title="Submit to CADD"
                            {% if num_small_vars == 0 or not variant_set_exists %}disabled{% endif %}>
                      <i class="iconify" data-icon="bi:send-fill"></i>
                      Submit to CADD
                    </button>
                  {% endif %}
                  {% if spanr_submission_enabled %}
                    {% if form.case.release == "GRCh37" %}
                      <button type="button" class="dropdown-item" data-toggle="modal" data-target="#confirm-submit-spanr"
                              data-tooltip="tooltip" aria-haspopup="true" aria-expanded="false"
                              title="Submit to SPANR"
                              {% if num_small_vars == 0 or not variant_set_exists %}disabled{% endif %}>
                        <i class="iconify" data-icon="bi:send-fill"></i>
                        Submit to SPANR
                      </button>
                    {% else %}
                      <button type="button" class="dropdown-item disabled">
                        <i class="iconify" data-icon="bi:send-fill"></i>
                        SPANR: Only GRCh37
                      </button>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include "variants/_distiller_resubmit_modal.html" %}
  {% include "variants/_cadd_resubmit_modal.html" %}
  {% include "variants/_spanr_resubmit_modal.html" %}
</form>

<script type="text/javascript">
  $('[data-toggle-second="tooltip"]').tooltip({container: 'body'});
  const anchor = window.location.hash;
  $(`a[href="${anchor}"]`).tab('show')
</script>
