{% load crispy_forms_tags %}
{% load dict %}
{% load humanize %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form id="filterForm" method="post">{% csrf_token %}
  <div class="card">
    <div class="card-header row border-bottom-0 pt-1 pr-1">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" id="genotype-tab" data-toggle="tab" href="#panel-genotype" role="tab"
               data-tooltip="tooltip" title="Require genotypes in individuals">Genotype</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="frequency-tab" data-toggle="tab" href="#panel-frequency" role="tab"
              data-tooltip="tooltip" title="Population frequencies and het./hom. counts">Frequency</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link" id="effect-tab" data-toggle="tab" href="#panel-effect" role="tab"
              data-tooltip="tooltip" title="Variant types/effects, coding/non-coding transcripts">Variants &amp; Effects</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link" id="effect-tab" data-toggle="tab" href="#panel-quality" role="tab"
              data-tooltip="tooltip" title="Quality, allelic balance, coverage">Quality</a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" id="quality-tab" data-toggle="tab" href="#panel-blacklist" role="tab"
              data-tooltip="tooltip" title="White-list and black-list genes">Gene Lists</a>
          </li>
          <li class="nav-item d-none d-xl-block">
            <a class="nav-link" id="blacklist-tab" data-toggle="tab" href="#panel-flags" role="tab"
              data-tooltip="tooltip" title="Filter for user flags and comments">Flags &amp; Comments</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More ...</a>
            <div class="dropdown-menu">
              <a class="dropdown-item d-md-none" id="effect-tab" data-toggle="tab" href="#panel-effect" role="tab"
                data-tooltip="tooltip" title="Variant types/effects, coding/non-coding transcripts" data-placement="left">Variants &amp; Effect</a>
              <a class="dropdown-item d-md-none" id="quality-tab" data-toggle="tab" href="#panel-quality" role="tab"
                data-tooltip="tooltip" title="Quality, allelic balance, coverage" data-placement="left">Quality</a>
              <a class="dropdown-item d-lg-none" id="blacklist-tab" data-toggle="tab" href="#panel-blacklist" role="tab"
                data-tooltip="tooltip" title="White-list and black-list genes" data-placement="left">Gene Lists</a>
              <a class="dropdown-item d-xl-none" id="flags-tab" data-toggle="tab" href="#panel-flags" role="tab"
                data-tooltip="tooltip" title="Filter for user flags and comments" data-placement="left">Flags &amp; Comments</a>
              <a class="dropdown-item" id="clinvar-tab" data-toggle="tab" href="#panel-clinvar" role="tab"
                data-tooltip="tooltip" title="Filter using Clinvar/HGMD membership" data-placement="left">Clinvar & HGMD</a>
              <a class="dropdown-item" id="export-tab" data-toggle="tab" href="#panel-export" role="tab"
                data-tooltip="tooltip" title="Configure downloadable file creation" data-placement="left">Configure Downloads</a>
              <a class="dropdown-item" id="misc-tab" data-toggle="tab" href="#panel-misc" role="tab"
                data-tooltip="tooltip" title="Various settings" data-placement="left">Miscellaneous</a>
              <a class="dropdown-item" id="settings-tab" data-toggle="tab" href="#panel-settings" role="tab"
                data-tooltip="tooltip" title="Save current filter settings" data-placement="left">Filter Import/Export</a>
            </div>
          </li>
        </ul>
        <div class="ml-auto">
          <div class="dropdown">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="presets-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="d-none d-sm-inline">
                Load Presets
              </span>
              <span class="d-inline d-sm-none">
                <i class="fa fa-sliders"></i>
              </span>
            </button>
            <div class="dropdown-menu" aria-labelledby="presets-menu-button">
              <a class="dropdown-item load-presets" href="#" data-preset-name="medgen-strict">Med. Gen: Strict</a>
              <a class="dropdown-item load-presets" href="#" data-preset-name="medgen-relaxed">Med. Gen: Relaxed</a>
              <a class="dropdown-item load-presets" href="#" data-preset-name="medgen-clinvar">Med. Gen: Clinvar</a>
              <a class="dropdown-item load-presets" href="#" data-preset-name="full-exome">Full Exome</a>
            </div>
          </div>
        </div>
    </div>

    <div class="card-body p-0">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="panel-genotype" role="tabpanel" aria-labelledby="genotype-tab">
          {% include "variants/filter_form/genotype.html" %}
        </div>
        <div class="tab-pane fade" id="panel-frequency" role="tabpanel" aria-labelledby="frequency-tab">
          {% include "variants/filter_form/frequency.html" %}
        </div>
        <div class="tab-pane fade" id="panel-effect" role="tabpanel" aria-labelledby="effect-tab">
          {% include "variants/filter_form/effect.html" %}
        </div>
        <div class="tab-pane fade" id="panel-quality" role="tabpanel" aria-labelledby="quality-tab">
          {% include "variants/filter_form/quality.html" %}
        </div>
        <div class="tab-pane fade" id="panel-blacklist" role="tabpanel" aria-labelledby="blacklist-tab">
          {% include "variants/filter_form/genelists.html" %}
        </div>
        <div class="tab-pane fade" id="panel-flags" role="tabpanel" aria-labelledby="flags-tab">
          {% include "variants/filter_form/flags.html" %}
        </div>
        <div class="tab-pane fade" id="panel-clinvar" role="tabpanel" aria-labelledby="clinvar-tab">
          {% include "variants/filter_form/clinvar_hgmd_indicator.html" %}
        </div>
        <div class="tab-pane fade" id="panel-export" role="tabpanel" arial-labelledby="export-tab">
          {% include "variants/filter_form/export.html" %}
        </div>
        <div class="tab-pane fade" id="panel-misc" role="tabpanel" arial-labelledby="misc-tab">
          {% include "variants/filter_form/misc.html" %}
        </div>
        <div class="tab-pane fade" id="panel-settings" role="tabpanel" arial-labelledby="settings-tab">
          {% include "variants/filter_form/settings.html" %}
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col text-left p-0">
          <div class="btn-group btn-group-toggle pr-5" data-toggle="buttons">
            {% for radio in form.database_select %}
            <label class="btn btn-outline-secondary {% if radio.data.selected %}active{% endif %}" for="{{ radio.id_for_label }}" data-toggle="tooltip" title="Select {{ radio.choice_label }} transcripts">
              {{ radio.tag }} {{ radio.choice_label }}
            </label>
            {% endfor %}
          </div>
        </div>
        <div class="col text-right p-0">
          <div class="btn-group">
            <button type="submit" name="submit" value="display" class="btn btn-primary"data-toggle="tooltip" aria-haspopup="true" aria-expanded="false" data-html="true"
                    title="Filter variants again with current settings, limited to <i><b>Miscellaneous / Result row limit</b></i> results and display in table below">
              <i class="fa fa-refresh"></i>
              Filter &amp; Display
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" style="z-index: 1030;">
              <button type="submit" name="submit" value="download" class="dropdown-item btn-secondary" data-toggle="tooltip" aria-haspopup="true" aria-expanded="false" data-html="true"
                    title="Create downloadable file in the background of <i><b>all</b></i> variants with current settings (ignoring result count limit).">
                <i class="fa fa-cloud-download"></i>
                Download as File
              </button>
              <button type="button" class="dropdown-item btn-secondary" data-toggle="modal" data-target="#confirm-submit-mutationdistiller"
                    data-tooltip="tooltip" aria-haspopup="true" aria-expanded="false"
                    title="Submit to MutationDistiller (only supports single-sample VCF at the moment)">
                <i class="fa fa-mail-forward"></i>
                Submit to MutationDistiller
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "variants/_distiller_resubmit_modal.html" %}
</form>

<script type="text/javascript">
  $('[data-toggle-second="tooltip"]').tooltip();
  const anchor = window.location.hash;
  $(`a[href="${anchor}"]`).tab('show')
</script>
