<div class="ml-auto">
  {% if kiosk_mode %}
    <a class="btn btn-secondary" href="{% url "variants:case-filter" project=project.sodar_uuid case=object.case.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:arrow-left-circle"></i>
      Back to Filter
    </a>
  {% endif %}
  <div class="btn-group" id="sodar-ej-buttons-list">
    <button class="btn btn-primary dropdown-toggle"
            type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      Operation
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">
        <i class="fa fa-fw fa-trash"></i> Remove Job
      </a>
    </div>
  </div>
</div>
