{# Bookmark for the variant bookmark popup #}
{% verbatim %}
  <script id="multi-bookmark-flags-modal" type="text/x-jsrender">
    <div class="alert alert-info">
      <strong>{{:number_selected_variants}}</strong> variants selected.
    </div>
    {{if warning_exists}}
    <div class="alert alert-warning">
      <i class="iconify" data-icon="bi:exclamation-circle-fill"></i>
      There are conflicting flags between the selected variants.
      Those flags are highlighted and set to the configuration of the first selected variant.
    </div>
    {{/if}}
    <form style="width: 25em;">
      <div class="form-group mb-1 row">
        <label class="pr-3" data-toggle="tooltip" title="Special Flags">
          <i class="iconify pr-1" data-icon="fa-regular:flag"></i>
          Flags
        </label>
        <div class="ml-auto">
          <div class="form-check form-check-inline {{if flag_bookmarked_warning}}alert alert-warning p-1 m-1{{/if}}" data-toggle="tooltip" title="bookmarked">
            <input class="form-check-input" id="comment-check-bookmark" type="checkbox" name="flag_bookmarked" value="checked" {{if flag_bookmarked}}checked{{/if}} />
            <label for="comment-check-bookmark" class="m-0"><i class="iconify" data-icon="fa-solid:star"></i></label>
          </div>
          <div class="form-check form-check-inline {{if flag_for_validation_warning}}alert alert-warning p-1 m-1{{/if}}" data-toggle="tooltip" title="selected for validation">
            <input class="form-check-input" id="comment-check-flag" type="checkbox" name="flag_for_validation" value="checked" {{if flag_for_validation}}checked{{/if}} />
            <label for="comment-check-flag" class="m-0"><i class="iconify" data-icon="fa-solid:flask"></i></label>
          </div>
          <div class="form-check form-check-inline {{if flag_candidate_warning}}alert alert-warning p-1 m-1{{/if}}" data-toggle="tooltip" title="candidate variant">
            <input class="form-check-input" id="comment-check-candidate" type="checkbox" name="flag_candidate" value="checked" {{if flag_candidate}}checked{{/if}} />
            <label for="comment-check-candidate" class="m-0"><i class="iconify" data-icon="fa-solid:heart"></i></label>
          </div>
          <div class="form-check form-check-inline {{if flag_final_causative_warning}}alert alert-warning p-1 m-1{{/if}}" data-toggle="tooltip" title="final causative/reported">
            <input class="form-check-input" id="comment-check-causative" type="checkbox" name="flag_final_causative" value="checked" {{if flag_final_causative}}checked{{/if}} />
            <label for="comment-check-causative" class="m-0"><i class="iconify" data-icon="fa-solid:flag-checkered"></i></label>
          </div>
        </div>
        <div class="ml-auto">
          <div class="form-check form-check-inline {{if flag_no_disease_association_warning}}alert alert-warning p-1 m-1{{/if}}" data-toggle="tooltip" title="gene affected by this variant has no known disease association">
            <input class="form-check-input" id="comment-check-association" type="checkbox" name="flag_no_disease_association" value="checked" {{if flag_no_disease_association}}checked{{/if}} />
            <label for="comment-check-no-disease-association" class="m-0"><i class="iconify" data-icon="cil:link-broken"></i></label>
          </div>
          <div class="form-check form-check-inline {{if flag_segregates_warning}}alert alert-warning p-1 m-1{{/if}}" data-toggle="tooltip" title="variant does segregate">
            <input class="form-check-input" id="comment-check-segregates" type="checkbox" name="flag_segregates" value="checked" {{if flag_segregates}}checked{{/if}} />
            <label for="comment-check-segregates" class="m-0"><i class="iconify" data-icon="fa-regular:thumbs-up"></i></label>
          </div>
          <div class="form-check form-check-inline {{if flag_doesnt_segregate_warning}}alert alert-warning p-1 m-1{{/if}}" data-toggle="tooltip" title="variant doesn't segregate">
            <input class="form-check-input" id="comment-check-doesnt-segregate" type="checkbox" name="flag_doesnt_segregate" value="checked" {{if flag_doesnt_segregate}}checked{{/if}} />
            <label for="comment-check-doesnt-segregate" class="m-0"><i class="iconify" data-icon="fa-regular:thumbs-down"></i></label>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-group mb-1 row {{if flag_visual_warning}}alert alert-warning p-1 m-0{{/if}}">
        <label class="pr-3" data-toggle="tooltip" title="Visual Inspection (IGV)">
          <i class="iconify pr-1" data-icon="fa-regular:eye"></i>
          Visual
        </label>
        <div class="ml-auto">
          <div class="form-check form-check-inline" data-toggle="tooltip" title="true variant">
            <input class="form-check-input" id="comment-radio-visual-positive" type="radio" name="flag_visual" value="positive" {{if flag_visual == "positive"}}checked{{/if}}/>
            <label for="comment-radio-visual-positive" class="m-0"><i class="iconify text-danger" data-icon="fa-solid:exclamation-circle"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="uncertain">
            <input class="form-check-input" id="comment-radio-visual-uncertain" type="radio" name="flag_visual" value="uncertain" {{if flag_visual == "uncertain"}}checked{{/if}} />
            <label for="comment-radio-visual-uncertain" class="m-0"><i class="iconify text-warning" data-icon="fa-solid:question"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="artifact">
            <input class="form-check-input" id="comment-radio-visual-negative" type="radio" name="flag_visual" value="negative" {{if flag_visual == "negative"}}checked{{/if}}/>
            <label for="comment-radio-visual-negative" class="m-0"><i class="iconify text-success" data-icon="fa-solid:minus-circle"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="not considered">
            <input class="form-check-input" id="comment-radio-visual-empty" type="radio" name="flag_visual" value="empty" {{if flag_visual == "empty"}}checked{{/if}} />
            <label for="comment-radio-visual-empty" class="m-0"><i class="iconify text-secondary" data-icon="fa-solid:times"></i></label>
          </div>
        </div>
      </div>
      <div class="form-group mb-1 row {{if flag_molecular_warning}}alert alert-warning p-1 m-0{{/if}}">
        <label class="pr-3" data-toggle="tooltip" title="Evidence for variant being missense">
          <i class="iconify pr-1" data-icon="fa-solid:fire"></i>
          Molecular
        </label>
        <div class="ml-auto">
          <div class="form-check form-check-inline" data-toggle="tooltip" title="strong evidence for missense variant">
            <input class="form-check-input" id="comment-radio-molecular-positive" type="radio" name="flag_molecular" value="positive" {{if flag_molecular == "positive"}}checked{{/if}}/>
            <label for="comment-radio-molecular-positive" class="m-0"><i class="iconify text-danger" data-icon="fa-solid:exclamation-circle"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="medium evidence for missense variant">
            <input class="form-check-input" id="comment-radio-molecular-uncertain" type="radio" name="flag_molecular" value="uncertain" {{if flag_molecular == "uncertain"}}checked{{/if}} />
            <label for="comment-radio-molecular-uncertain" class="m-0"><i class="iconify text-warning" data-icon="fa-solid:question"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="weak evidence for missense variant">
            <input class="form-check-input" id="comment-radio-molecular-negative" type="radio" name="flag_molecular" value="negative" {{if flag_molecular == "negative"}}checked{{/if}}/>
            <label for="comment-radio-molecular-negative" class="m-0"><i class="iconify text-success" data-icon="fa-solid:minus-circle"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="not considered">
            <input class="form-check-input" id="comment-radio-molecular-empty" type="radio" name="flag_molecular" value="empty" {{if flag_molecular == "empty"}}checked{{/if}} />
            <label for="comment-radio-molecular-empty" class="m-0"><i class="iconify text-secondary" data-icon="fa-solid:times"></i></label>
          </div>
        </div>
      </div>
      <div class="form-group mb-1 row {{if flag_validation_warning}}alert alert-warning p-1 m-0{{/if}}">
        <label class="pr-3" data-toggle="tooltip" title="Wet-lab Validation">
          <i class="iconify pr-1" data-icon="fa-solid:flask"></i>
          Validation
        </label>
        <div class="ml-auto">
          <div class="form-check form-check-inline" data-toggle="tooltip" title="confirmed / true variant">
            <input class="form-check-input" id="comment-radio-validation-positive" type="radio" name="flag_validation" value="positive" {{if flag_validation == "positive"}}checked{{/if}} />
            <label for="comment-radio-validation-positive" class="m-0"><i class="iconify text-danger" data-icon="fa-solid:exclamation-circle"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="uncertain">
            <input class="form-check-input" id="comment-radio-validation-uncertain" type="radio" name="flag_validation" value="uncertain" {{if flag_validation == "uncertain"}}checked{{/if}} />
            <label for="comment-radio-validation-uncertain" class="m-0"><i class="iconify text-warning" data-icon="fa-solid:question"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="not confirmed / artifact">
            <input class="form-check-input" id="comment-radio-validation-negative" type="radio" name="flag_validation" value="negative" {{if flag_validation == "negative"}}checked{{/if}} />
            <label for="comment-radio-validation-negative" class="m-0"><i class="iconify text-success" data-icon="fa-solid:minus-circle"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="assign no rating">
            <input class="form-check-input" id="comment-radio-validation-empty" type="radio" name="flag_validation" value="empty" {{if flag_validation == "empty"}}checked{{/if}} />
            <label for="comment-radio-validation-empty" class="m-0"><i class="iconify text-secondary" data-icon="fa-solid:times"></i></label>
          </div>
        </div>
      </div>
      <div class="form-group mb-1 row {{if flag_phenotype_match_warning}}alert alert-warning p-1 m-0{{/if}}">
        <label class="pr-3" data-toggle="tooltip" title="Phenotype / Clinic Match">
          <i class="iconify pr-1" data-icon="fa-solid:user-md"></i>
          Pheno./Clinic
        </label>
        <div class="ml-auto">
          <div class="form-check form-check-inline" data-toggle="tooltip" title="good match">
            <input class="form-check-input" id="comment-radio-clinic-positive" type="radio" name="flag_phenotype_match" value="positive" {{if flag_phenotype_match == "positive"}}checked{{/if}} />
            <label for="comment-radio-clinic-positive" class="m-0"><i class="iconify text-danger" data-icon="fa-solid:exclamation-circle"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="uncertain">
            <input class="form-check-input" id="comment-radio-clinic-uncertain" type="radio" name="flag_phenotype_match" value="uncertain" {{if flag_phenotype_match == "uncertain"}}checked{{/if}} />
            <label for="comment-radio-clinic-uncertain" class="m-0"><i class="iconify text-warning" data-icon="fa-solid:question"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="no match">
            <input class="form-check-input" id="comment-radio-clinic-negative" type="radio" name="flag_phenotype_match" value="negative" {{if flag_phenotype_match == "negative"}}checked{{/if}} />
            <label for="comment-radio-clinic-negative" class="m-0"><i class="iconify text-success" data-icon="fa-solid:minus-circle"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="assign no rating">
            <input class="form-check-input" id="comment-radio-clinic-empty" type="radio" name="flag_phenotype_match" value="empty" {{if flag_phenotype_match == "empty"}}checked{{/if}} />
            <label for="comment-radio-clinic-empty" class="m-0"><i class="iconify text-secondary" data-icon="fa-solid:times"></i></label>
          </div>
        </div>
      </div>
      <div class="form-group mb-1 row {{if flag_summary_warning}}alert alert-warning p-1 m-0{{/if}}">
        <label class="pr-3" data-toggle="tooltip" title="Summary, overrides rating selected above">
          <i class="iconify pr-1" data-icon="fa-solid:paint-brush"></i>
          Summary
        </label>
        <div class="ml-auto">
          <div class="form-check form-check-inline" data-toggle="tooltip" title="pathogenic">
            <input class="form-check-input" id="comment-radio-summary-positive" type="radio" name="flag_summary" value="positive" {{if flag_summary == "positive"}}checked{{/if}} />
            <label for="comment-radio-summary-positive" class="m-0"><i class="iconify text-danger" data-icon="fa-solid:exclamation-circle"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="uncertain">
            <input class="form-check-input" id="comment-radio-summary-uncertain" type="radio" name="flag_summary" value="uncertain" {{if flag_summary == "uncertain"}}checked{{/if}} />
            <label for="comment-radio-summary-uncertain" class="m-0"><i class="iconify text-warning" data-icon="fa-solid:question"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="benign or artifact">
            <input class="form-check-input" id="comment-radio-summary-negative" type="radio" name="flag_summary" value="negative" {{if flag_summary == "negative"}}checked{{/if}} />
            <label for="comment-radio-summary-negative" class="m-0"><i class="iconify text-success" data-icon="fa-solid:minus-circle"></i></label>
          </div>
          <div class="form-check form-check-inline" data-toggle="tooltip" title="assign no rating">
            <input class="form-check-input" id="comment-radio-summary-empty" type="radio" name="flag_summary" value="empty" {{if flag_summary == "empty"}}checked{{/if}} />
            <label for="comment-radio-summary-empty" class="m-0"><i class="iconify text-secondary" data-icon="fa-solid:times"></i></label>
          </div>
        </div>
      </div>
      <div class="form-group mb-1">
        <label for="comment-textarea">Add Comment</label>
        <textarea class="form-control form-control-sm comment-text" id="comment-textarea" rows="3" name="text" placeholder="Enter any comment here."></textarea>
        <small class="form-text text-muted">
          Clicking <span class="badge badge-primary">Save</span> below will <strong>override</strong> the current flags
          and <strong>add a new comment</strong> (if any comment text is given).
        </small>
      </div>
      <div class="row">
        <div class="ml-auto">
          <button class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-sm btn-primary save">Save</button>
        </div>
      </div>
    </form>
  </script>
{% endverbatim %}
