<script type="text/javascript">

// --------------------------------------------------------------------------
// Django Cookie Retrieval.
//
// See: https://docs.djangoproject.com/en/1.11/ref/csrf/#acquiring-the-token-if-csrf-use-sessions-and-csrf-cookie-httponly-are-false
// --------------------------------------------------------------------------

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

// --------------------------------------------------------------------------
// Summarize VariantFlags flags
// --------------------------------------------------------------------------

function summarizeFlags(data) {
    if (data["flag_summary"] != "empty") {
        return data["flag_summary"];
    }
    var values = ["negative", "uncertain", "positive", "empty"];
    var flags = ["visual", "validation", "phenotype_match"];
    var indexes = [];
    for (var i = 0; i < flags.length; ++i) {
        var flagName = "flag_" + flags[i];
        var flagValue = data[flagName];
        if (flagValue != "empty") {
            indexes.push(values.indexOf(flagValue));
        }
    }
    indexes.push(4);
    return Math.min(...indexes);
}

// --------------------------------------------------------------------------
// Variant Bookmark Popover / AJAX Form
// --------------------------------------------------------------------------

function clickVariantBookmark() {
  // Compile popup template.
  var bookmarkPopupTpl = $.templates("#bookmark-flags-popup");
  // Store handle outmost $(this) for later hiding popup again.
  var outerThis = $(this).closest(".bookmark").find(".variant-bookmark");

  // Get variant description from triggering bookmark icon.
  var dataVariant = $(this).data("variant");
  var arrVariant = dataVariant.split("-");
  var queryArgs = {
    release: arrVariant[0],
    chromosome: arrVariant[1],
    position: arrVariant[2],
    reference: arrVariant[3],
    alternative: arrVariant[4],
    ensembl_gene_id: arrVariant[5],
  };

  // Function callback for showing the form.
  function showPopup(data) {
    var html = bookmarkPopupTpl.render(data);
    var html = $(html);

    // Setup the form elements so we can use AJAX for them.
    $(html).find(".cancel").click(function(event) {
      event.preventDefault();
      $(outerThis).popover("hide");
    });
    $(html).find(".save").click(function(event) {
      event.preventDefault();  // we will handle everything

      // Save flags
      var formData = $(this).closest("form").serialize();
      $.ajax({
        type: "POST",
        url: "{% url 'variants:small-variant-flags-api' project=project.sodar_uuid case=object.sodar_uuid %}",
        data: formData + "&csrfmiddlewaretoken=" + getCookie("csrftoken"),
        dataType: "json",
      }).done(function(data) {
        // successfully updated flags, update bookmark display
        $(outerThis).removeClass("fa-bookmark fa-bookmark-o");
        if (data["flag_bookmarked"] || data["flag_for_validation"] || data["flag_candidate"] || data["flag_final_causative"]) {
          $(outerThis).addClass("fa-bookmark");
        } else {
          $(outerThis).addClass("fa-bookmark-o");
        }
        // update row color
        var variantRow = $(outerThis).closest(".variant-row");
        variantRow.removeClass("variant-row-positive variant-row-uncertain variant-row-negative variant-row-empty");
        variantRow.addClass("variant-row-" + summarizeFlags(data));
      }).fail(function(xhr) {
        // failed, notify user
        alert("Updating variant flags failed");
      });

      // Add comment, if any
      var commentText = $(this).closest("form").find(".comment-text").val();
      if (commentText) {
        $.ajax({
          type: "POST",
          url: "{% url 'variants:small-variant-comment-api' project=project.sodar_uuid case=object.sodar_uuid %}",
          data: formData + "&csrfmiddlewaretoken=" + getCookie("csrftoken"),
          dataType: "json",
        }).done(function(data) {
          // successfully updated flags, update bookmark display
          var commentTag = $(outerThis).closest(".bookmark").find(".variant-comment");
          commentTag.removeClass("fa-comment fa-comment-o");
          commentTag.addClass("fa-comment");
        }).fail(function(xhr) {
          // failed, notify user
          alert("Adding comment failed");
        });
      }

      // Remove pop-over
      $(outerThis).popover('hide').popover("dispose");
    });

    outerThis.popover({
      title: "Flags &amp; Comments",
      html: true,
      content: html,
    }).popover("show");
  }

  // Retrieve current small variant flags from server via AJAX.
  $.ajax({
    url: "{% url 'variants:small-variant-flags-api' project=project.sodar_uuid case=object.sodar_uuid %}",
    data: queryArgs,
    dataType: "json"
  }).done(function(data) {
    // found flags, show form with these
    showPopup(data);
  }).fail(function(xhr) {
    if (xhr.status == 404) {
      // no flags found yet, show form with defaults
      var data = {
        variant: dataVariant,
        release: arrVariant[0],
        chromosome: arrVariant[1],
        position: arrVariant[2],
        reference: arrVariant[3],
        alternative: arrVariant[4],
        ensembl_gene_id: arrVariant[5],
        flag_bookmarked: true,
        flag_for_validation: false,
        flag_candidate: false,
        flag_final_causative: false,
        flag_visual: "empty",
        flag_validation: "empty",
        flag_phenotype_match: "empty",
        flag_summary: "empty",
      };
      showPopup(data);
    } else {
      // Non-404 status code, something else failed.
      alert("Retrieving small variant flags failed");
    }
  });
}

// Hide popover when clicking outside of popover.
$('body').on('click', function (e) {
    $('.variant-bookmark .variant-comment').each(function () {
        // hide any open popovers when the anywhere else in the body is clicked
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});

$(".variant-bookmark").click(clickVariantBookmark);
$(".variant-comment").click(clickVariantBookmark);
</script>
