{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load dict %}
{% load humanize %}
{% load static %}
{% load json %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item"><a href="{% url "variants:case-list" project=project.sodar_uuid %}">Cases</a></li>
  <li class="breadcrumb-item"><a href="{% url "variants:case-detail" project=project.sodar_uuid case=object.sodar_uuid %}">{{ object.name }}</a></li>
  <li class="breadcrumb-item active">Jobs</li>
{% endblock %}

{% block projectroles %}
  {% has_perm 'bgjobs.view_data' request.user project as can_view_data %}

  {% has_perm 'bgjobs.clear_own_jobs' request.user project as can_clear_own_jobs %}
  {% has_perm 'bgjobs.clear_all_jobs' request.user project as can_clear_all_jobs %}

  <div class="row sodar-pr-content-title pb-2 background-white sticky-top">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Background Jobs
      <small class="text-muted">{{ object.name }}</small>
    </h2>
    {# TODO: clear buttons #}
  </div>

  <div class="container-fluid sodar-page-container">
    {% include 'bgjobs/_backgroundjob_list.html' with object_list=case.get_background_jobs related_type="case" %}
  </div>
{% endblock %}
