{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load dict %}
{% load rules %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item active">Cases</li>
{% endblock %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    <h2 class="sodar-pr-content-title">
      Cases
    </h2>
    {% include "variants/_case_list_buttons.html" %}
  </div>

  <div class="container-fluid sodar-page-container">
    <div id="varfish-va-project-statistics" class="card mb-3">
      <h4 class="card-header">
        <i class="fa fa-bar-chart"></i>
        Project-wide Variant Statistics
      </h4>
      <div class="card-body p-0">
        {% if project.variant_stats %}
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div id="plot-relatedness"></div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div id="plot-sex-chrx-het-hom"></div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div id="plot-var-dps"></div>
            </div>
          </div>
        {% else %}
          <p class="pt-3 text-muted text-center">
            No project-wide variant statistics yet.
            Use
            <span class="badge badge-primary">
              <i class="fa fa-refresh"></i>
              Recompute Stats
            </span>
            to compute.
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="pt-0 container-fluid sodar-page-container">
    {% include 'variants/case/list.html' %}
  </div>
{% endblock %}

{% block css %}
  {{ block.super }}

  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/dt-1.10.18/b-1.5.4/datatables.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/1.10.18/integration/font-awesome/dataTables.fontAwesome.css" />

  <style type="text/css">
    table.varfish-card-table {
      display: inline-table;
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      border-bottom: 0 !important;
    }
  </style>
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  {% if project.variant_stats %}
    {% include "variants/case/script_detail_plots.html" with view_mode="project_wide" object=project %}

    <script type="text/javascript">
      /** Plot after loading is complete. */
      $(function() {
        plotlyRelatedness();
        plotlySexChrxHetHom();
        plotlyVarDps();
      });
    </script>
  {% endif %}

  <!-- DataTables -->
  <script type="text/javascript" src="https://cdn.datatables.net/v/ju/dt-1.10.18/b-1.5.4/datatables.min.js"></script>

  <script type="text/javascript">
    $(function() {
      $("#varfish-case-table").DataTable({
        paging: false,
        sDom: "T",
        "order": [[ 1, "desc" ]]
      })
    })

    $('.varfish-case-filter').keyup(function () {
      const dt = $(this).closest('.varfish-case-list-card').find('table').dataTable()
      console.log(dt)
      const v = $(this).val()
      console.log(v)
      dt.fnFilter(v)
    })
  </script>
{% endblock %}
