{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load static %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item"><a href="{% url "variants:case-list" project=project.sodar_uuid %}">Cases</a></li>
  <li class="breadcrumb-item"><a href="{% url "variants:case-detail" project=project.sodar_uuid case=object.sodar_uuid %}">{{ object.name }}</a></li>
  <li class="breadcrumb-item active">ClinVar Report</li>
{% endblock %}

{% block projectroles %}

{% block css %}
  {{ block.super }}

  <style type="text/css">
    .variant-row-positive { background-color: #28a74533; }
    .variant-row-uncertain { background-color: #ffc10733; }
    .variant-row-negative { background-color: #dc354533; }
  </style>
{% endblock %}

  <div class="row sodar-pr-content-title pb-2">
    <h2 class="sodar-pr-content-title">
      ClinVar Report
      <small class="text-muted">{{ object.name }}</small>
    </h2>
  </div>

  <div class="container-fluid sodar-page-container">
    {% include "variants/_clinvar_form.html" %}
  </div>

  {% include "variants/clinvar_report/index.html" %}

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}

  {% include "variants/_script_flags_comments.html" %}
  {% include "variants/_variant_flag_form_tpl.html" %}
{% endblock javascript %}
