{% extends 'projectroles/base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load dict %}
{% load rules %}
{% load static %}
{% load variants_tags %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item active">Cases</li>
{% endblock %}

{% block projectroles %}
  {% get_app_setting 'variants' 'disable_pedigree_sex_check' project=project as disable_pedigree_sex_check %}
  {% get_app_setting 'userprofile' 'enable_project_uuid_copy' user=request.user as enable_uuid_copy %}

  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Case List
    </h2>

    {# Project copy uuid #}
    {% if enable_uuid_copy %}
      <a role="submit" class="btn btn-link mr-2 sodar-pr-btn-title sodar-pr-btn-copy-uuid sodar-copy-btn"
         id="sodar-pr-btn-copy-uuid"
         data-clipboard-text="{{ project.sodar_uuid }}"
         title="Copy UUID to clipboard" data-toggle="tooltip" data-placement="top">
        <i class="iconify text-muted" data-icon="fa-solid:clipboard" aria-hidden="true"></i>
      </a>
    {% endif %}

    {% include "variants/_case_list_buttons.html" with disable_pedigree_sex_check=disable_pedigree_sex_check %}
  </div>

  <div class="container-fluid sodar-page-container pt-3">
    <div class="alert alert-secondary small p-2">
      <i class="iconify" data-icon="mdi:information"></i>
      This is the project case list.
      Click on a case's name below to see its detail or <strong>click the <span class="badge badge-primary"><i class="iconify" data-icon="mdi:filter"></i></span> button in its row to start filtering with a single click.</strong>
      Use the <span class="badge badge-primary"><i class="iconify" data-icon="mdi:filter"></i> Joint Filtration</span> button on the top right to analyze all cases of this project together.
      The "Quality Control" tab shows the qualiy metrics for all cases in the project.
    </div>

    <ul class="nav nav-tabs" id="cases-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="case-list-tab" data-toggle="tab" href="#case-list" role="tab" aria-controls="case-list" aria-selected="true">
          <span class="iconify" data-icon="mdi:format-list-bulleted-square" data-inline="false"></span>
          Case List
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="qc-tab" data-toggle="tab" href="#qc" role="tab" aria-controls="qc" aria-selected="false">
          <i class="iconify" data-icon="bi:bar-chart-fill"></i>
          Quality Control
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="anno-tab" data-toggle="tab" href="#annotation" role="tab" aria-controls="qc" aria-selected="false">
          <i class="iconify" data-icon="bi:bar-chart-fill"></i>
          Variant Annotation
          {% with annotation_count=project.get_annotation_count|default:0 %}
            <span class="badge badge-pill {% if annotation_count == 0 %}badge-secondary{% else %}badge-primary{% endif %}">{{ annotation_count }}</span>
          {% endwith %}
        </a>
      </li>
      {% if project.is_remote and request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" id="remote-tab" data-toggle="tab" href="#remote" role="tab" aria-controls="remote" aria-selected="false">
            <i class="iconify" data-icon="fa-solid:cloud"></i>
            Upstream Project
          </a>
        </li>
      {% endif %}
    </ul>

    <div class="tab-content" id="cases-content">
      <div class="border border-top-0 tab-pane fade show active" id="case-list" role="tabpanel" aria-labelledby="case-list-tab">
        <div class="row pt-3">
          <div class="col">
            {% include 'variants/case_list/list.html' with disable_pedigree_sex_check=disable_pedigree_sex_check %}
          </div>
        </div>
      </div>

      <div class="border border-top-0 tab-pane fade show" id="qc" role="tabpanel" aria-labelledby="qc-tab">
        <div class="row pt-3">
          <div class="col" id="qc-content">
            <i class="iconify" data-icon="fa-solid:spinner"></i>
          </div>
        </div>
      </div>

      <div class="border border-top-0 tab-pane fade show" id="annotation" role="tabpanel" aria-labelledby="annotation-tab">
        <div class="row pt-3">
          <div class="col" id="annotation-content">
            <i class="iconify" data-icon="fa-solid:spinner"></i>
          </div>
        </div>
      </div>

      {% if project.is_remote and request.user.is_superuser %}
        <div class="border border-top-0 tab-pane fade show" id="remote" role="tabpanel" aria-labelledby="remote-tab">
          <div class="row pt-3">
            <div class="col">
              {% include "variants/case_list/remote.html" %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block css %}
  {{ block.super }}

  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/dt-1.10.18/b-1.5.4/datatables.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/1.10.18/integration/font-awesome/dataTables.fontAwesome.css" />

  <style type="text/css">
    table.varfish-card-table {
      display: inline-table;
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      border-bottom: 0 !important;
    }

    .placeholder-container {
      position: relative;
      margin:0 auto;
      display: table;
      width: 100%;
      height: 300px;
    }

    .placeholder-text {
      width: 100%;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
  </style>
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  {% if project.variant_stats %}
    <script type="text/javascript" src="{% static 'js/qc_plots.js' %}"></script>
  {% endif %}
  <script type="text/javascript" src="{% static 'js/variant_comments.js' %}"></script>
  <!-- DataTables -->
  <script type="text/javascript">
    function loadAnnoTab() {
      $.ajax({
        type: "GET",
        url: "{% url 'variants:case-list-get-annotations' project=project.sodar_uuid %}",
        success: function(response) {
            $("#annotation-content").html(response);
            $("#comment-button-submit").on("click", commentSubmit);
            $(".comment-button-delete").on("click", commentDeleteToggle);
            $(".comment-button-delete-cancel").on("click", commentDeleteToggle);
            $(".comment-button-delete-submit").on("click", commentDeleteSubmit);
            $(".comment-button-edit").on("click", commentEditToggle);
            $(".comment-button-edit-cancel").on("click", commentEditToggle);
            $(".comment-button-edit-submit").on("click", commentEditSubmit);
         },
        error: function (jqXHR, textStatus, errorThrown) {
            alert("Error during AJAX call:", textStatus, + errorThrown);
            console.log("Error during AJAX call: ", jqXHR, textStatus, errorThrown);
        }
      });
    }

    function loadQcPlots() {
      $("#qc-plots-reload").hide()
      $("#qc-plots-container").show()
      axios.get("/variants/{{ project.sodar_uuid }}/api-qc/").then(function (response) {
        plotlyRelatedness(response, 'plot-relatedness')
        plotlySexChrxHetHom(response, 'plot-sex-chrx-het-hom')
        plotlyVarDps(response, 'plot-var-dps')
        setTimeout(function() { $(window).trigger('resize') }, 1000);
      })
    }

    function loadQcTab(autoLoad) {
      $.ajax({
        type: "GET",
        url: "{% url 'variants:case-list-get-qc' project=project.sodar_uuid %}",
        success: function(response) {
            $("#qc-content").html(response);
            if (autoLoad) {
              loadQcPlots()
            } else {
              $("#qc-plots-container").hide()
            }
         },
        error: function (jqXHR, textStatus, errorThrown) {
            alert("Error during AJAX call:", textStatus, + errorThrown);
            console.log("Error during AJAX call: ", jqXHR, textStatus, errorThrown);
        }
      });
    }

    $(document).ready(function() {
      $("#varfish-case-table").DataTable({
        paging: false,
        sDom: "T",
        "order": [[ 1, "desc" ]],
        initComplete: function() {
          let column = this.api().columns(2);
          let state_filter = $('#varfish-case-filter-by-state');
          state_filter.change(function() {
            column.search("^(" + state_filter.val().join("|") + ")$", true, false).draw();
          });
          state_filter.selectpicker('selectAll');
        },
      });
      $('.varfish-case-filter').keyup(function () {
        const dt = $(this).closest('.varfish-case-list-card').find('table').dataTable();
        const v = $(this).val();
        dt.fnFilter(v);
      });


      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          if (!$(e.target).data("loading")) {
            $(e.target).data("loading", true)
            switch (e.target.id) {
              case "qc-tab":
                const caseCount = {{ project.case_set.count }}
                loadQcTab(caseCount <= 100)
                break;
              case "anno-tab":
                loadAnnoTab()
                break;
            }
          }
      })
    });
  </script>
{% endblock %}
