{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load static %}
{% load variants_tags %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item"><a href="{% url "variants:case-list" project=project.sodar_uuid %}">Cases</a></li>
  <li class="breadcrumb-item"><a href="{% url "variants:case-detail" project=project.sodar_uuid case=object.sodar_uuid %}">{{ object.name }}</a></li>
  <li class="breadcrumb-item active">ClinVar Report</li>
{% endblock %}

{% block projectroles %}

{% block css %}
  {{ block.super }}

  <style type="text/css">
    .variant-row-positive { background-color: {% get_row_bgcolor "pathogenic" %}; }
    .variant-row-uncertain { background-color: {% get_row_bgcolor "uncertain" %}; }
    .variant-row-negative { background-color: {% get_row_bgcolor "benign" %}; }
  </style>
{% endblock %}

  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      ClinVar Report
      <small class="text-muted">{{ object.name }}</small>
    </h2>
  </div>

  <div class="container-fluid sodar-page-container">
    {% include "variants/_clinvar_form.html" %}
  </div>

    <!-- table to fill when query finished -->
  <div id="resultsTable" data-loaded="false">
  </div>

  {% include "variants/clinvar_report/index.html" %}

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    var csfr_token = "{{ csfr_token }}";
    $(document).ready(
      function() {
        {#makeNumberFieldsReceiveOnlyDigits();#}
        // Assign click handler function to submit button
        filterButton.click(
          function(e) {
            handleEvent($(this).attr("data-event-type"), null);
          }
        );
        filterButton.attr("data-event-type", EVENT_SUBMIT);
        // Kick-off state machine.
        handleEvent(EVENT_START, null);
      }
    );
  </script>
  <script type="text/javascript" src="{% static "js/submit_state_machine.js" %}"></script>
  {% include "variants/_script_flags_comments.html" %}
  {% include "variants/_variant_flag_form_tpl.html" %}
{% endblock javascript %}
