{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load dict %}
{% load rules %}

{% block projectroles_extend %}

{% has_perm 'variants.view_data' request.user project as can_view_data %}

{% if can_view_data %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <i class="fa fa-home"></i> Home
    </li>
  </ol>
</nav>

<h1>Select case</h1>
<ul>
{% for entry in object_list %}
  <li><a href="{% url 'variants:filter' project=project.sodar_uuid case=entry.sodar_uuid %}">{{ entry.name }}</a></li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
