{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load static %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item"><a href="{% url "variants:case-list" project=project.sodar_uuid %}">Cases</a></li>
  <li class="breadcrumb-item"><a href="{% url "variants:case-detail" project=project.sodar_uuid case=object.sodar_uuid %}">{{ object.name }}</a></li>
  <li class="breadcrumb-item active">Filter</li>
{% endblock %}

{% block projectroles %}

{% block css %}
  {{ block.super }}
  <style type="text/css">
    .display-exac .detail-gnomad-exomes,
    .display-exac .detail-gnomad-genomes,
    .display-exac .detail-thousand-genomes,
    .display-gnomad-exomes .detail-exac,
    .display-gnomad-exomes .detail-gnomad-genomes,
    .display-gnomad-exomes .detail-thousand-genomes,
    .display-gnomad-genomes .detail-exac,
    .display-gnomad-genomes .detail-gnomad-exomes,
    .display-gnomad-genomes .detail-thousand-genomes,
    .display-thousand-genomes .detail-exac,
    .display-thousand-genomes .detail-gnomad-exomes,
    .display-thousand-genomes .detail-gnomad-genomes {
      display: none;
    }

    .varfish-variant-table th {
      text-align: center;
    }

    .variant-row-positive { background-color: #28a74533; }
    .variant-row-uncertain { background-color: #ffc10733; }
    .variant-row-negative { background-color: #dc354533; }

    .compact-form-groups .form-group {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

  <div class="row sodar-pr-content-title pb-2">
    <h2 class="sodar-pr-content-title">
      &quot;{{ object.name }}&quot; &mdash; Variant Filter
    </h2>
  </div>

  <div class="container-fluid sodar-page-container">
    {% include "variants/_filter_form.html" %}
  </div>

  {% if result_rows is None %}
  {% elif not result_rows %}
    <div class="container-fluid sodar-page-container">
      <h2>
        Empty Result Set
        <small class="text-muted">
          Try again with different settings?
        </small>
      </h2>
    </div>
  {% else %}
    <div class="sodar-subtitle-container bg-white sticky-top pr-0 mr-0 pb-0">
      <div class="form-inline pl-2 pr-2 row">
        <div class="p-2">
          <strong style="font-size: 140%;">
            Results
          </strong>
        </div>
        <div class="p-2 form-group">
          <label class="mr-2" for="result-display-frequencies">
            Frequencies
          </label>
          <select class="custom-select" id="result-display-frequencies" onchange="javascript: updateTableDisplay();">
            <option value="exac" selected>ExAC</option>
            <option value="thousand-genomes">1000 genomes</option>
            <option value="gnomad-exomes">gnomAD exomes</option>
            <option value="gnomad-genomes">gnomAD genomes</option>
          </select>
        </div>
        <div class="pl-3">
          First <strong>{{ result_rows|length }} of {{ result_count }}</strong> records
          <i class="fa fa-info-circle" data-toggle="tooltip"
             title="Use the &quot;Result row limit&quot; to see more columns. Pro-tip: TSV/Excel/VCF file downloads will contain all all {{ result_count }} rows."></i>.
        </div>
        <div class="pl-3">
          Using
          {% if form.cleaned_data.database_select == "refseq" %}
            <strong>RefSeq</strong>
          {% else %}
            <strong>ENSEMBL</strong>
          {% endif %}
          transcripts.
        </div>
      </div>
    </div>

   <div class="container-fluid sodar-page-container">
     <div id="table-config">
      <table class="table table-hover table-sm varfish-variant-table" id="main">
        <thead>
          {% include "variants/_filter_table_header.html" %}
        </thead>
        <tbody>
        {% for entry in result_rows %}
          {% include "variants/_filter_table_row.html" %}
          {% include "variants/_filter_table_card.html" %}
        {% endfor %}
        </tbody>
      </table>
    </div>

    <p>
      Query completed in {{ elapsed_seconds }} sec.
    </p>

  </div> <!-- sodar-page-container -->
  {% endif %}


{% endblock projectroles %}

{% block javascript %}
{{ block.super }}

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>

<script type="text/javascript">

function updateTableDisplay() {
  $("#table-config").attr("class",
    "display-" + $("#result-display-frequencies").val()
  );
}

updateTableDisplay();

var effectGroups = {
  all: [
  ],
  nonsynonymous: [
    "complex_substitution",
    "direct_tandem_duplication",
    "disruptive_inframe_deletion",
    "disruptive_inframe_insertion",
    "feature_truncation",
    "frameshift_elongation",
    "frameshift_truncation",
    "frameshift_variant",
    "inframe_deletion",
    "inframe_insertion",
    "internal_feature_elongation",
    "missense_variant",
    "mnv",
    "start_lost",
    "stop_gained",
    "stop_lost",
    "structural_variant",
    "transcript_ablation"
  ],
  splicing: [
    "splice_acceptor_variant",
    "splice_donor_variant",
    "splice_region_variant"
  ],
  coding: [
    "stop_retained_variant",
    "synonymous_variant"
  ],
  utr_intronic: [
    "coding_transcript_intron_variant",
    "five_prime_UTR_exon_variant",
    "five_prime_UTR_intron_variant",
    "three_prime_UTR_exon_variant",
    "three_prime_UTR_intron_variant"
  ],
  noncoding: [
    "downstream_gene_variant",
    "intergenic_variant",
    "downstream_gene_variant",
    "downstream_gene_variant",
    "non_coding_transcript_exon_variant",
    "non_coding_transcript_intron_variant",
    "upstream_gene_variant"
  ],
};

effectGroups.all = effectGroups.nonsynonymous
  .concat(effectGroups.splicing)
  .concat(effectGroups.coding)
  .concat(effectGroups.utr_intronic)
  .concat(effectGroups.noncoding);

function updateEffectGroup(group) {
  let all = _.every(effectGroups[group], function (s) { return $("#id_effect_" + s).prop("checked"); });
  let none = _.every(effectGroups[group], function (s) { return !$("#id_effect_" + s).prop("checked"); });
  if (all) {
    $("#id_effect_group_" + group).prop("checked", true);
    $("#id_effect_group_" + group).prop("indeterminate", false);
  } else if (none) {
    $("#id_effect_group_" + group).prop("checked", false);
    $("#id_effect_group_" + group).prop("indeterminate", false);
  } else {
    $("#id_effect_group_" + group).prop("checked", false);
    $("#id_effect_group_" + group).prop("indeterminate", true);
  }
}

function updateCheckboxes(event) {
  if (this.blocked) {
    return;
  } else {
    this.blocked = true;
  }

  if (event !== null && $(this).attr('id').startsWith('id_effect_group_')) {
      // Clicked one of the group buttons itself.
      let id = $(this).attr('id').substring("id_effect_group_".length);
      let checked = $(this).prop('checked');
      for (value in effectGroups[id]) {
        $("#id_effect_" + effectGroups[id][value]).prop("checked", checked);
      }

      for (group in effectGroups) {
        if (group != id) {
          updateEffectGroup(group);
        }
      }
  } else {
    for (key in effectGroups) {
      // Clicked one of the detailed buttons.
      updateEffectGroup(key);
    }
  }

  this.blocked = false;
}
updateCheckboxes.blocked = false;

$(document).ready(function() {
  updateCheckboxes(null);
  $(".checkboxinput").change(updateCheckboxes);
});

function mutationTaster(chromosome, position, ref, alt) {
    var form = $('<form target="_blank" method="POST" action="http://www.mutationtaster.org/cgi-bin/MutationTaster/MT_ChrPos.cgi">');
    form.append($('<input type="hidden" name="chromosome" value="' + chromosome + '">'));
    form.append($('<input type="hidden" name="position" value="' + position + '">'));
    form.append($('<input type="hidden" name="ref" value="' + ref + '">'));
    form.append($('<input type="hidden" name="alt" value="' + alt + '">'));
    form.appendTo('body').submit();
}

function default0(value) {
  return (Object.is(value, undefined) ? 0 : value);
}

$('.extend').click(function() {
  var counter = $(this).attr('counter');
  $("i", this).toggleClass('fa-chevron-right');
  $("i", this).toggleClass('fa-chevron-down');
  if (!$(this).hasClass('ajax-executed')) {
    $.ajax({
      url: $(this).attr('url'),
      method: 'GET',
      dataType: 'json',
      error: function(xhr) {
        alert('Request Status: ' + xhr.status + '\nStatus Text: ' + xhr.statusText + '\nResponse Text: ' + xhr.responseText);
      }
    }).done(function (data) {
      var table = '<table class="table sodar-card-table">';
      table += '<thead><tr><th colspan=2></th><th>AFR</th><th>AMR</th><th>ASJ</th><th>EAS</th><th>FIN</th><th>NFE</th><th>OTH</th><th>SAS</th><th>Total</th></tr></thead>';
      var pops = ["afr", "amr", "asj", "eas", "fin", "nfe", "oth", "sas"];
      var dbs = ["gnomadexomes", "gnomadgenomes", "exac", "thousandgenomes"];
      var dbs_head = ["gnomAD exomes", "gnomAD genomes", "ExAC", "1000 genomes"];
      var typs = ["af", "hom", "het"];
      var typs_head = ["Frq", "Hom", "Het"];
      for (var i=0; i<dbs.length; ++i) {
        table += '<tr>';
        table += '<td rowspan=3><a href="http://' + dbs[i] + '.broadinstitute.org/variant/' + data["chromosome"] + '-' + data["position"] + '-' + data["reference"] + '-' + data["alternative"] + '" class="btn btn-primary btn-sm" target="_blank">' + dbs_head[i] + ' <i class="fa fa-external-link-alt"></i></a></td>';
        for (var j=0; j<typs.length; ++j) {
          if (j > 0) {
            table += '</tr><tr>';
          }
          table += '<td>' + typs_head[j] + '</td>';
          for (var k=0; k<pops.length; ++k) {
            if (dbs[i] == "exac" && pops[k] == "asj") {
              table += '<td>-</td>';
            }
            else if (dbs[i] == "gnomadgenomes" && pops[k] == "sas") {
              table += '<td>-</td>';
            }
            else if (dbs[i] == "thousandgenomes" && (pops[k] == "asj" || pops[k] == "fin" || pops[k] == "oth" || pops[k] == "nfe")) {
              if (pops[k] == "nfe") {
                table += '<td>' + default0(data[dbs[i]][typs[j] + '_eur']) + '</td>';
              }
              else {
                table += '<td>-</td>';
              }
            }
            else {
              table += '<td>' + default0(data[dbs[i]][typs[j] + '_' + pops[k]]) + '</td>';
            }
          }
          table += '<td>' + default0(data[dbs[i]][typs[j]]) + '</td>';
        }
        table += '</tr></tbody></thead>';
      }
      $("#frequency" + counter).append(table);
      var clinvar = 'No data.';
      if (data["clinvar"].length > 0) {
        clinvar = '<table class="table sodar-card-table">';
        clinvar += '<thead><tr><th>Clinical Significance</th><th>All Traits</th></tr></thead>';
        clinvar += '<tbody>';
        for (let i=0; i < data["clinvar"].length; ++i) {
          clinvar += '<tr>';
          clinvar += '<td>' + data["clinvar"][i]["clinical_significance"] + '</td>';
          clinvar += '<td>';
          clinvar += data["clinvar"][i]["all_traits"].join(",");
          clinvar += '</td>';
          clinvar += '</tr>';
        }
        clinvar += '</tbody></table>';
      }
      $("#clinvar" + counter).append(clinvar);
      var knowngeneaa = 'No data.';
      if (data["knowngeneaa"].length > 0) {
        knowngeneaa = '<table class="table sodar-card-table">';
        knowngeneaa += '<thead><tr><th>Chromosome</th><th>Start</th><th>End</th><th>Alignment</th></tr></thead>';
        knowngeneaa += '<tbody>';
        for (let i=0; i < data["knowngeneaa"].length; ++i) {
          knowngeneaa += '<tr>';
          knowngeneaa += '<td>' + data["knowngeneaa"][i]["chromosome"] + '</td>';
          knowngeneaa += '<td>' + data["knowngeneaa"][i]["start"] + 1 + '</td>';
          knowngeneaa += '<td>' + data["knowngeneaa"][i]["end"] + '</td>';
          knowngeneaa += '<td><code>' + data["knowngeneaa"][i]["alignment"] + '</code></td>';
          knowngeneaa += '</tr>';
        }
        knowngeneaa += '</tbody></table>';
      }
      $("#knowngeneaa" + counter).append(knowngeneaa);
    });
  }
  $(this).addClass('ajax-executed');
});

$("#settingsDownload").click(
  function() {
    var dump = $("#settingsDump").val();
    $(this).attr('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(dump));
    $(this).attr('download', 'settings_dump.json');
  }
);

function activateClass(o) {
  if (!$(o).hasClass("active")) {
    $(o).addClass("active");
  }
}

function updateSettings() {
  var settings = JSON.parse($("#settingsDump").val());
  var endings = ["_gt", "_dp_het", "_dp_hom", "_ad", "_gq", "_fail", "_ab"];
  var failed = [];
  for (var key in settings) {
    for (var j = 0; j < endings.length; ++j) {
      if (key.endsWith(endings[j]) && !$("#filterForm").find("input[name=" + key + "], select[name=" + key + "]").length) {
        patient = key.slice(0, key.length - endings[j].length);
        if (!failed.includes(patient)) {
          failed.push(patient);
        }
      }
    }
    $("#filterForm").find("input[name=" + key + "], select[name=" + key + "], textarea[name=" + key + "]").each(
      function(i) {
        if ($(this).is(":radio")) {
          label = "label[for='id_" + key + "_" + i + "']";
          if ($(this).val() == settings[key]) {
            activateClass(label);
            $(this).prop("checked", true);
          }
          else {
            $(this).prop("checked", false);
            $(label).removeClass("active");
          }
        }
        else if ($(this).is(":checkbox")) {
          label = "label[for='id_" + key + "']";
          if (settings[key]) {
            activateClass(label);
          }
          else {
            $(label).removeClass("active");
          }
          $(this).prop("checked", settings[key]);
        }
        else {
          // also valid for select and textarea
          $(this).val(settings[key]);
        }
      }
    );
  }
  if (failed.length) {
    alert("The following patients do not exist in pedigree: " + failed.join(", ") + ".\nPlease check your JSON input.");
  }
}

$("#settingsSet").click(updateSettings);

function updateSettingsDump() {
  var settings = {};
  $("#filterForm").find("input, select, textarea").each(
    function() {
      if ($(this).is(":radio")) {
        if ($(this).is(":checked")) {
          settings[$(this).attr("name")] = $(this).val();
        }
      }
      else if ($(this).is(":checkbox")) {
        settings[$(this).attr("name")] = $(this).is(":checked");
      }
      else if ($(this).is("select")) {
        settings[$(this).attr("name")] = $(this).find("option:selected").val();
      }
      else {
        if ($(this).attr("name") == "settingsDump") {
          return true;
        }
        settings[$(this).attr("name")] = $(this).val();
      }
    }
  );
  delete settings["csrfmiddlewaretoken"];
  delete settings["undefined"];
  delete settings["submit"];
  $("#settingsDump").val(JSON.stringify(settings, null, 2));
}

const defaultPresetsIds = {
  // Frequency
  "thousand_genomes_enabled": true,
  "thousand_genomes_homozygous": 10,
  "thousand_genomes_heterozygous": null,
  "thousand_genomes_frequency": null,

  "exac_enabled": true,
  "exac_homozygous": 10,
  "exac_heterozygous": null,
  "exac_frequency": 0.01,

  "gnomad_exomes_enabled": true,
  "gnomad_exomes_homozygous": 10,
  "gnomad_exomes_heterozygous": null,
  "gnomad_exomes_frequency": 0.01,

  "gnomad_genomes_enabled": true,
  "gnomad_genomes_homozygous": null,
  "gnomad_genomes_heterozygous": null,
  "gnomad_genomes_frequency": 0.01,

  // Variants & Effect
  "var_type_snv": true,
  "var_type_mnv": true,
  "var_type_indel": true,

  "transcripts_coding": true,
  "transcripts_noncoding": true,

  "effect_complex_substitution": true,
  "effect_direct_tandem_duplication": true,
  "effect_disruptive_inframe_deletion": true,
  "effect_disruptive_inframe_insertion": true,
  "effect_feature_truncation": true,
  "effect_frameshift_elongation": true,
  "effect_frameshift_truncation": true,
  "effect_frameshift_variant": true,
  "effect_inframe_deletion": true,
  "effect_inframe_insertion": true,
  "effect_internal_feature_elongation": true,
  "effect_missense_variant": true,
  "effect_mnv": true,
  "effect_start_lost": true,
  "effect_stop_gained": true,
  "effect_stop_lost": true,
  "effect_structural_variant": true,
  "effect_transcript_ablation": true,
  "effect_splice_acceptor_variant": true,
  "effect_splice_donor_variant": true,
  "effect_splice_region_variant": true,
  "effect_stop_retained_variant": true,
  "effect_synonymous_variant": false,
  "effect_coding_transcript_intron_variant": false,
  "effect_five_prime_UTR_exon_variant": true,
  "effect_five_prime_UTR_intron_variant": false,
  "effect_three_prime_UTR_exon_variant": true,
  "effect_three_prime_UTR_intron_variant": false,
  "effect_downstream_gene_variant": false,
  "effect_intergenic_variant": false,
  "effect_non_coding_transcript_exon_variant": false,
  "effect_non_coding_transcript_intron_variant": false,
  "effect_upstream_gene_variant": false,

  // Clinvar/HGMD
  "require_in_clinvar": false,
  "require_in_hgmd_public": false,
};

const defaultPresetsClasses = {
  "quality-field-dp-het": 10,
  "quality-field-dp-hom": 5,
  "quality-field-ab": 0.3,
  "quality-field-gq": 30,
  "quality-field-ad": 10
};

const medgenPresetsIds = {
  // Hard-code all values from "Frequency" tab
  "thousand_genomes_enabled": true,
  "thousand_genomes_homozygous": 10,
  "thousand_genomes_heterozygous": null,
  "thousand_genomes_frequency": null,

  "exac_enabled": true,
  "exac_homozygous": 10,
  "exac_heterozygous": null,
  "exac_frequency": null,

  "gnomad_exomes_enabled": false,
  "gnomad_exomes_homozygous": null,
  "gnomad_exomes_heterozygous": null,
  "gnomad_exomes_frequency": null,

  "gnomad_genomes_enabled": false,
  "gnomad_genomes_homozygous": null,
  "gnomad_genomes_heterozygous": null,
  "gnomad_genomes_frequency": null,

  // Only override some from the "Variants & Effects" tab
  "transcripts_noncoding": false,
};

const medgenPresetsClasses = {
};

const presets = {
  "default": {
    "ids": defaultPresetsIds,
    "classes": defaultPresetsClasses,
  },
  "medgen-strict": {
    "ids": Object.assign({}, defaultPresetsIds, medgenPresetsIds, {
      "effect_five_prime_UTR_exon_variant": false,
      "effect_three_prime_UTR_exon_variant": false
    }),
    "classes": Object.assign({}, defaultPresetsClasses, medgenPresetsClasses, {
      "quality-field-dp-het": 10,
      "quality-field-dp-hom": 5,
      "quality-field-ab": 0.3,
      "quality-field-gq": 30,
      "quality-field-ad": 3,
      "quality-field-fail": "drop-variant"
    }),
  },
  "medgen-relaxed": {
    "ids": Object.assign({}, defaultPresetsIds, medgenPresetsIds, {}),
    "classes": Object.assign({}, defaultPresetsIds, medgenPresetsClasses, {
      "quality-field-dp-het": 8,
      "quality-field-dp-hom": 4,
      "quality-field-ab": 0.2,
      "quality-field-gq": 20,
      "quality-field-ad": 2,
      "quality-field-fail": "drop-variant"
    }),
  },
  "medgen-clinvar": {
    "ids": Object.assign({}, defaultPresetsIds, {
      "thousand_genomes_enabled": false,
      "exac_enabled": false,
      "gnomad_exomes_enabled": false,
      "gnomad_genomes_enabled": false,

      "require_in_clinvar": true,
      "require_in_hgmd_public": true,
      "clinvar_include_pathogenic": true,
      "clinvar_include_likely_pathogenic": true,
      "clinvar_include_uncertain_significance": false,
      "clinvar_include_likely_benign": false,
      "clinvar_include_benign": false,

      "effect_group_all": true
    }),
    "classes": {
      "quality-field-fail": "ignore"
    }
  }
};

function loadPresets(e) {
  const presetsName = $(e.currentTarget).data("preset-name");

  for (var key in presets[presetsName]["ids"]) {
    const val = presets[presetsName]["ids"][key];
    const tag = $("#id_" + key);
    const inputType = tag.attr("type");
    if (inputType == "checkbox") {
      if (key == "effect_group_all") {
        tag.prop("checked", false);
        tag.click();
      } else {
        tag.prop("checked", val);
      }
    } else {
      tag.prop("value", val);
    }
  }
  updateCheckboxes(null);

  for (var key in presets[presetsName]["classes"]) {
    const val = presets[presetsName]["classes"][key];
    const tag = $("." + key);
    tag.prop("value", val);
  }
}

$(document).ready(
  function() {
    if ($("#settingsDump").val() != "") {
      updateSettings();
    }
    $("#filterForm").find("input, select, textarea").not("#settingsDump").change(updateSettingsDump);
    updateSettingsDump();
    $(".load-presets").click(loadPresets);
  }
);
</script>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
  $('.popover-dismiss').popover({
    trigger: 'focus'
  });
</script>

{% include "variants/_script_flags_comments.html" %}
{% include "variants/_variant_flag_form_tpl.html" %}

{% endblock javascript %}
