{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load rules %}
{% load humanize %}
{% load static %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item"><a href="{% url "variants:case-list" project=project.sodar_uuid %}">Cases</a></li>
  <li class="breadcrumb-item active">{{ object.name }}</li>
{% endblock %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Case
      <small class="text-muted">{{ object.name }}</small>
    </h2>
    {% include "variants/_case_detail_buttons.html" %}
  </div>

  <div class="container-fluid sodar-page-container pt-3">
    <ul class="nav nav-tabs" id="case-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">
          <i class="fa fa-user"></i>
          Overview
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="qc-tab" data-toggle="tab" href="#qc" role="tab" aria-controls="qc" aria-selected="false">
          <i class="fa fa-bar-chart"></i>
          Quality Control
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="annotation-tab" data-toggle="tab" href="#annotation" role="tab" aria-controls="annotation" aria-selected="false">
          <i class="fa fa-comment-o"></i>
          {% with annotation_count=object.get_annotation_count|default:0 %}
          Variant Annotation <span class="badge badge-pill {% if annotation_count == 0 %}badge-secondary{% else %}badge-primary{% endif %}">{{ annotation_count }}</span>
          {% endwith %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="bg-jobs-tab" data-toggle="tab" href="#bg-jobs" role="tab" aria-controls="bg-jobs" aria-selected="false">
          <i class="fa fa-tasks"></i>
          Export Jobs
        </a>
      </li>
    </ul>

    <div class="tab-content" id="case-tab-content">
      <div class="border border-top-0 tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
        <div class="row pt-3">
          <div class="col-6">
            {% include "variants/case/detail_overview.html" %}
            {% include "variants/case/detail_pedigree.html" %}
            {% include "variants/case/detail_release_info.html" %}
          </div>
          <div class="col-6">
            {% include "variants/case/detail_case_comments.html" %}
            {% include "variants/case/overview_var_flags_comments.html" %}
            {% include "variants/case/overview_qc_bam.html" %}
          </div>
        </div>
      </div>

      <div class="border border-top-0 tab-pane fade" id="qc" role="tabpanel" aria-labelledby="qc-tab">
        <div class="row pt-3">
          <div class="col">
            {% include "variants/case/detail_qc_plots.html" %}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {% include "variants/case/detail_qc_bam.html" %}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {% include "variants/case/detail_qc.html" %}
          </div>
        </div>
      </div>

      <div class="border border-top-0 tab-pane fade" id="annotation" role="tabpanel" aria-labelledby="annotation-tab">
        <div class="row pt-3">
          <div class="col-6">
            {% include "variants/case/detail_flags.html" %}
          </div>
          <div class="col-6">
            {% include "variants/case/detail_acmg.html" %}
            {% include "variants/case/detail_comments.html" %}
          </div>
        </div>
      </div>
      <div class="border border-top-0 tab-pane fade" id="bg-jobs" role="tabpanel" aria-labelledby="bg-jobs-tab">
        <div class="row pt-3">
          <div class="col">
            {% include "variants/case/detail_bg_jobs.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    // Load data after the page has loaded
    $(function() {
      axios.get("/variants/{{ object.project.sodar_uuid }}/case/api-qc/{{ object.sodar_uuid }}/")
        .then(function (response) {
          // Render plots after data has been loaded
          plotlyRelatedness(response, 'plot-relatedness')
          plotlySexChrxHetHom(response, 'plot-sex-chrx-het-hom')
          plotlyVarDps(response, 'plot-var-dps')
          plotlyVariantTypes(response, 'plot-var-types')
          plotlyVariantEffects(response, 'plot-var-effects')
          plotlyIndelSizes(response, 'plot-indel-sizes')
          setTimeout(function() { $(window).trigger('resize') }, 2000);
        })
    })
  </script>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/vendor/plotly-1.52.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/axios-0.18.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/palette-1.1.0.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/qc_plots.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/helpers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/variant_comments.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $("#comment-button-submit").on("click", commentSubmit);
        $(".comment-button-delete").on("click", commentDeleteToggle);
        $(".comment-button-delete-cancel").on("click", commentDeleteToggle);
        $(".comment-button-delete-submit").on("click", commentDeleteSubmit);
        $(".comment-button-edit").on("click", commentEditToggle);
        $(".comment-button-edit-cancel").on("click", commentEditToggle);
        $(".comment-button-edit-submit").on("click", commentEditSubmit);
    });
  </script>
{% endblock %}
