{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load rules %}
{% load humanize %}
{% load static %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item"><a href="{% url "variants:case-list" project=project.sodar_uuid %}">Cases</a></li>
  <li class="breadcrumb-item active">{{ object.name }}</li>
{% endblock %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Case
      <small class="text-muted">{{ object.name }}</small>
    </h2>
    {% include "variants/_case_detail_buttons.html" %}
  </div>

  <div class="container-fluid sodar-page-container">
    {% include "variants/case/detail_overview.html" %}
    {% include "variants/case/detail_pedigree.html" %}
    {% include "variants/case/detail_case_comments.html" %}
    {% include "variants/case/detail_release_info.html" %}
    {% include "variants/case/detail_qc_plots.html" %}

    {% include "variants/case/detail_comments.html" %}
    {% include "variants/case/detail_flags.html" %}
    {% include "variants/case/detail_acmg.html" %}
    {% include "variants/case/detail_bg_jobs.html" %}

    {% include "variants/case/detail_qc.html" %}
  </div>

  <script type="text/javascript">
    // Load data after the page has loaded
    $(function() {
      axios.get("/variants/{{ object.project.sodar_uuid }}/case/api-qc/{{ object.sodar_uuid }}/")
        .then(function (response) {
          // Render plots after data has been loaded
          plotlyRelatedness(response, 'plot-relatedness')
          plotlySexChrxHetHom(response, 'plot-sex-chrx-het-hom')
          plotlyVarDps(response, 'plot-var-dps')
          plotlyVariantTypes(response, 'plot-var-types')
          plotlyVariantEffects(response, 'plot-var-effects')
          plotlyIndelSizes(response, 'plot-indel-sizes')
        })
    })
  </script>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/vendor/plotly-v1.44.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/axios-0.18.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/palette-1.1.0.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/qc_plots.js' %}"></script>
{% endblock %}
