{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load dict %}
{% load humanize %}
{% load static %}
{% load json %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item"><a href="{% url "bgjobs:list" project=project.sodar_uuid %}">Jobs</a></li>
  <li class="breadcrumb-item active">{{ object.bg_job.name }}</li>
{% endblock %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Background File Creation Job (All project cases)
      <small class="text-muted">{{ object.bg_job.name }}</small>
    </h2>
    {% include 'variants/_job_view_buttons.html' with project=project folder=folder %}
  </div>

  <div class="container-fluid sodar-page-container">

    <div class="card sodar-va-export-job-base-details"
         id="card sodar-va-export-job-base-details">
      <div class="card-header">
        <h4>
          Results &amp; Resubmit
        </h4>
      </div>
      <div class="card-body p-0">
        <ul class="list-group">
          <li class="list-group-item row d-flex">
            <div class="col-2 p-1"><strong>Download Result</strong></div>
            <div class="col-10 p-1">
              {% if object.export_result %}
                <a href="{% url "variants:project-cases-export-job-download" project=object.project.sodar_uuid job=object.sodar_uuid %}">
                  <i class="fa fa-download"></i>
                  Download {{ object.file_type }} File ({{ object.export_result.payload|length|filesizeformat }})
                </a>
              {% else %}
                File is not there yet, please refresh page.
                <button onClick="window.location.reload()" class="btn btn-success">Refresh page</button>
              {% endif %}
            </div>
          </li>
          <li class="list-group-item row d-flex">
            <div class="col-2 p-1"><strong>Re-Submit</strong></div>
            <div class="col-10 p-1">
              <form class="form-inline" action="{% url "variants:project-cases-export-job-resubmit" project=project.sodar_uuid job=object.sodar_uuid %}" method="post">
               {% csrf_token %}
                <div class="form-group mx-sm-2">
                  <label for="id_file_type" class="mr-3">File Type:</label>
                  {{ resubmit_form.file_type }}
                </div>
                <div class="form-group mx-sm-2">
                  <button type="submit" class="btn btn-secondary">
                    <i class="fa fa-cloud-download"></i>
                    Re-run with File Type
                  </button>
                </div>
                <div class="col-12">
                  <small class="form-text text-muted">
                    Use this form to create a new job that uses the same filter settings but a different
                    <strong>file type</strong>.
                  </small>
                </div>
                <div class="col-12">
                  <small class="form-text text-muted">
                    The VCF file export contains the bare minimum information (genomic variant and genotype, coverage, allelic depth, genotype call quality score).
                    Most filters work but
                    <strong>
                      please note that the HGMD public membership filtration is ignored as well as any filters for flags, comments, and ClinVar details.
                    </strong>
                  </small>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="card sodar-va-export-job-base-details"
       id="card sodar-va-export-job-base-details">
      <div class="card-header">
        <h4>
          Base Details
        </h4>
      </div>
      <div class="card-body p-0">
        <ul class="list-group">
          <li class="list-group-item row d-flex">
            <div class="col-2 p-1"><strong>Created</strong></div>
            <div class="col-10 p-1">{{ object.bg_job.date_created }}</div>
          </li>
          <li class="list-group-item row d-flex">
            <div class="col-2 p-1"><strong>Updated</strong></div>
            <div class="col-10 p-1">{{ object.bg_job.date_modified }}</div>
          </li>
          <li class="list-group-item row d-flex">
            <div class="col-2 p-1"><strong>Creator</strong></div>
            <div class="col-10 p-1">{{ object.bg_job.user }}</div>
          </li>
          <li class="list-group-item row d-flex">
            <div class="col-2 p-1"><strong>Title</strong></div>
            <div class="col-10 p-1">{{ object.bg_job.name }}</div>
          </li>
          <li class="list-group-item row d-flex">
            <div class="col-2 p-1"><strong>Description</strong></div>
            <div class="col-10 p-1">{{ object.bg_job.description|default:"-" }}</div>
          </li>
          <li class="list-group-item row d-flex">
            <div class="col-2 p-1"><strong>Status</strong></div>
            <div class="col-10 p-1">{{ object.bg_job.status }}</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="card sodar-va-export-job-base-details"
         id="card sodar-va-export-job-base-details">
      <div class="card-header">
        <h4>
          Export Job Details
        </h4>
      </div>
      <div class="card-body p-0">
        <ul class="list-group">
{#          TODO: Put in filter URL to CaseAwareProject#}
{#          <li class="list-group-item row d-flex">#}
{#            <div class="col-2 p-1"><strong>Case</strong></div>#}
{#            <div class="col-10 p-1">#}
{#              <a href="{{ object.case.get_filter_url }}">#}
{#                {{ object.case.name }}#}
{#              </a>#}
{#            </div>#}
{#          </li>#}
          <li class="list-group-item row d-flex">
            <div class="col-2 p-1"><strong>Query Arguments</strong></div>
            <div class="col-10 p-1">
              <textarea class="form-control" cols="40" rows="5" readonly="true">{{ object.query_args|pretty_json }}</textarea>
            </div>
          </li>
          <li class="list-group-item row d-flex">
            <div class="col-2 p-1"><strong>File Type</strong></div>
            <div class="col-10 p-1">{{ object.file_type }}</div>
          </li>
        </ul>
      </div>
    </div>

   <div class="card sodar-va-export-job-base-details"
        id="card sodar-va-export-job-base-details">
      <div class="card-header">
        <h4>
          Log Message
        </h4>
      </div>
      <div class="card-body p-0">
        <ul class="list-group">
          {% if object.bg_job.log_entries.all %}
            {% for entry in object.bg_job.log_entries.all %}
              <li class="list-group-item row d-flex">
                <div class="col-2"><strong>{{ entry.date_created }}</strong></div>
                <div class="col-1"><strong>{{ entry.level }}</strong></div>
                <div class="col-9">{{ entry.message }}</div>
              </li>
            {% endfor %}
          {% else %}
            <li class="list-group-item bg-faded font-italic text-center">
              No log entries yet.
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div> <!-- sodar-page-container -->

{% endblock %}
