{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load dict %}
{% load humanize %}
{% load static %}
{% load json %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item"><a href="{% url "variants:case-list" project=project.sodar_uuid %}">Cases</a></li>
  <li class="breadcrumb-item"><a href="{% url "variants:case-detail" project=project.sodar_uuid case=object.sodar_uuid %}">{{ object.name }}</a></li>
  <li class="breadcrumb-item active">Jobs</li>
{% endblock %}

{% block projectroles_extend %}
  <div class="row sodar-pr-content-title pb-2 background-white sticky-top">
    <h2 class="sodar-pr-content-title">
      Background File Creation Jobs
    </h2>
  </div>

  <div class="container-fluid sodar-page-container">
    <table id="varfish-bg-table" class="table table-striped sodar-card-table">
      <thead>
        <tr>
          <th class="col-2">Started</th>
          <th class="col-2">Last Change</th>
          <th class="col-1">State</th>
          <th class="col-5">Name</th>
          <th class="col-2">Download</th>
        </tr>
      </thead>
      <tbody>
        {% for job in object.exportfilebgjob_set.all %}
          {% include 'variants/_exportfilebgjob_item.html' with item=job details_card_mode=False %}
        {% endfor %}
        {% if not object.exportfilebgjob_set.all %}
          <tr>
             <td class="bg-faded font-italic text-center" colspan="4">
               No background jobs found.
             </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

{% endblock %}
