{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load static %}
{% load variants_tags %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item"><a href="{% url "variants:case-list" project=project.sodar_uuid %}">Cases</a></li>
  {% if query_type == "case" %}
    <li class="breadcrumb-item"><a href="{% url "variants:case-detail" project=project.sodar_uuid case=object.sodar_uuid %}">{{ object.name }}</a></li>
    <li class="breadcrumb-item active">Filter</li>
  {%  else %}
    <li class="breadcrumb-item active">Joint Filtration</li>
  {% endif %}
{% endblock %}

{% block projectroles %}

{% block css %}
  {{ block.super }}
  <style type="text/css">
    .display-info-coordinates .detail-info-clinvar,
    .display-info-clinvar .detail-info-coordinates,
    .display-frequencies-exac .detail-frequencies-gnomad-exomes,
    .display-frequencies-exac .detail-frequencies-gnomad-genomes,
    .display-frequencies-exac .detail-frequencies-thousand-genomes,
    .display-frequencies-exac .detail-frequencies-inhouse,
    .display-frequencies-gnomad-exomes .detail-frequencies-exac,
    .display-frequencies-gnomad-exomes .detail-frequencies-gnomad-genomes,
    .display-frequencies-gnomad-exomes .detail-frequencies-thousand-genomes,
    .display-frequencies-gnomad-exomes .detail-frequencies-inhouse,
    .display-frequencies-gnomad-genomes .detail-frequencies-exac,
    .display-frequencies-gnomad-genomes .detail-frequencies-gnomad-exomes,
    .display-frequencies-gnomad-genomes .detail-frequencies-thousand-genomes,
    .display-frequencies-gnomad-genomes .detail-frequencies-inhouse,
    .display-frequencies-thousand-genomes .detail-frequencies-exac,
    .display-frequencies-thousand-genomes .detail-frequencies-gnomad-exomes,
    .display-frequencies-thousand-genomes .detail-frequencies-gnomad-genomes,
    .display-frequencies-thousand-genomes .detail-frequencies-inhouse,
    .display-frequencies-inhouse .detail-frequencies-exac,
    .display-frequencies-inhouse .detail-frequencies-gnomad-exomes,
    .display-frequencies-inhouse .detail-frequencies-gnomad-genomes,
    .display-frequencies-inhouse .detail-frequencies-thousand-genomes,
    .display-constraints-exac-pli .detail-constraints-exac-z-mis,
    .display-constraints-exac-pli .detail-constraints-exac-z-syn,
    .display-constraints-exac-pli .detail-constraints-gnomad-pli,
    .display-constraints-exac-pli .detail-constraints-gnomad-z-mis,
    .display-constraints-exac-pli .detail-constraints-gnomad-z-syn,
    .display-constraints-exac-z-mis .detail-constraints-exac-pli,
    .display-constraints-exac-z-mis .detail-constraints-exac-z-syn,
    .display-constraints-exac-z-mis .detail-constraints-gnomad-pli,
    .display-constraints-exac-z-mis .detail-constraints-gnomad-z-mis,
    .display-constraints-exac-z-mis .detail-constraints-gnomad-z-syn,
    .display-constraints-exac-z-syn .detail-constraints-exac-pli,
    .display-constraints-exac-z-syn .detail-constraints-exac-z-mis,
    .display-constraints-exac-z-syn .detail-constraints-gnomad-pli,
    .display-constraints-exac-z-syn .detail-constraints-gnomad-z-mis,
    .display-constraints-exac-z-syn .detail-constraints-gnomad-z-syn,
    .display-constraints-gnomad-pli .detail-constraints-gnomad-z-mis,
    .display-constraints-gnomad-pli .detail-constraints-gnomad-z-syn,
    .display-constraints-gnomad-pli .detail-constraints-exac-pli,
    .display-constraints-gnomad-pli .detail-constraints-exac-z-mis,
    .display-constraints-gnomad-pli .detail-constraints-exac-z-syn,
    .display-constraints-gnomad-z-mis .detail-constraints-gnomad-pli,
    .display-constraints-gnomad-z-mis .detail-constraints-gnomad-z-syn,
    .display-constraints-gnomad-z-mis .detail-constraints-exac-pli,
    .display-constraints-gnomad-z-mis .detail-constraints-exac-z-mis,
    .display-constraints-gnomad-z-mis .detail-constraints-exac-z-syn,
    .display-constraints-gnomad-z-syn .detail-constraints-gnomad-pli,
    .display-constraints-gnomad-z-syn .detail-constraints-gnomad-z-mis,
    .display-constraints-gnomad-z-syn .detail-constraints-exac-pli,
    .display-constraints-gnomad-z-syn .detail-constraints-exac-z-mis,
    .display-constraints-gnomad-z-syn .detail-constraints-exac-z-syn {
      display: none;
    }

    .varfish-variant-table th {
      text-align: center;
    }

    .variant-row-positive { background-color: {% get_row_bgcolor "pathogenic" %}; }
    .variant-row-uncertain { background-color: {% get_row_bgcolor "uncertain" %}; }
    .variant-row-negative { background-color: {% get_row_bgcolor "benign" %}; }

    .warning-conflict .hidden { display: none; }

    .compact-form-groups .form-group {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      {% if query_type == "case" %}
        Variant Filter
        <small class="text-muted">{{ object.name }}</small>
      {% else %}
        Joint Filtration
        <small class="text-muted">{{ project.title }}</small>
      {% endif %}
    </h2>
    {% include "variants/_case_filter_buttons.html" %}
  </div>

  <div class="container-fluid sodar-page-container pt-3">
    {% include "variants/_filter_form.html" %}
  </div>

  <!-- table to fill when query finished -->
  <div id="resultsTable" data-loaded="false">
  </div>

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}
  {% include 'variants/scripts.html' %}
{% endblock javascript %}
