{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load static %}
{% load variants_tags %}

{% block projectroles %}

  <div class="row">
    <div class="col-lg-6 col-md-8 col-xs-12 mx-auto">
      <h2>
        <i class="fa fa-cloud-upload"></i>
        Upload VCF File to VarFish Kiosk
      </h2>

      <p>
        Use the form below to upload a VCF into the VarFish Kiosk.
        For first-time users, we recommend the <a href="https://varfish-server.readthedocs.io/en/latest/tutorials_kiosk.html"><i class="fa fa-file-text-o"></i> Kiosk tutorial</a>.
        You can download some example data <a href="#example-data"><i class="fa fa-angle-double-down"></i> below</a>.
      </p>

      <dl>
        <dt>
          <i class="fa fa-fw fa-unlock"></i>
          VarFish Kiosk is a password-less service.
        </dt>
        <dd>
          Your case will get a long, random ID that is virtually impossible to guess.
          Anyone who knows this ID will be able to access your data.
        </dd>
        <dt>
          <i class="fa fa-fw fa-lock"></i>
          Data protection.
        </dt>
        <dd>
          On <u>varfish-kiosk.bihealth.org</u>, data is only transmitted through secure channels.<br>
          Keep the case ID and address safe.<br>
          <u>Only upload data where you have sufficient consent!</u>
        </dd>
        <dt>
          <i class="fa fa-fw fa-institution"></i>
          Custom VarFish installation.
        </dt>
        <dd>
          You can perform an installation on your own server and run VarFish in "Classic" mode.
          This allows to create password protection and unlock the VarFish collaboration features.
          See the VarFish <a href="https://varfish-server.readthedocs.io/en/latest"><i class="fa fa-book"></i> manual</a> for more information.
        </dd>
        <dt>
          <i class="fa fa-fw fa-clock-o"></i>
          Data retention.
        </dt>
        <dd>
          Data will be deleted after 2 months.
          You can send an email to <a href="mailto:cubi@bihealth.org"><i class="fa fa-envelope-o"></i> cubi@bihealth.org</a> to request an earlier deletion.
        </dd>
        <dt>
          <i class="fa fa-fw fa-smile-o"></i>
          Happy fishing for variants!
        </dt>
      </dl>

      <form method="POST" enctype="multipart/form-data" class="mt-3 pt-3 border-top">{% csrf_token %}
        {{ form.vcf_file|as_crispy_field }}
        {{ form.ped_file|as_crispy_field }}
        {{ form.ped_text|as_crispy_field }}
        <div class="text-right">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-cloud-upload"></i>
            Submit
          </button>
        </div>
      </form>

      <h3 class="mt-3 pt-3 border-top" id="example-data">
        <i class="fa fa-file-archive-o"></i>
        Example Data
      </h3>

      <p>
        Example data taken from the <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3706263/">the Corpasome</a> (via the <a href="https://github.com/exomiser/Exomiser">Exomiser</a> sample data).
      </p>

      <ul>
        <li>
          <a href="https://github.com/bihealth/varfish-server/blob/master/docs_manual/assets/pfeiffer-singleton.vcf.gz"><i class="fa fa-table"></i> pfeiffer.vcf.gz</a>
          (healthy individual with variant associated with Pfeiffer syndrome)
        </li>
        <li>
          <a href="https://github.com/bihealth/varfish-server/blob/master/docs_manual/assets/pfeiffer-quartet.vcf.gz"><i class="fa fa-table"></i> pfeiffer.vcf.gz</a> /
          <a href="https://github.com/bihealth/varfish-server/blob/master/docs_manual/assets/pfeiffer-quartet.ped"><i class="fa fa-file-text"></i> pfeiffer.ped</a>
          (healthy quartet with spike-in of a variant associated with Pfeiffer syndrome).
        </li>
      </ul>
    </div>
  </div>

{% endblock projectroles %}
