{% extends 'projectroles/project_base.html' %}
{% load rules %}

{% block title %}
  Confirm Landing Zone Deletion
{% endblock title %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item active">Recreate Project-Wide Statistics</li>
{% endblock %}

{% block projectroles %}

  <div class="row sodar-pr-content-title pb-2">
    <h2 class="sodar-pr-content-title">
      Confirm Recreating Project-Wide Statistics
    </h2>
  </div>

<div class="container-fluid sodar-page-container">
  <div class="alert alert-warning" role="alert">
    Do you really want to re-create the project-wide statistics for &quot;{{ project.title }}&quot;?
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="btn-group ml-auto">
        <a role="button" class="btn btn-secondary"
           href="{{ request.session.real_referer }}">
          <i class="fa fa-arrow-circle-left"></i> Cancel
        </a>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-refresh"></i> Yes
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock projectroles %}
