{% extends base_template %}

{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load dict %}
{% load humanize %}
{% load static %}
{% load json %}

{% block projectroles_extend %}
  <div style="font-size: .9em;">
    <div class="row">
      <div class="col-12 col-xl-6">
        {% include "variants/var_details/gene.html" %}
      </div>
      <div class="col-12 col-xl-6">
        {% include "variants/var_details/freq_overview.html" %}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-6">
        {% include "variants/var_details/clinvar.html" %}
      </div>
      {% if not training_mode %}
      <div class="col-12 col-xl-6">
        {% include "variants/var_details/comments_flags.html" %}
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12 col-xl-4">
        {% include "variants/var_details/_card_transcripts.html" %}
      </div>
      <div class="col-12 col-xl-8">
        {% include "variants/var_details/call_details.html" %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include "variants/var_details/conservation.html" %}
      </div>
    </div>
  </div>

{% endblock %}
