[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aldjemy = "~=2.2"
altamisa = "~=0.2.5"
attrs = "~=21.2"
beautifulsoup4 = "~=4.9"
cattrs = "~=1.7"
django = "*"  # whatever django-sodar-core enforces
django-clone = "~=4.0"
django-cryptographic-fields-bihealth = "~=0.6.0"
django-debug-toolbar = "*"
django-extensions = "~=3.2"
django-postgres-copy = "~=2.3.5"  # there are issues above 2.3
django-plugins-bihealth = "~=0.4.0"
django-sodar-core = "~=0.13.0"
django-su = "~=0.9.0"
djangorestframework-httpsignature = "~=1.0"
djproxy = "~=2.3"
drf-keyed-list-bihealth = "~=0.1.1"
httpsig = "~=1.3"
interval-binning = "~=1.0"
intervaltree = "~=3.1"
iterable_orm = "==0.4"
jsonschema = "~=4.4"
lxml = "~=4.6"
nltk = "~=3.6"
numpy = "~=1.22"
pandas = "~=1.4"
phenopackets = "~=2.0"
protobuf = "~=3.20"
prettytable = "~=3.3"
psutil = "~=5.9.0"
pysam = "~=0.21.0"
python-dateutil = "~=2.8.1"
python-dotenv = "~=1.0"
pyyaml = "~=6.0"
redis = "~=4.4"
requests = "==2.31"
requests-http-signature = "~=0.2.0"
sentry-sdk = "~=1.1"
simplejson = "~=3.17"
sphinx-jsonschema = "~=1.17"
sqlalchemy = "~=1.4"
sqlparse = "~=0.4.4"
tqdm = "~=4.65"
vcfpy = "~=0.13.6"
wrapt = "~=1.14"
xlsxwriter = "~=1.4"
django-pydantic-field = "*"
universal-pathlib = "*"
s3fs = "*"

[dev-packages]
# packages for testing
black = "~=23.1.0"
click = "~=8.0"
coveralls = "*"
django-coverage-plugin = "~=3.0.0"
django-test-plus = "~=2.2.1"
factory-boy = "~=3.2.1"
flake8 = "~=5.0"
flake8-import-order = "*"
flake8-pyproject = "*"
freezegun = "~=1.2"
isort = "~=5.10"
jsonmatch = "*"
openpyxl = "~=3.0"
parameterized = "~=0.8.1"
requests-mock = "~=1.9"
selenium = "*"
snapshottest = "*"
tblib = "~=1.7.0"
# packages for local development
ipdb = "*"
jedi = "==0.17.2"
werkzeug = "~=2.2.3"

[ldap-packages]
# Dependencies for enabling LDAP support.  You will need the system library
# named `libldap` (or similar).
django-auth-ldap = "~=4.1.0"
python-ldap = "~=3.4.3"
# Packages needed in production.

[prod-packages]
whitenoise = "*"
gevent = "*"
gunicorn = "*"
boto3 = "*"
django-storages = "*"
django_redis = "*"

[requires]
python_version = "3.10"
