<ul class="nav nav-pills mb-3" id="genes-{{ card_id }}-tab" role="tablist">
  {% for gene in genes %}
    <li class="nav-item">
      <a class="nav-link {% if forloop.first %}active{% endif %}" id="genes-{{ card_id }}-{{ gene.entrez_id }}-tab" data-toggle="pill"
         href="#genes-{{ card_id }}-{{ gene.entrez_id }}" role="tab" aria-controls="genes-{{ card_id }}-home"
         aria-selected="true">{{ gene.symbol|default:gene.entrez_id }}</a>
    </li>
  {% endfor %}
</ul>

<div class="tab-content" id="genes-{{ card_id }}-tab-content">
  {% for gene in genes %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="genes-{{ card_id }}-{{ gene.entrez_id }}" role="tabpanel"
         aria-labelledby="genes-{{ card_id }}-{{ gene.entrez_id }}-tab">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Gene</h4>
            </div>
            <table class="card-body table table-striped table-sm">
              <tbody>
                <tr>
                  <th>Entrez ID</th>
                  <td>{{ gene.entrez_id }}</td>
                </tr>
                <tr>
                  <th>ENSEMBL ID</th>
                  <td>{{ gene.ensembl_gene_id }}</td>
                </tr>
                <tr>
                  <th>Symbol</th>
                  <td>{{ gene.symbol }}</td>
                </tr>
                <tr>
                  <th>Alias Symbol</th>
                  <td>{{ gene.alias_symbol|default:"-" }}</td>
                </tr>
                <tr>
                  <th>Name</th>
                  <td>{{ gene.name }}</td>
                </tr>
                <tr>
                  <th>Alias Names</th>
                  <td>{{ gene.alias_name|default:"-" }}</td>
                </tr>
                <tr>
                  <th>Gene Family</th>
                  <td>{{ gene.gene_family|default:"-" }}</td>
                </tr>
                <tr>
                  <th>NCBI Summary</th>
                  <td>
                    <div style="max-height: 150px; overflow-y: auto;">
                      {{ ncbi_summary.summary|default:"-" }}
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Gene RIFs</th>
                  <td>
                    {% if ncbi_gene_rifs %}
                      <ul class="pl-3" style="max-height: 150px; overflow-y: auto;">
                        {% for gene_rif in ncbi_gene_rifs %}
                          <li>{{ gene_rif.rif_text }}</li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <p class="text-center text-muted">
                        <i>No Reference-into-Function Information</i>
                      </p>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th>HPO Terms</th>
                  <td>
                    {% if gene.hpo_terms %}
                      {% for hpo_id, hpo_name in gene.hpo_terms %}
                        <span class="badge badge-secondary">{{ hpo_id }}</span> {{ hpo_name }}{% if not forloop.last %},{% endif %}
                      {% endfor %}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
