{% load static %}

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip({container: 'body'});
})

// we can't employ .click here because the html that it will work on is loaded afterwards.
$(document).on('click', '.toggle-variant-details', function() {
  if ($("i", this).hasClass('fa-chevron-right')) {
    $($(this).data("target") + " .variant-details").load(
      $(this).data("url"),
      function(responseText, textStatus, request) {
        if (textStatus == "error") {
          console.log("Error during AJAX call: ", request, textStatus, responseText);
        }
      }
    );
  }
  $("i", this).toggleClass('fa-chevron-right');
  $("i", this).toggleClass('fa-chevron-down');

});
</script>

<script type="text/javascript">
  /* This script has the purpose of dynamically rendering the django template variables that we require in JavaScript.
   */
  let structural_or_small = "structural";
  let variant_flags_url = "{% url 'svs:sv-flags-api' project=project.sodar_uuid case="--abcef--" sv="--bbccee--" %}";
  let variant_comment_url = "{% url 'svs:sv-comment-api' project=project.sodar_uuid case="--abcef--" sv="--bbccee--" %}";
</script>
<script type="text/javascript" src="{% static "js/vendor/lodash-4.17.15.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/helpers.js" %}"></script>
<script type="text/javascript" src="{% static "js/filter_form.js" %}"></script>
<script type="text/javascript" src="{% static "js/flags_comments.js" %}"></script>

{% include "variants/_variant_flag_form_tpl.html" %}
