{% load humanize %}
{% load variants_tags %}
{% load regmaps_tags %}
{% load dict %}

<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th style="width: 65px;" class="text-center">SV type / caller</th> {# sv_type + caller #}
      <th class="text-center">start</th> {# position #}
      <th class="text-center">length</th> {# position #}
      <th class="text-center" data-tooltip="tooltip" title="genes overlapping SV and genes in overlappnig TAD(s)">Gene(s)</th>

      <th style="width: 60px; background-color: #f0f0f0;" class="text-center" data-tooltip="tooltip" title="overlapping alleles in in-house background sv database with reciprocal overlap above {{ inhouse_min_overlap }}">in-house</th>
      <th style="width: 60px; background-color: #f0f0f0;" class="text-center" data-tooltip="tooltip" title="overlapping alleles in 1000 genomes project phase 3 SVs with reciprocal overlap above {{ g1k_min_overlap }}">1KG</th>
      <th style="width: 60px; background-color: #f0f0f0;" class="text-center" data-tooltip="tooltip" title="carriers with overlapping variant in dbVAR with reciprocal overlap above {{ dbvar_min_overlap }}">dbVar</th>
      <th style="width: 60px; background-color: #f0f0f0;" class="text-center" data-tooltip="tooltip" title="carriers with overlapping variant in ExAC CNVs with reciprocal overlap above {{ exac_min_overlap }}">ExAC</th>
      <th style="width: 60px; background-color: #f0f0f0;" class="text-center" data-tooltip="tooltip" title="carriers with overlapping variant in DGV with reciprocal overlap above {{ dgv_min_overlap }}">DGV</th>
      <th style="width: 60px; background-color: #f0f0f0;" class="text-center" data-tooltip="tooltip" title="carriers with overlapping variant in DGV gold standard with reciprocal overlap above {{ dgv_gs_min_overlap }}">DGV<sup>GS</sup></th>
      <th style="width: 60px; background-color: #f0f0f0;" class="text-center" data-tooltip="tooltip" title="carriers with overlapping variant in gnomAD SV with reciprocal overlap above {{ gnomad_min_overlap }}">gno&shy;mAD</th>

      <th style="width: 60px;" class="text-center" data-tooltip="tooltip" title="overlaps with human enhancers from VISTA">VIS&shy;TA</th>
      <th style="width: 60px;" class="text-center" data-tooltip="tooltip" title="overlaps with regulatory elements from ENSEMBL">ENS&shy;MBL</th>
      <th style="width: 60px;" class="text-center" data-tooltip="tooltip" title="overlaps with custom regulatory elements">REG-MAP</th>
      <th style="width: 60px;" class="text-center" data-tooltip="tooltip" title="distance to next TAD boundary if closer than 10kbp">TAD bound</th>

      {% for member in pedigree %}
        <th style="width: 80px; background-color: #f0f0f0;" class="text-center">
          <div class="sodar-overflow-container sodar-overflow-hover">
            {{ member.patient|only_source_name }}
          </div>
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if not rows_by_sv %}
      <tr>
        <td colspan="2" class="text-center text-muted font-italic">
          No SVs found.
        </td>
      </tr>
    {% else %}
      {% for entry in rows_by_sv.values %}
        {% with genes=entry.genes extra_genes=entry.extra_genes entries=entry.entries first_entry=entry.entries|first %}
          <tr>
            {# rank #}
            <td class="text-nowrap text-right text-muted">
                #{{ forloop.counter }}
            </td>
            <td class="text-center text-nowrap">
              {{ first_entry.sv_type }}
              <span>
                <i class="iconify text-muted" data-icon="fa-solid:wrench" data-tooltip="tooltip" title="SV caller: {{ first_entry.caller }}"></i>
              </span>
            </td>
            <td style="width: 140px;" class="text-nowrap">
              chr{{ first_entry.chromosome }}:{{ first_entry.start|intcomma }}
            </td>
            <td style="width: 50px;" class="text-nowrap text-right">
              {{ first_entry.sv_length|intcomma }}<small class="text-muted">bp</small>
            </td>
            <td>
              {% for entry in entries|slice:":3" %}
                {% if entries|length == 1 and not entry.symbol %}
                  <span class="text-muted">&empty; genes</span>
                {% elif not entry.symbol %}
                  {{ entry.gene_id }}{% if not forloop.last %},{% endif %}
                {% else %}
                  {{ entry.symbol }}{% if not forloop.last %},{% endif %}
                {% endif %}
              {% empty %}
                <span class="text-muted">&empty; genes</span>
              {% endfor %}
              {% if entries|length > 3 %}
                <small>+ {{ entries|length|add:"-3" }} more</small>
              {% endif %}
              {% if extra_genes %}
                <small class="text-muted">+ {{ extra_genes|length }} in TAD</small>
              {% endif %}
            </td>

            <td class="text-center {% if first_entry.inhouse_overlap_count %}text-dark{% else %}text-muted{% endif %}">
             {{ first_entry.inhouse_overlap_count|default:0|intcomma }}
            </td>
            <td class="text-center {% if first_entry.g1k_overlap_count %}text-dark{% else %}text-muted{% endif %}">
              {{ first_entry.g1k_overlap_count|default:0|intcomma }}
            </td>
            <td class="text-center {% if first_entry.dbvar_overlap_count %}text-dark{% else %}text-muted{% endif %}">
              {{ first_entry.dbvar_overlap_count|default:0|intcomma }}
            </td>
            <td class="text-center {% if first_entry.exac_carriers %}text-dark{% else %}text-muted{% endif %}">
              {{ first_entry.exac_carriers|default:0|intcomma }}
            </td>
            <td class="text-center {% if first_entry.dgv_overlap_count %}text-dark{% else %}text-muted{% endif %}">
              {{ first_entry.dgv_overlap_count|default:0|intcomma }}
            </td>
            <td class="text-center {% if first_entry.dgv_gs_overlap_count %}text-dark{% else %}text-muted{% endif %}">
              {{ first_entry.dgv_gs_overlap_count|default:0|intcomma }}
            </td>
            <td class="text-center {% if first_entry.gnomad_overlap_count %}text-dark{% else %}text-muted{% endif %}">
              {{ first_entry.gnomad_overlap_count|default:0|intcomma }}
            </td>

            <td class="text-muted text-nowrap text-center">
              <span class="
                    {% if first_entry.vista_positive_count %}
                      text-danger
                    {% elif first_entry.vista_negative_count %}
                      text-info
                    {% else %}
                      text-muted
                    {% endif %}
                  " data-tooltip="tooltip" data-html="true" title="
                  positive: {{ first_entry.vista_positive_count }}<br>
                  negative: {{ first_entry.vista_negative_count }}<br>
                  VISTA validation results
                  ">
                {{ first_entry.vista_positive_count }}{% if first_entry.vista_negative_count %}<sup>{{ first_entry.vista_negative_count  }}</sup>{% endif %}
              </span>
            </td>
            <td class="text-muted text-nowrap text-center">
              <span data-tooltip="tooltip" data-html="true" title="
                  enhancer: {{ first_entry.ensembl_enhancer_count }}<br>
                  promoter: {{ first_entry.ensembl_promoter_count }}<br>
                  open chromatin: {{ first_entry.ensembl_open_chromatin_region_count }}<br>
                  TF binding site: {{ first_entry.ensembl_TF_binding_site_count }}<br>
                  CTCF binding site: {{ first_entry.ensembl_CTCF_binding_site_count }}<br>
                  promoter flanking: {{ first_entry.ensembl_promoter_flanking_region_count }}<br>
                  NB: mostly predicted!
                ">
                {{ entry.ensembl_sum }}
              </span>
            </td>
            <td class="text-muted text-nowrap text-center">
              {{ first_entry|regmaps_elements }} / {{ first_entry|regmaps_interactions }}
            </td>
            <td class="{% if first_entry.distance_to_center|default:-1 != -1 %}text-right{% else %}text-center{% endif %}">
              {% if first_entry.distance_to_center|default:-1 != -1 %}
                <span class="
                    {% if first_entry.distance_to_center < 100 %}
                      text-danger
                    {% elif first_entry.distance_to_center < 1000 %}
                      text-warning
                    {% else %}
                      text-info
                    {% endif %}">
                  {{ first_entry.distance_to_center|intcomma }}<small>bp</small>
                </span>
              {% else %}
                <small class="text-muted" data-tooltip="tooltip" title="TAD boundary more than 10kbp away from SV">&gt;10kbp</small>
              {% endif %}
            </td>

            {# pedigree members #}
            {% for member in pedigree %}
              {% include "svs/filter_result/_gt_field.html" with name=member.patient %}
            {% endfor %}
          </tr>
        {% endwith %}
      {% endfor %}
    {% endif %}
  </tbody>
</table>
