[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aldjemy = "~=3.2"
altamisa = "~=0.3.0"
attrs = "~=25.3"
beautifulsoup4 = "~=4.13"
cattrs = "*"
django = "*"  # same as django-sodar-core
django-clone = "*"
django-cryptographic-fields-bihealth = "~=0.6.0"
django-debug-toolbar = "*"
django-extensions = "~=3.2"
django-postgres-copy = "~=2.3.5"  # there are issues above 2.3
django-plugins-bihealth = "~=0.5.2"
django-sodar-core = "==1.0.5"
django-su = "~=1.0.0"
djangorestframework-httpsignature = "~=1.0"
djangorestframework = "~=3.15"
djproxy = "~=2.3"
drf-keyed-list-bihealth = "~=0.2.1"
httpsig = "~=1.3"
interval-binning = "~=1.0"
intervaltree = "~=3.1"
iterable_orm = "==0.4"
jsonschema = "*"
lxml = "~=5.3"
numpy = "~=2.2"
pandas = "~=2.2"
phenopackets = "~=2.0"
protobuf = "~=3.20"
prettytable = "~=3.16"
psutil = "*"
pysam = "~=0.23"
python-dateutil = "~=2.9"
python-dotenv = "~=1.1"
pyyaml = "~=6.0"
redis = "~=5.2"
requests = "==2.32.3"
requests-http-signature = "~=0.2.0"
sentry-sdk = "~=2.25"
simplejson = "~=3.19"
sphinx-jsonschema = "~=1.17"
sqlalchemy = "~=1.4"
sqlparse = "~=0.5.3"
tqdm = "~=4.67"
vcfpy = "~=0.13.8"
wrapt = "~=1.17"
xlsxwriter = "~=3.2"
django-pydantic-field = "*"
pydantic = "*"
typing-extensions="*"
universal-pathlib = "*"
s3fs = "*"
toml = "*"
rich = "*"
drf-writable-nested = "*"
django-modelcluster = "*"
faker = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
clinvar-this = "==0.18.5"

[dev-packages]
# packages for testing
black = "~=25.1.0"
click = "~=8.1"
coveralls = "*"
django-coverage-plugin = "~=3.1.0"
django-test-plus = "~=2.2.4"
factory-boy = "~=3.3.3"
flake8 = "~=7.2"
flake8-import-order = "*"
flake8-pyproject = "*"
freezegun = "~=1.5"
isort = "~=6.0"
jsonmatch = "*"
mypy-protobuf = "*"
openpyxl = "~=3.1"
parameterized = "~=0.9.0"
protolint-bin = "*"
requests-mock = "~=1.9"
selenium = "*"
snapshottest = "*"
tblib = "~=3.1.0"
types-protobuf = "*"
# packages for local development
ipdb = "*"
jedi = "==0.19.2"
watchdog = "*"
werkzeug = "~=3.1.3"
uritemplate = "*"
django-types = "*"

[ldap-packages]
# Dependencies for enabling LDAP support.  You will need the system library
# named `libldap` (or similar).
django-auth-ldap = "~=4.6"
python-ldap = "~=3.4"
# Packages needed in production.

[prod-packages]
whitenoise = "*"
gevent = "*"
gunicorn = "*"
boto3 = "*"
django-storages = "*"
django_redis = "*"

[requires]
python_version = "3.11"
