{% load crispy_forms_tags %}
{% load dict %}

<div class="row compact-form-groups">
  <div class="small font-italic p-2 bg-light">
    Use the settings below to require variants to be present in HGMD Public, Clinvar, or remove variants present in dbSNP.
    Also, you can filter the variants from ClinVar to consider (e.g., only germline, at least likely pathogenic).
  </div>

  <div class="col-12 pt-3">
    <h5 class="card-title">HGMD Public Membership</h5>
  </div>

  <div class="col-12">
    {{ form.require_in_hgmd_public|as_crispy_field }}
  </div>

  <div class="col-12">
    <h5 class="card-title">dbSNP Membership</h5>
  </div>

  <div class="col-12">
    {{ form.remove_if_in_dbsnp|as_crispy_field }}
  </div>

  <div class="col-12">
    <h5 class="card-title">ClinVar Membership</h5>
  </div>

  <div class="col-12">
    {{ form.require_in_clinvar|as_crispy_field }}
  </div>

  <div class="col-12">
    <h5 class="card-title">
      ClinVar Status
      <small class="text-muted">
        Only applied if membership required.
      </small>
    </h5>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-2 pl-0 pt-0">
        {{ form.clinvar_include_benign|as_crispy_field }}
      </div>
      <div class="col-2">
        {{ form.clinvar_include_likely_benign|as_crispy_field }}
      </div>
      <div class="col-2">
        {{ form.clinvar_include_uncertain_significance|as_crispy_field }}
      </div>
      <div class="col-2">
        {{ form.clinvar_include_likely_pathogenic|as_crispy_field }}
      </div>
      <div class="col-2">
        {{ form.clinvar_include_pathogenic|as_crispy_field }}
      </div>
    </div>
  </div>

</div>
