{% load crispy_forms_tags %}
{% load dict %}

<div class="row">
  <div class="col-12 pt-3">
    <h5 class="card-title">
      Configure Downloads
    </h5>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p class="text-secondary">
      The settings in this tab are only used when using the <span class="badge badge-secondary"><i class="fa fa-cloud-download"></i>
      Download</span> button and not when using <span class="badge badge-primary"><i class="fa fa-refresh"></i> Filter</span> button
      below.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="form-group">
      <div class="row">
        <label for="id_file_type" class="col-sm-2 pl-0 col-form-label">
          File Type
        </label>
        <div class="col-sm-10">
          {{ form.file_type }}
        </div>
        <div class="col-12">
          <small class="form-text text-muted">
            The VCF file export contains the bare minimum information (genomic variant and genotype, coverage, allelic depth, genotype call quality score).
            Most filters work but
            <strong>
              please note that the HGMD public membership filtration is ignored as well as any filters for flags, comments, and ClinVar details.
            </strong>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="form-group">
      <div class="row">
        <label class="col-sm-2 pl-0 col-form-label">
          Donors to Export
        </label>
        <div class="col-sm-10 compact-form-groups">
          {% for member in form.pedigree %}
            {% if member.has_gt_entries %}
              {% with x=form.field_names|keyvalue:member.patient|keyvalue:"export" %}
                {{ form|keyvalue:x|as_crispy_field }}
              {% endwith %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="form-group">
      <div class="row">
        <label for="id_file_type" class="col-sm-2 pl-0 col-form-label">
          Flags & Comments
        </label>
        <div class="col-sm-3">
          {{ form.export_flags|as_crispy_field }}
        </div>
        <div class="col-sm-3">
          {{ form.export_comments|as_crispy_field }}
        </div>
      </div>
    </div>
  </div>
</div>
