{% load crispy_forms_tags %}
{% load dict %}

<div class="row pb-3 pt-3 compact-form-groups">
  <div class="col-12">
    <div class="row">
      <h5 class="col-2 pl-0">
        Flags
      </h5>
      <div class="col-2">{{ form.flag_bookmarked|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_candidate|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_final_causative|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_for_validation|as_crispy_field }}</div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-2">{{ form.flag_no_disease_association|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_segregates|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_doesnt_segregate|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_simple_empty|as_crispy_field }}</div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <h5 class="col-2 pl-0">
        Visual
      </h5>
      <div class="col-2">{{ form.flag_visual_positive|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_visual_uncertain|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_visual_negative|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_visual_empty|as_crispy_field }}</div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <h5 class="col-2 pl-0">
        Validation
      </h5>
      <div class="col-2">{{ form.flag_validation_positive|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_validation_uncertain|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_validation_negative|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_validation_empty|as_crispy_field }}</div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <h5 class="col-2 pl-0">
        Phenotype Match
      </h5>
      <div class="col-2">{{ form.flag_phenotype_match_positive|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_phenotype_match_uncertain|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_phenotype_match_negative|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_phenotype_match_empty|as_crispy_field }}</div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <h5 class="col-2 pl-0">
        Molecular
      </h5>
      <div class="col-2">{{ form.flag_molecular_positive|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_molecular_uncertain|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_molecular_negative|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_molecular_empty|as_crispy_field }}</div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <h5 class="col-2 pl-0">
        Summary
      </h5>
      <div class="col-2">{{ form.flag_summary_positive|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_summary_uncertain|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_summary_negative|as_crispy_field }}</div>
      <div class="col-2">{{ form.flag_summary_empty|as_crispy_field }}</div>
    </div>
  </div>
</div>
