{% load crispy_forms_tags %}
{% load dict %}

<table class="table table-striped table-hover sodar-card-table compact-form-groups">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th class="text-center" data-toggle="tooltip" title="Maximal allowed homozygous count">Homozygous count</th>
      <th class="text-center" data-toggle="tooltip" title="Maximal allowed heterozygous count">Heterozygous count</th>
      <th class="text-center" data-toggle="tooltip" title="Maximal allowed frequency (in any sub population if applicable)">Frequency</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ form.thousand_genomes_enabled|as_crispy_field }}</td>
      <td data-toggle="tooltip" title="Phase 3 data (healthy individuals; no sub populations)">1000 Genomes</td>
      <td>{{ form.thousand_genomes_homozygous|as_crispy_field }}</td>
      <td>{{ form.thousand_genomes_heterozygous|as_crispy_field }}</td>
      <td>{{ form.thousand_genomes_frequency|as_crispy_field }}</td>
    </tr>
    <tr>
      <td>{{ form.exac_enabled|as_crispy_field }}</td>
      <td data-toggle="tooltip" title="Exomes; project attempts to exclude pediatric disease cases">ExAC</td>
      <td>{{ form.exac_homozygous|as_crispy_field }}</td>
      <td>{{ form.exac_heterozygous|as_crispy_field }}</td>
      <td>{{ form.exac_frequency|as_crispy_field }}</td>
    </tr>
    <tr>
      <td>{{ form.gnomad_exomes_enabled|as_crispy_field }}</td>
      <td data-toggle="tooltip" title="ExAC follow-up; exomes; project attempts to exclude pediatric cases">gnomAD exomes</td>
      <td>{{ form.gnomad_exomes_homozygous|as_crispy_field }}</td>
      <td>{{ form.gnomad_exomes_heterozygous|as_crispy_field }}</td>
      <td>{{ form.gnomad_exomes_frequency|as_crispy_field }}</td>
    </tr>
    <tr>
      <td>{{ form.gnomad_genomes_enabled|as_crispy_field }}</td>
      <td data-toggle="tooltip" title="ExAC follow-up; genomes; project attempts to exclude pediatric cases">gnomAD genomes</td>
      <td>{{ form.gnomad_genomes_homozygous|as_crispy_field }}</td>
      <td>{{ form.gnomad_genomes_heterozygous|as_crispy_field }}</td>
      <td>{{ form.gnomad_genomes_frequency|as_crispy_field }}</td>
    </tr>
  </tbody>
</table>

<div class="p-2 text-secondary border-top">
  Leave field empty to exclude from query.
</div>
