{% load crispy_forms_tags %}
{% load dict %}

<div class="pt-3 pl-3 pr-3 compact-form-groups">
  <div class="small font-italic p-2 bg-light">
    Select a list of genes to ignore (blacklist), a list of genes to require (whitelist), or filter to a specific genomic region.
  </div>

  <h5 class="card-title mb-1">
    Gene Blacklist
    <div class="d-inline dropdown">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="presets-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="d-none d-sm-inline">
          Add Preset
        </span>
        <span class="d-inline d-sm-none">
          <i class="fa fa-sliders"></i>
        </span>
      </button>
      <div class="dropdown-menu" aria-labelledby="presets-menu-button">
        <a class="dropdown-item load-blacklist" href="#" data-preset-name="hla">HLA</a>
        <a class="dropdown-item load-blacklist" href="#" data-preset-name="muc">MUC</a>
      </div>
    </div>
  </h5>

  {{ form.gene_blacklist }}

  <h5 class="card-title mb-1 mt-2">
    Gene Whitelist
    <div class="d-inline dropdown">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="presets-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="d-none d-sm-inline">
          Add Preset
        </span>
        <span class="d-inline d-sm-none">
          <i class="fa fa-sliders"></i>
        </span>
      </button>
      <div class="dropdown-menu" aria-labelledby="presets-menu-button">
        <a class="dropdown-item load-whitelist" href="#" data-preset-name="acmg1">ACMG v1</a>
        <a class="dropdown-item load-whitelist" href="#" data-preset-name="acmg2">ACMG v2</a>
      </div>
    </div>
  </h5>

  {{ form.gene_whitelist }}

  <p class="text-muted">
    <small>
      Enter lists of HGNC symbols, Entrez IDs, or ENSEMBL gene IDs separated by spaces or line break.
      If any white-list gene is given, only variants in a white-listed gene are shown.
      Variants in black-listed genes are excluded. Entries are case-sensitive.
    </small>
  </p>

  <h5 class="card-title mb-1 mt-2">Genomic Region</h5>

  {{ form.genomic_region }}

  <p class="text-muted">
    <small>
      Enter lists of genomic regions, separated by spaces or line break. An entry has the format <span class="badge badge-secondary">1:1,000,000-2,000,000</span>.
      This restricts the query to the listed regions.
    </small>
  </p>
</div>
