{% load crispy_forms_tags %}
{% load dict %}

<div class="pt-3 pl-3 pr-3 compact-form-groups">
  <h5 class="card-title mb-1">Gene Blacklist</h5>

  {{ form.gene_blacklist }}

  <h5 class="card-title mb-1 mt-2">Gene Whitelist</h5>

  {{ form.gene_whitelist }}

  <p class="text-muted">
    <small>
      Enter lists of HGNC symbols, Entrez IDs, or ENSEMBL gene IDs separated by spaces or line break.
      If any white-list gene is given, only variants in a white-listed gene are shown.
      Variants in black-listed genes are excluded.
    </small>
  </p>

  <h5 class="card-title mb-1 mt-2">Genomic Region</h5>

  {{ form.genomic_region }}

  <p class="text-muted">
    <small>
      Enter lists of genomic regions, separated by spaces or line break. An entry has the format <span class="badge badge-secondary">1:1,000,000-2,000,000</span>.
      This restricts the query to the listed regions.
    </small>
  </p>
</div>
