{% load crispy_forms_tags %}
{% load dict %}

<div class="pt-3 pl-3 pr-3 compact-form-groups">
  <div class="small font-italic p-2 bg-light">
    Select a list of genes to ignore (blocklist), a list of genes to require (allowlist), or filter to a specific genomic region.
  </div>

  <h5 class="card-title mb-1">
    Gene Blocklist
    <div class="d-inline dropdown">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="presets-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="d-none d-sm-inline">
          Add Preset
        </span>
        <span class="d-inline d-sm-none">
          <span class="iconify" data-icon="mdi:dip-switch" data-inline="false"></span>
        </span>
      </button>
      <div class="dropdown-menu" aria-labelledby="presets-menu-button">
        <a class="dropdown-item load-blocklist" href="#" data-preset-name="hla">HLA</a>
        <a class="dropdown-item load-blocklist" href="#" data-preset-name="muc">MUC</a>
      </div>
    </div>
  </h5>

  {{ form.gene_blocklist }}

  <h5 class="card-title mb-1 mt-2 form-inline">
    Gene Allowlist

    <div class="d-inline dropdown px-2">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="presets-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="d-none d-sm-inline">
          Add Preset
        </span>
        <span class="d-inline d-sm-none">
          <span class="iconify" data-icon="mdi:dip-switch" data-inline="false"></span>
        </span>
      </button>
      <div class="dropdown-menu" aria-labelledby="presets-menu-button">
        <a class="dropdown-item load-allowlist" href="#" data-preset-name="acmg1">ACMG v1</a>
        <a class="dropdown-item load-allowlist" href="#" data-preset-name="acmg2">ACMG v2</a>
        <a class="dropdown-item load-allowlist" href="#" data-preset-name="acmg30">ACMG v3.0</a>
        <a class="dropdown-item load-allowlist" href="#" data-preset-name="acmg31">ACMG v3.1</a>
      </div>
    </div>

    &mdash;

    <div class="d-inline dropdown px-2">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="panel-app-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="d-none d-sm-inline">
          Add from GE PanelApp
        </span>
        <span class="d-inline d-sm-none">
          <span class="iconify" data-icon="mdi:format-list-bulleted-square" data-inline="false"></span>
        </span>
      </button>
      <div class="dropdown-menu pre-scrollable" id="genomics-england-panels" aria-labelledby="presets-menu-button">
        <a class="dropdown-item disabled" href="#">
          <i class="iconify spin" data-icon="fa-solid:circle-notch"></i>
          Loading Panels...
        </a>
      </div>
    </div>

    <div class="px-2">
      Confidence
      <select class="form-control" id="genomics-england-confidence">
        <option value="3">green</option>
        <option value="2">amber</option>
        <option value="1">red</option>
      </select>
      and above
    </div>

    {% if genepanel_categories %}
      <div class="px-2">
        &mdash;
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="presets-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="d-none d-sm-inline">
            Add Local Panel
          </span>
          <div class="dropdown-menu" aria-labelledby="presets-menu-button">
            {% for category in genepanel_categories %}
              <h6 class="dropdown-header">{{ category.title }}</h6>
              {% for genepanel in category.genepanel_set.all %}
                {% if genepanel.state == 'active' %}
                  <a class="dropdown-item load-local-panel" href="#" data-genes="GENEPANEL:{{ genepanel.identifier }}">{{ genepanel.title }} (v{{ genepanel.version_major }}.{{ genepanel.version_minor }})</a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </button>
      </div>
    {% endif %}
  </h5>

  {{ form.gene_allowlist }}

  <p class="text-muted">
    <small>
      Enter lists of HGNC gene ids or symbols, Entrez IDs, or ENSEMBL gene IDs separated by spaces or line break.
      If any allow-list gene is given, only variants in a allow-listed gene are shown.
      Variants in block-listed genes are excluded. Entries are case-sensitive.
    </small>
  </p>

  <h5 class="card-title mb-1 mt-2">Genomic Region</h5>

  {{ form.genomic_region }}

  <p class="text-muted">
    <small>
      Enter lists of genomic regions, separated by spaces or line break. An entry has the format <span class="badge badge-secondary">1:1,000,000-2,000,000</span>.
      This restricts the query to the listed regions.
    </small>
  </p>
</div>
