{% load crispy_forms_tags %}
{% load dict %}
{% load variants_tags %}

<table class="table table-striped table sodar-card-table">
  <thead>
    <tr>
      <th class="col-2">Individual</th>
      <th class="col-2">Trio Role</th>
      <th class="col-2">Father</th>
      <th class="col-2">Mother</th>
      <th class="col-2">Gender</th>
      <th class="col-2">Affected</th>
      <th class="col-2" data-toggle="tooltip" data-placement="top" data-html="true" title="<div class='text-left'><ul class='pl-3'><li><strong>any</strong>: don't apply genotype filter</li><li><strong>variant</strong>: allows genotypes '0/1' and '1/1'</li><li><strong>non-variant</strong>: allows genotypes '0/0' and './.'</li><li><strong>non-reference</strong>: allows genotypes that are a variant or './.'</li></ul></div>">Genotype</th>
    </tr>
  </thead>
  <tbody>
    {% for item in form.pedigree %}
    <tr>
      <td>{{ item.patient|only_source_name }}</td>
      <td>{{ form.member_roles|keyvalue:item.patient }}</td>
      <td>{{ item.father|default:"0"|only_source_name }}</td>
      <td>{{ item.mother|default:"0"|only_source_name }}</td>
      <td><i class="fa {% if item.sex == 1 %}fa-venus{% else %}fa-mars{% endif %}"></i></td>
      <td><i class="fa {% if item.affected == 2 %}fa-check color-danger{% else %}fa-ban{% endif %}"></i></td>
      {% if item.has_gt_entries %}
        <td>{% with x=form.field_names|keyvalue:item.patient|keyvalue:"gt" %}{{ form|keyvalue:x }}{% endwith %}</td>
      {% else %}
        <td class="text-centered">
          <em>no genotypes</em>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if not clinvar_form %}
  <div class="p-2 mt-2 border-top compact-form-groups">
    <h5>Compound Heterozygous Settings</h5>
    {{ form.compound_recessive_enabled|as_crispy_field }}
  </div>
{% endif %}
