<div class="row">
  <div class="col-1 pl-0">
  <label class="font-weight-bold small text-nowrap">Quick Presets</label>
    <div class="dropdown" id="quick-presets-dropdown" style="z-index: 2030">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="quick-presets-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Load Presets
        &nbsp;
        <i class="fa fa-arrow-right"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="quick-presets-button">
        <a class="dropdown-item quick-presets" href="#" data-preset-name="defaults" id="quick-presets-defaults">defaults</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item quick-presets" href="#" data-preset-name="de-novo">de novo</a>
        <a class="dropdown-item quick-presets" href="#" data-preset-name="dominant">dominant</a>
        <a class="dropdown-item quick-presets" href="#" data-preset-name="hom-recessive">hom. recessive</a>
        <a class="dropdown-item quick-presets" href="#" data-preset-name="comp-het">comp. heterozygous</a>
        <a class="dropdown-item quick-presets" href="#" data-preset-name="recessive">recessive</a>
        <a class="dropdown-item quick-presets" href="#" data-preset-name="x-recessive">X recessive</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item quick-presets" href="#" data-preset-name="clinvar">ClinVar pathogenic</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item quick-presets" href="#" data-preset-name="mitochondrial">mitochondrial</a>
        <a class="dropdown-item quick-presets" href="#" data-preset-name="whole-exome">whole exome</a>
      </div>
    </div>
  </div>
  <div class="col-2">
    <label for="input-presets-inheritance" class="font-weight-bold small">Inheritance</label>
    <select id="input-presets-inheritance" class="form-control form-control-sm">
      <option value="inheritance-any" selected="selected">any (default)</option>
      <option value="inheritance-dominant" >dominant / de novo</option>
      <option value="inheritance-hom-recessive" >hom. recessive</option>
      <option value="inheritance-comp-het" >comp. heterozygous</option>
      <option value="inheritance-recessive" >recessive</option>
      <option value="inheritance-x-recessive" >X recessive</option>
      <option value="inheritance-mitochondrial" >mitochondrial / ClinVar pathogenic</option>
      <option value="inheritance-custom">custom</option>
    </select>
  </div>
  <div class="col-2">
    <label for="input-presets-frequency" class="font-weight-bold small">Frequency</label>
    <select id="input-presets-frequency" class="form-control form-control-sm">
      <option value="frequency-all">all (no filter)</option>
      <option value="frequency-custom">custom</option>
      <optgroup label="dominant">
        <option value="frequency-super-strict">dominant super strict</option>
        <option value="frequency-strict" selected="selected">dominant strict (default)</option>
        <option value="frequency-relaxed">dominant relaxed</option>
      </optgroup>
      <optgroup label="recessive">
        <option value="frequency-recessive-strict">recessive strict</option>
        <option value="frequency-recessive-relaxed">recessive relaxed</option>
      </optgroup>
    </select>
  </div>
  <div class="col-2">
    <label for="input-presets-impact" class="font-weight-bold small">Impact</label>
    <select id="input-presets-impact" class="form-control form-control-sm">
      <option value="impact-null-variant">null variant</option>
      <option value="impact-aa-change" selected="selected">AA change, splicing (default)</option>
      <option value="impact-all-coding-deep-intronic">all coding, deep intronic</option>
      <option value="impact-whole-transcript">whole transcript (exon/intron)</option>
      <option value="impact-custom">custom</option>
      <option value="impact-any">any impact</option>
    </select>
  </div>
  <div class="col-2">
    <label for="input-presets-quality" class="font-weight-bold small">Quality</label>
    <select id="input-presets-quality" class="form-control form-control-sm">
      <option value="quality-super-strict">super strict</option>
      <option value="quality-strict" selected="selected">strict (default)</option>
      <option value="quality-relaxed">relaxed</option>
      <option value="quality-custom">custom</option>
      <option value="quality-ignore">ignore (no filter)</option>
    </select>
  </div>
  <div class="col-2">
    <label for="input-presets-region" class="font-weight-bold small">Chromosomes</label>
    <select id="input-presets-region" class="form-control form-control-sm">
      <option value="region-whole-genome" selected="selected">whole genome (default)</option>
      <option value="region-autosomes">autosomes</option>
      <option value="region-x-chromosome">X chromosome</option>
      <option value="region-y-chromosome">Y chromosome</option>
      <option value="region-mt-chromosome">MT chromosome</option>
      <option value="region-custom">custom</option>
    </select>
  </div>
  <div class="col-1">
    <label for="input-presets-flags" class="font-weight-bold small">Flags etc.</label>
    <select id="input-presets-flags" class="form-control form-control-sm">
      <option value="flags-default" selected="selected">defaults</option>
      <option value="flags-clinvar">ClinVar only</option>
      <option value="flags-user-flagged">user flagged</option>
      <option value="flags-custom">custom</option>
    </select>
  </div>
  <div class="col-12 small font-italic p-0 pt-2">
    You can use the <strong>Quick Presets</strong> to get sensible settings to start out with, e.g, with a "recessive hypothesis."
    Then, use the <strong>category dropdown boxes</strong> Inheritance, Frequency, etc. to select coarse-grain presets in each filter settings category.
    Finally, you can fine-tune all filter settings in the form below.
  </div>
</div>
