{% load crispy_forms_tags %}
{% load dict %}
{% load variants_tags %}
{% load projectroles_common_tags %}

{% get_django_setting 'VARFISH_ENABLE_EXOMISER_PRIORITISER' as exomiser_enabled %}
{% get_django_setting 'VARFISH_ENABLE_CADD' as cadd_enabled %}

<div class="row compact-form-groups">
  {% if exomiser_enabled and query_type == "case" %}
    <div class="col-6 pt-3">
      <h5 class="card-title">
        Phenotype Prioritization
      </h5>
      {{ form.prio_enabled|as_crispy_field }}
      {{ form.prio_algorithm|as_crispy_field }}
        <div class="form-group">
            <label class="form-control-label">HPO Terms</label>
            <input type="text" id="id_hpo_typeahead" class="form-control" placeholder="Type HPO name or ID here (min 3 characters) to get suggestions below (20 are displayed at max) ..." />
            <div id="id_hpo_suggestions" class="mt-2 mb-2 list-unstyled" style="max-height: 200px; overflow-y: scroll;"></div>
        </div>
      {{ form.prio_hpo_terms|as_crispy_field }}
    </div>
  {% endif %}

  <div class="col-6 pt-3">
    <h5 class="card-title">
      Pathogenicity Prioritization
    </h5>
    {{ form.patho_enabled|as_crispy_field }}
    {{ form.patho_score|as_crispy_field }}
  </div>
</div>
