{% load crispy_forms_tags %}
{% load dict %}
{% load variants_tags %}

<!-- Prevent table overflow -->
<style type="text/css">
  table#quality-filter-table tbody tr td input {
      width: 5em !important;
  }
</style>

<div style="overflow-y: visible !important; max-height: 400px;">
  <table class="table table-striped table-hover sodar-card-table compact-form-groups" id="quality-filter-table">
    <thead>
      <tr>
        <th class="text-muted" style="width: 10px">#</th>
        <th class="col-2">Individual</th>
        <th class="col-2">Father</th>
        <th class="col-2">Mother</th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Minimal read depth for heterozygous (and hemizygous) variants">min DP het.</th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Minimal read depth for homozygous variants">min DP hom.</th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Minimal allelic balance for heterozygous variants, with <sup>AD</sup>&frasl;<sub>DP</sub> > X and <sup>AD</sup>&frasl;<sub>DP</sub> < 1-X if site is heterozygous">min AB</th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Minimal genotype quality">min GQ</th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Minimal allelic depth, i.e. the coverage of the alternative allele. Only applies if genotype is not '0/0'">min AD</th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Maximal allelic depth, i.e. the coverage of the alternative allele. Only applies if genotype is not '0/0'">max AD</th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="<div class='text-left'><ul class='pl-3'><li><strong>ignore</strong>: don't apply quality filters at all</li><li><strong>drop-variant</strong>: remove variant from result list if at least one quality filter fails</li><li><strong>no-call</strong>: don't filter for genotype if at least one quality filter fails</li></ul></div>">on FAIL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td class="text-muted">
          <em>Template Settings</em>
        </td>
        <td colspan="2" class="text-muted text-right">
          <button class="btn btn-sm btn-secondary" type="button" id="qualityTemplateApplyButton">Apply&nbsp;<i class="fa fa-arrow-down"></i></button>
          &nbsp;
          to
          &nbsp;
          <select id="qualityTemplateAffectionSelection">
            <option value="all">all</option>
            <option value="affected">affected</option>
            <option value="unaffected">unaffected</option>
          </select>
        </td>
        <td><input id="template_quality_field_dp_het" class="numberInteger textinput textInput form-control" type="text" name="template_quality_field_dp_het"></td>
        <td><input id="template_quality_field_dp_hom" class="numberInteger textinput textInput form-control" type="text" name="template_quality_field_dp_hom"></td>
        <td><input id="template_quality_field_ab" class="numberDecimal textinput textInput form-control" type="text" name="template_quality_field_ab"></td>
        <td><input id="template_quality_field_gq" class="numberInteger textinput textInput form-control" type="text" name="template_quality_field_gq"></td>
        <td><input id="template_quality_field_ad" class="numberInteger textinput textInput form-control" type="text" name="template_quality_field_ad"></td>
        <td><input id="template_quality_field_ad_max" class="numberInteger textinput textInput form-control" type="text" name="template_quality_field_ad_max"></td>
        <td>
          <select id="template_quality_field_fail" name="template_quality_field_fail">
            <option value="ignore">ignore</option>
            <option value="drop-variant">drop variant</option>
            <option value="no-call">no-call</option>
          </select>
        </td>
      </tr>
      {% for member in form.get_pedigree %}
      <tr>
        <td class="text-right text-muted">{{ forloop.counter }}</td>
        <td>{{ member.patient|only_source_name }}</td>
        <td>{{ member.father|default:"0"|only_source_name }}</td>
        <td>{{ member.mother|default:"0"|only_source_name }}</td>
        {% if member.has_gt_entries %}
          {% with field_names=form.get_quality_field_names|keyvalue:member.patient %}
            <td>{% with x=field_names|keyvalue:"dp_het" %}{{ form|keyvalue:x|as_crispy_field }}{% endwith %}</td>
            <td>{% with x=field_names|keyvalue:"dp_hom" %}{{ form|keyvalue:x|as_crispy_field }}{% endwith %}</td>
            <td>{% with x=field_names|keyvalue:"ab" %}{{ form|keyvalue:x|as_crispy_field }}{% endwith %}</td>
            <td>{% with x=field_names|keyvalue:"gq" %}{{ form|keyvalue:x|as_crispy_field }}{% endwith %}</td>
            <td>{% with x=field_names|keyvalue:"ad" %}{{ form|keyvalue:x|as_crispy_field }}{% endwith %}</td>
            <td>{% with x=field_names|keyvalue:"ad_max" %}{{ form|keyvalue:x|as_crispy_field }}{% endwith %}</td>
            <td>{% with x=field_names|keyvalue:"fail" %}{{ form|keyvalue:x}}{% endwith %}</td>
          {% endwith %}
        {% else %}
          <td colspan="6" class="text-centered">
            <em>no genotypes</em>
          </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
