{% extends 'projectroles/base.html' %}

{% load rules %}
{% load crispy_forms_filters %}
{% load projectroles_common_tags %}

{% block title %}Confirm Removal of Consortium{% endblock %}

{% block projectroles %}

<div class="row sodar-subtitle-container">
  <h2>Confirm Removal of Consortium</h2>
</div>

<div class="container-fluid sodar-page-container">
  <div class="alert alert-warning" role="alert">
    Do you really want to remove the consortium "<strong>{{ object.title }}</strong>"?
    All information associated with it will be removed, including site assignments
    and any logging information.  <strong>Note that you can also deactivate consortia
    by setting their state to disabled instead of deleting them.</strong>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="btn-group pull-right">
      <a role="button" class="btn btn-secondary"
         href="{% url 'beaconsite:consortium-detail' consortium=object.sodar_uuid %}">
        <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
      </a>
      <button type="submit" class="btn btn-danger">
        <i class="iconify" data-icon="mdi:eraser" data-inline="false"></i>
        Remove
      </button>
    </div>
  </form>
</div>

{% endblock projectroles %}
