{# BackgroundJob list #}
<div id="varfish-bg-job-list" class="card mb-3">
  <div class="card-body p-0">
    <table id="varfish-bg-table" class="table table-striped sodar-card-table">
      <thead>
        <tr>
          <th>Started</th>
          <th>Last Change</th>
          <th>State</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for job in object_list %}
          {% include 'bgjobs/_backgroundjob_item.html' with item=job details_card_mode=False %}
        {% endfor %}
        {% if not object_list %}
          <tr>
             <td class="bg-faded font-italic text-center" colspan="4">
               No background jobs found.
             </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
