{% load bgjobs_tags %}


<table class="table table-striped sodar-card-table sodar-bj-detail-table">
  <thead>
    <tr>
      <th>Created</th>
      <th>Last Changed</th>
      <th id="sodar-bj-list-header-status">Status</th>
      <th id="sodar-bj-list-header-name">Status&nbsp;Name</th>
    </tr>
  </thead>
  <tbody>
    {% get_details_backgroundjobs project as backgroundjobs %}
    {% if backgroundjobs.count > 0 %}
      {% for backgroundjob in backgroundjobs %}
        {% include 'bgjobs/_backgroundjob_item.html' with item=backgroundjob details_card_mode=True %}
      {% endfor %}
    {% else %}
        <tr>
          <td class="bg-faded font-italic text-center" colspan="4">No background jobs (yet)</td>
        </tr>
    {% endif %}
  </tbody>
</table>
