{% extends 'projectroles/error/500.html' %}
{% load projectroles_common_tags %}

{% block content %}
<div class="container-fluid">
  <div class="col-md-4 mx-auto my-5">
    <h2 class="sodar-pr-content-title">Server Error</h2>
    <p>
      Something went wrong on the server side. We track these errors
      automatically, but if the problem persists feel free to contact the
      administration.
    </p>
  </div>
</div>

<script
  src="{% static 'js/vendor/sentry-6.2.4.min.js' %}"
  integrity="sha384-b3mYy/x0ZxlqU5OjYvVD7RczftJVOXmpHSmrcqpL4c+kBSXWEnRL2Puv9eMjYmDq"
  crossorigin="anonymous"
></script>

{% get_django_setting 'SENTRY_DSN' as sentry_dsn %}
{% if sentry_event_id and sentry_dsn  %}
  <script>
    Sentry.init({ dsn: '{{  sentry_dsn }}' });
    Sentry.showReportDialog({
      eventId: '{{ sentry_event_id }}'
      {% if not user.is_anonymous %}, user: {name: '{{ request.user.name }}', email: '{{ request.user.email }}'}{% endif %}
    })
  </script>
{% endif %}
{% endblock content %}
