{# Site title bar for use with projectroles #}

{% load static %}
{% load projectroles_tags %}
{% load projectroles_common_tags %}
{% load rules %}

{# Local variables #}
{% get_setting 'SITE_TITLE' as site_title %}
{% get_setting 'SITE_SUBTITLE' as site_subtitle %}
{% static_file_exists 'images/logo_navbar.png' as logo_exists %}

<div class="m-b-1 sodar-titlebar-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sodar-base-navbar" id="sodar-base-navbar">

    {# Site title #}
    <a class="navbar-brand" id="sodar-base-navbar-brand" href="/">
      {% if logo_exists %}
        <img class="sodar-navbar-logo" src="{% static 'images/logo_navbar.png' %}" />
      {% endif %}
      {{ site_title }}
      {% if site_subtitle %}<span class="text-warning">{{ site_subtitle }}</span>{% endif %}
    </a>

    {# Navbar responsive collapse toggle #}
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {# Navbar content #}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" id="sodar-base-navbar-nav">

        {# Optional template for additional links #}
        {% template_exists 'include/_titlebar_nav.html' as add_links_exist %}
        {% if add_links_exist %}
          {% include 'include/_titlebar_nav.html' %}
        {% endif %}

        {# Help link #}
        <li class="nav-item">
          <a class="nav-link {% get_help_highlight request.user %}"
             id="site-help-link"><i class="fa fa-fw fa-info-circle"></i> Help</a>
        </li>

        {# User dropdown menu #}
        {% include 'projectroles/_site_titlebar_dropdown.html' %}

      </ul>
    </div>

  </nav>
</div>
