{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<form action="." method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" class="tbn" />
</form>

{{ cases|join:"," }}

<table class="display" id="main">
    <thead>
        <tr>
            <th>Variant</th>
            <th>Frequency</th>
            <th>Hom</th>
            <th>Effect</th>
            <th>I GT</th>
            <th>I AD</th>
            <th>I DP</th>
            <th>I GQ</th>
            <th>M GT</th>
            <th>M AD</th>
            <th>M DP</th>
            <th>M GQ</th>
            <th>F GT</th>
            <th>F AD</th>
            <th>F DP</th>
            <th>F GQ</th>

        </tr>
    </thead>
    <tbody>
        {% for entry in main %}
        <tr>
            <td>{{ entry.chromosome }}:{{ entry.position }}<strong>{{ entry.reference }}>{{ entry.alternative }}</strong></td>
            <td>{{ entry.frequency }}</td>
            <td>{{ entry.homozygous }}</td>
            <td>{{ entry.effect|join:", " }}</td>
            <td>{{ entry.gt_index.gt }}</td>
            <td>{{ entry.gt_index.ad|join:"," }}</td>
            <td>{{ entry.gt_index.dp }}</td>
            <td>{{ entry.gt_index.gq }}</td>
            <td>{{ entry.gt_mother.gt }}</td>
            <td>{{ entry.gt_mother.ad|join:"," }}</td>
            <td>{{ entry.gt_mother.dp }}</td>
            <td>{{ entry.gt_mother.gq }}</td>
            <td>{{ entry.gt_father.gt }}</td>
            <td>{{ entry.gt_father.ad|join:"," }}</td>
            <td>{{ entry.gt_father.dp }}</td>
            <td>{{ entry.gt_father.gq }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}