{% extends "projectroles/project_base.html" %}

{% block title %}
  API Tokens in {{ project.title }}
{% endblock title %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Tokens
    </h2>
    {% include "tokens/_token_list_buttons.html" %}
  </div>

  <div class="container-fluid sodar-page-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:10px">#</th>
          <th class="col-lg-2 col-sm-2">Created</th>
          <th class="col-lg-2 col-sm-2">Expires</th>
          <th class="col-lg-8 col-sm-8">Key</th>
        </tr>
      </thead>
      <tbody>

        {% if object_list.count > 0 %}
          {% for token in object_list %}
            {% include 'tokens/_token_item.html' with item=token details_card_mode=False %}
          {% endfor %}
        {% else %}
            <tr>
              <td class="bg-faded font-italic text-center" colspan="4">No API tokens (yet)</td>
            </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

{% endblock %}
