{% extends "projectroles/project_base.html" %}

{% block title %}
  Confirm Deletion of API Token {{ object.token_key }}
{% endblock title %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Really Delete API Token &quot;{{ object.token_key }}&quot;?
    </h2>
  </div>

  <div class="container-fluid sodar-page-container">

    <p>
      This will remove access to all clients using this API token!
    </p>

    <form method="post">
      {% csrf_token %}
      <div class="btn-group pull-right">
        <a role="button" class="btn btn-secondary"
            href="{{ request.session.real_referer }}">
          <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Cancel
        </a>
        <button type="submit" class="btn btn-danger">
          <i class="fa fa-times" aria-hidden="true"></i> Remove
        </button>
      </div>
    </form>
  </div>

{% endblock %}
