{% extends "projectroles/project_base.html" %}

{% block title %}
  API Token created for {{ project.title }}
{% endblock title %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      API Token Created
    </h2>
  </div>

  <div class="container-fluid sodar-page-container">
    <p>
      The token has been created successfully. You can now only see it once.
    </p>

    <div class="input-group mb-3">
      <input type="text" class="form-control" value="{{ token }}" id="input-token-id" />
      <span class="input-group-append">
        <button class="btn btn-secondary btn-copy" data-clipboard-action="copy" data-clipboard-target="#input-token-id" type="button">
          <i class="fa fa-clipboard" aria-hidden="true"></i>
          Copy to Clipboard
        </button>
      </span>
    </div>

    <div class="text-right mb-3">
      <div class="btn-group" role="group">
        <a role="button" class="btn btn-primary"
            href="{% url 'tokens:token-list' %}">
          <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
          Back To List
        </a>
      </div>
    </div>
  </div>

{% endblock %}
