{% extends "projectroles/project_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Create API Token for {{ project.title }}
{% endblock title %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Create API Token
    </h2>
  </div>

  <div class="container-fluid sodar-page-container">
    <form method="post">{% csrf_token %}
      {{ form|crispy }}

      <div class="text-right mb-3">
        <div class="btn-group" role="group">
          <a role="button" class="btn btn-secondary"
              href="{% url 'tokens:token-list' %}">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check" aria-hidden="true"></i>
            Create
          </button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}
