{% load cases_tags %}
{% load dict %}

{% if item.rel_errors %}
  <span class="badge badge-danger"
     data-tooltip="tooltip"
     data-toggle="popover" data-trigger="focus" tabindex="0" data-html="true"
     title="Relationship problem (click for details)!"
     data-content="
      <ul>
        {% if sample %}
          {% for message in item.rel_errors|keyvalue:sample %}
            <li>{{ sample|only_source_name }}: {{ message }}</li>
          {% endfor %}
        {% else %}
          {% for sample, messages in item.rel_errors.items %}
            {% for message in messages %}
              <li>{{ sample|only_source_name }}: {{ message }}</li>
            {% endfor %}
          {% endfor %}
        {% endif %}
      </ul>"
    />
    <i class="iconify" data-icon="mdi:family-tree"></i>
  </span>
{% endif %}
