{% load humanize %}
{% load variants_tags %}
{% load projectroles_common_tags %}
{% load dict %}
{% get_django_setting 'VARFISH_ENABLE_SVS' as svs_enabled %}
    
{% if annotation_count > limit %}
  <div class="alert alert-danger small mb-0">
    <i class="iconify" data-icon="fa-solid:exclamation-triangle"></i>
    The project has {{ annotation_count }} annotations which are too many to be displayed here.
    Only the first {{ limit }} annotations will be displayed.
    However, the <span class="badge badge-secondary"><i class="iconify pr-1" data-icon="fa-solid:cloud-download-alt"></i>Download</span> button allows you to download a file with all {{ annotation_count }} variants.
  </div>
{% endif %}

<div class="container-fluid sodar-page-container">
  <div class="card varfish-vars-case-details"
       id="card-varfish-vars-case-details-small-var-flags">
    <div class="card-header">
      <h4>
        <i class="iconify" data-icon="fa-regular:flag"></i>
        Annotated Variants

        <div class="float-right">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
              <i class="iconify" data-icon="fa-solid:cloud-download-alt"></i>
              Download
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'variants:project-download-annotations' project=project.sodar_uuid %}?format=xlsx">
                <i class="iconify" data-icon="fa-regular:file-excel"></i>
                Excel Format
              </a>
              <a class="dropdown-item" href="{% url 'variants:project-download-annotations' project=project.sodar_uuid %}?format=txt">
                <i class="iconify" data-icon="fa-regular:file-alt"></i>
                TSV Format
              </a>
            </div>
          </div>
        </div>
      </h4>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 200px;" rowspan="2" class="text-center align-text-top"><div class="sodar-overflow-container sodar-overflow-hover">Variant</div></th>
          <th style="width: 80px;" rowspan="2" class="text-center align-text-top"><div class="sodar-overflow-container sodar-overflow-hover">Gene(s)</div></th>
          <th rowspan="2" class="text-center align-text-top">Case</th>
          <th rowspan="2" class="text-center align-text-top">ACMG Rating</th>
          <th colspan="6" class="text-center border-bottom-0">Flags</th>
          <th rowspan="2" class="text-center align-text-top">Comments</th>
          <th rowspan="2" class="text-center align-text-top"></th>
        </tr>
        <tr>
          <th class="text-center">Generic</th>
          <th class="text-center">Visual</th>
          <th class="text-center">Molecular</th>
          <th class="text-center">Validation</th>
          <th class="text-center">Phenotype</th>
          <th class="text-center">Summary</th>
        </tr>
      </thead>
      <tbody id="small-variant-comments">
        {% for variant, data2 in commentsflags.items %}
          {% for case, data in data2.items %}
            <tr id="flags-{{ variant.0 }}-{{ variant.1 }}-{{ variant.2 }}-{{ variant.3 }}">
              {% if forloop.first %}
                <td class="text-nowrap" rowspan="{{ data2|length }}">
                  <div class="sodar-overflow-container sodar-overflow-hover" style="max-width: 200px;">
                    chr{{ variant.0 }}:{{ variant.1|intcomma }}-{{ variant.2 }}-{{ variant.3 }}
                  </div>
                </td>
                <td rowspan="{{ data2|length }}">
                  {{ data|keyvalue:"genes"|join:", "|default:"-" }}
                </td>
              {% endif %}
              <td>{{ case.name }}</td>
              <td class="text-center">
                {% if data|keyvalue:"acmg_rating" %}
                  <span class="{{ data|keyvalue:"acmg_rating"|keyvalue:"data"|acmg_badge_class2 }}">
                    {{ data|keyvalue:"acmg_rating"|keyvalue:"class" }}
                  </span>
                {% else %}
                  <p class="text-muted font-italic">No ACMG rating.</p>
                {% endif %}
              </td>
              {% if data|keyvalue:"flags" %}
                <td class="text-center">
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_bookmarked" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:star"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_for_validation" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:flask"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_candidate" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:heart"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_final_causative" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:flag-checkered"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_no_disease_association" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="cli:link-broken"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_segregates" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:thumbs-up"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_doesnt_segregate" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:thumbs-down"></i>
                </td>
                <td class="text-center">
                  <i class="iconify {{ data|keyvalue:"flags"|keyvalue:"flag_visual"|flag_value_to_color }}" data-icon="{{ data|keyvalue:"flags"|keyvalue:"flag_visual"|flag_value_to_fa }}"></i>
                </td>
                <td class="text-center">
                  <i class="iconify {{ data|keyvalue:"flags"|keyvalue:"flag_molecular"|flag_value_to_color }}" data-icon="{{ data|keyvalue:"flags"|keyvalue:"flag_molecular"|flag_value_to_fa }}"></i>
                </td>
                <td class="text-center">
                  <i class="iconify {{ data|keyvalue:"flags"|keyvalue:"flag_validation"|flag_value_to_color }}" data-icon="{{ data|keyvalue:"flags"|keyvalue:"flag_validation"|flag_value_to_fa }}"></i>
                </td>
                <td class="text-center">
                  <i class="iconify {{ data|keyvalue:"flags"|keyvalue:"flag_phenotype_match"|flag_value_to_color }}" data-icon="{{ data|keyvalue:"flags"|keyvalue:"flag_phenotype_match"|flag_value_to_fa }}"></i>
                </td>
                <td class="text-center">
                  <i class="iconify {{ data|keyvalue:"flags"|keyvalue:"flag_summary"|flag_value_to_color }}" data-icon="{{ data|keyvalue:"flags"|keyvalue:"flag_summary"|flag_value_to_fa }}"></i>
                </td>
              {% else %}
                <td colspan="6" class="text-center text-muted font-italic">No flags.</td>
              {% endif %}
              <td>
                <ul class="list-group list" style="width: 400px"
                    id="small-variant-comment-{{ case.name }}-{{ variant.0 }}-{{ variant.1 }}-{{ variant.2 }}-{{ variant.3 }}"
                    data-url-submit="{% url 'variants:small-variant-comment-api' project=project.sodar_uuid case=case.sodar_uuid %}"
                    data-url-delete="{% url 'variants:small-variant-comment-delete-api' project=project.sodar_uuid case=case.sodar_uuid %}">
                {% for comment in data|keyvalue:"comments" %}
                  <li class="list-group-item list-item" id="comment-{{ comment|keyvalue:"sodar_uuid" }}" data-sodar-uuid="{{ comment|keyvalue:"sodar_uuid" }}">
                    <div id="display-comment-{{ comment|keyvalue:"sodar_uuid" }}">
                      <span class="small text-muted">
                        <strong>{{ comment|keyvalue:"username" }}</strong>
                        {{ comment|keyvalue:"date_created"|date:"Y/m/d H:i" }}:
                      </span>
                      <em>{{ comment|keyvalue:"text" }}</em>
                      {% if comment|keyvalue:"user" == request.user or request.user.is_superuser %}
                        <a href="#" class="pl-2 text-secondary comment-button-edit"><i class="iconify" data-icon="mdi:pencil"></i></a>
                        <a href="#" class="pl-2 text-secondary comment-button-delete"><i class="iconify" data-icon="fa-solid:times-circle"></i></a>
                      {% endif %}
                    </div>
                    <div id="edit-comment-{{ comment|keyvalue:"sodar_uuid" }}" style="display: none;">
                      <form>
                        <textarea id="text-comment-{{ comment|keyvalue:"sodar_uuid" }}" name="variant_comment" rows="1" cols="40" class="form-control"></textarea>
                        <span class="btn-group d-flex">
                          <button
                              type="button"
                              class="btn btn-sm btn-primary w-100 comment-button-edit-submit">
                              Submit
                          </button>
                          <button
                              type="button"
                              class="btn btn-sm btn-secondary w-100 comment-button-edit-cancel">
                              Cancel
                          </button>
                        </span>
                      </form>
                    </div>
                    <div id="delete-comment-{{ comment|keyvalue:"sodar_uuid" }}" style="display: none;">
                      <span class="btn-group d-flex">
                        <button
                            type="button"
                            class="btn btn-sm btn-danger w-100 comment-button-delete-submit">
                            Delete
                        </button>
                        <button
                            type="button"
                            class="btn btn-sm btn-secondary w-100 comment-button-delete-cancel">
                            Cancel
                        </button>
                      </span>
                    </div>
                  </li>
                {% endfor %}
                </ul>
                <p id="small-variant-comment-{{ case.name }}-{{ variant.0 }}-{{ variant.1 }}-{{ variant.2 }}-{{ variant.3 }}-empty" class="text-muted font-italic text-center"{% if data|keyvalue:"comments" %} style="display: none;"{% endif %}>No comments.</p>
              </td>
              <td>
                <a
                  onclick="javascript:$.ajax({url: 'http://127.0.0.1:60151/goto?locus=chr{{ variant.0 }}:{{ variant.1 }}-{{ variant.1 }}'})"
                  href="#"
                  class="btn btn-sm btn-secondary">
                  IGV
                </a>
              </td>
            </tr>
          {% endfor %}
        {% empty %}
          <tr>
             <td class="bg-faded text-muted font-italic text-center" colspan="12">
               No annotations yet.
             </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if svs_enabled %}
<div class="container-fluid sodar-page-container">
  <div class="card varfish-vars-case-details"
       id="card-varfish-vars-case-details-structural-var-flags">
    <div class="card-header">
      <h4>
        <i class="iconify" data-icon="fa-regular:flag"></i>
        Annotated Structural Variants
      </h4>
    </div>
    <table class="table tabled-striped table-hover">
      <thead>
        <tr>
          <th style="width: 200px;" rowspan="2" class="text-center align-text-top"><div class="sodar-overflow-container sodar-overflow-hover">Variant</div></th>
          <th style="width: 80px;" rowspan="2" class="text-center align-text-top"><div class="sodar-overflow-container sodar-overflow-hover">Type</div></th>
          <th rowspan="2" class="text-center align-text-top">Case</th>
          <th colspan="6" class="text-center border-bottom-0">Flags</th>
          <th rowspan="2" class="text-center align-text-top">Comments</th>
          <th rowspan="2" class="text-center align-text-top"></th>
        </tr>
        <tr>
          <th class="text-center">Generic</th>
          <th class="text-center">Visual</th>
          <th class="text-center">Molecular</th>
          <th class="text-center">Validation</th>
          <th class="text-center">Phenotype</th>
          <th class="text-center">Summary</th>
        </tr>
      </thead>
      <tbody id="structural-variant-comments">
        {% for variant, data2 in sv_commentsflags.items %}
          {% for case, data in data2.items %}
            <tr id="flags-{{ variant.0 }}-{{ variant.1 }}-{{ variant.2 }}-{{ variant.3 }}">
              {% if forloop.first %}
                <td class="text-nowrap" rowspan="{{ data2|length }}">
                  chr{{ variant.0 }}:{{ variant.1|intcomma }}-{{ variant.2|intcomma }}
                </td>
                <td class="text-nowrap" rowspan="{{ data2|length }}">
                  {{ variant.3 }}
                </td>
              {% endif %}
              <td>{{ case.name }}</td>
              {% if data|keyvalue:"flags" %}
                <td class="text-center">
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_bookmarked" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:star"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_for_validation" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:flask"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_candidate" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:heart"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_final_causative" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:flag-checkered"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_no_disease_association" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="cli:link-broken"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_segregates" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:thumbs-up"></i>
                  <i class="iconify {% if not data|keyvalue:"flags"|keyvalue:"flag_doesnt_segregate" %}text-muted" style="opacity: 0.3{% endif %}" data-icon="fa-solid:thumbs-down"></i>
                </td>
                <td class="text-center">
                  <i class="iconify {{ data|keyvalue:"flags"|keyvalue:"flag_visual"|flag_value_to_color }}" data-icon="{{ data|keyvalue:"flags"|keyvalue:"flag_visual"|flag_value_to_fa }}"></i>
                </td>
                <td class="text-center">
                  <i class="iconify {{ data|keyvalue:"flags"|keyvalue:"flag_molecular"|flag_value_to_color }}" data-icon="{{ data|keyvalue:"flags"|keyvalue:"flag_molecular"|flag_value_to_fa }}"></i>
                </td>
                <td class="text-center">
                  <i class="iconify {{ data|keyvalue:"flags"|keyvalue:"flag_validation"|flag_value_to_color }}" data-icon="{{ data|keyvalue:"flags"|keyvalue:"flag_validation"|flag_value_to_fa }}"></i>
                </td>
                <td class="text-center">
                  <i class="iconify {{ data|keyvalue:"flags"|keyvalue:"flag_phenotype_match"|flag_value_to_color }}" data-icon="{{ data|keyvalue:"flags"|keyvalue:"flag_phenotype_match"|flag_value_to_fa }}"></i>
                </td>
                <td class="text-center">
                  <i class="iconify {{ data|keyvalue:"flags"|keyvalue:"flag_summary"|flag_value_to_color }}" data-icon="{{ data|keyvalue:"flags"|keyvalue:"flag_summary"|flag_value_to_fa }}"></i>
                </td>
              {% else %}
                <td colspan="6" class="text-center text-muted font-italic">No flags.</td>
              {% endif %}
              <td>
                {% if data|keyvalue:"comments" %}
                <ul class="list-group list" style="width: 400px">
                {#          data-url-submit="{% url 'variants:small-variant-comment-api' project=project.sodar_uuid case=case.sodar_uuid %}"#}
                {#          data-url-delete="{% url 'variants:small-variant-comment-delete-api' project=project.sodar_uuid case=case.sodar_uuid %}">#}
                {% for comment in data|keyvalue:"comments" %}
                  <li class="list-group-item list-item" id="comment-{{ comment|keyvalue:"sodar_uuid" }}" data-sodar-uuid="{{ comment|keyvalue:"sodar_uuid" }}">
                    <div id="display-comment-{{ comment|keyvalue:"sodar_uuid" }}">
                      <span class="small text-muted">
                        <strong>{{ comment|keyvalue:"username" }}</strong>
                        {{ comment|keyvalue:"date_created"|date:"Y/m/d H:i" }}:
                      </span>
                      <em>{{ comment|keyvalue:"text" }}</em>
                      {% if comment|keyvalue:"user" == request.user or request.user.is_superuser %}
                        <a href="#" class="pl-2 text-secondary comment-button-edit"><i class="iconify" data-icon="mdi:pencil"></i></a>
                        <a href="#" class="pl-2 text-secondary comment-button-delete"><i class="iconify" data-icon="fa-solid:times-circle"></i></a>
                      {% endif %}
                    </div>
                    <div id="edit-comment-{{ comment|keyvalue:"sodar_uuid" }}" style="display: none;">
                      <form>
                        <textarea id="text-comment-{{ comment|keyvalue:"sodar_uuid" }}" name="variant_comment" rows="1" cols="40" class="form-control"></textarea>
                        <span class="btn-group d-flex">
                          <button
                              type="button"
                              class="btn btn-sm btn-primary w-100 comment-button-edit-submit">
                              Submit
                          </button>
                          <button
                              type="button"
                              class="btn btn-sm btn-secondary w-100 comment-button-edit-cancel">
                              Cancel
                          </button>
                        </span>
                      </form>
                    </div>
                    <div id="delete-comment-{{ comment|keyvalue:"sodar_uuid" }}" style="display: none;">
                      <span class="btn-group d-flex">
                        <button
                            type="button"
                            class="btn btn-sm btn-danger w-100 comment-button-delete-submit">
                            Delete
                        </button>
                        <button
                            type="button"
                            class="btn btn-sm btn-secondary w-100 comment-button-delete-cancel">
                            Cancel
                        </button>
                      </span>
                    </div>
                  </li>
                {% endfor %}
                </ul>
                {% else %}
                  <p class="text-muted font-italic text-center">No comments.</p>
                {% endif %}
              </td>
              <td>
                <a
                  onclick="javascript:$.ajax({url: 'http://127.0.0.1:60151/goto?locus=chr{{ variant.0 }}:{{ variant.1 }}-{{ variant.2 }}'})"
                  href="#"
                  class="btn btn-sm btn-secondary">
                  IGV
                </a>
              </td>
            </tr>
          {% endfor %}
        {% empty %}
          <tr>
             <td class="bg-faded text-muted font-italic text-center" colspan="10">
               No annotations yet.
             </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
