{% load variants_tags %}
{% load projectroles_common_tags %}
{% get_django_setting 'VARFISH_ENABLE_SVS' as svs_enabled %}

<div class="row mb-3">
  <div class="col pl-0 pr-0">
    <div class="pull-left mr-3 font-weight-bold">Progress</div>
    <div class="progress" style="height: 100%;">
      {% for percent, count, total, status in progress %}
        <div class="progress-bar bg-{{ status|case_status_to_color }}" role="progressbar"
             style="width: {{ percent }}%" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">
          {{ count }}/{{ total }} ({{ percent }}%) {{ status }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{# Case list #}
<div id="varfish-va-case-list" class="card mb-3 varfish-case-list-card">
  <h4 class="card-header">
    <i class="fa fa-hospital-o"></i>
    Case List
    <div class="input-group col-4 pr-0 pull-right">
      <input class="form-control varfish-case-filter" type="text" placeholder="Filter" aria-label="Filter Cases">
      <div class="input-group-append">
        <select class="selectpicker" id="varfish-case-filter-by-state" multiple title="Filter by Status" data-style="btn-secondary">
          <option value="initial">initial</option>
          <option value="active">active</option>
          <option value="closed-solved">closed as solved</option>
          <option value="closed-uncertain">closed as uncertain</option>
          <option value="closed-unsolved">closed as unsolved</option>
        </select>
      </div>
    </div>
  </h4>
  <div class="card-body p-0">
    <table id="varfish-case-table" class="table table-striped sodar-card-table varfish-card-table no-footer">
      <thead>
        <tr>
          <th style="width:10px">#</th>
          <th style="width: 10px">Updated</th>
          <th style="width: 50px">Status</th>
          <th style="width: 200px" id="sodar-case-list-header-name">Name</th>
          <th id="sodar-case-list-header-individuals">Individuals</th>
          <th style="width: 120px" id="sodar-case-list-header-vars">Small Vars</th>
          {% if svs_enabled %}
            <th style="width: 120px" id="sodar-case-list-header-svs">SVs</th>
          {% endif %}
          <th style="width: 0px;" class="no-sort"></th>
        </tr>
      </thead>
      <tbody>
        {% for case in object_list %}
          {% include "variants/case/item.html" with item=case details_card_mode=False %}
        {% endfor %}
        {% if not object_list %}
          <tr>
             <td class="bg-faded font-italic text-center" colspan="{% if svs_enabled %}8{% else %}7{% endif %}">
               No cases added yet.
             </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
