{% load dict %}
{% load humanize %}
{% load variants_tags %}

<div class="container-fluid sodar-page-container">
  <div id="varfish-va-project-statistics" class="card mb-3">
    <h4 class="card-header">
      <i class="fa fa-bar-chart"></i>
      Project-wide Variant Statistics
      <a class="btn btn-primary pull-right" href="{% url "variants:project-stats-job-create" project=project.sodar_uuid %}">
        <i class="fa fa-refresh"></i>
        Recompute Stats
      </a>
    </h4>
    <div class="card-body p-0">
      {% if project.variant_stats %}
        <div class="row">
          <div id="plot-relatedness">
            <div class="placeholder-container">
              <div class="placeholder-text">
                <i class="fa fa-spin fa-spinner fa-5x"></i>
              </div>
            </div>
          </div>
          <div id="plot-sex-chrx-het-hom">
            <div class="placeholder-container">
              <div class="placeholder-text">
                <i class="fa fa-spin fa-spinner fa-5x"></i>
              </div>
            </div>
          </div>
          <div id="plot-var-dps">
            <div class="placeholder-container">
              <div class="placeholder-text">
                <i class="fa fa-spin fa-spinner fa-5x"></i>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <p class="pt-3 text-muted text-center">
          No project-wide variant statistics yet.
          Use
          <span class="badge badge-primary">
            <i class="fa fa-refresh"></i>
            Recompute Stats
          </span>
          to compute.
        </p>
      {% endif %}
    </div>
  </div>
</div>

{% if project.casealignmentstats %}
<div class="container-fluid sodar-page-container">
  <div class="card varfish-vars-case-details">
    <div class="card-header">
      <h4>
        <i class="fa fa-search"></i>
        Alignment Quality Control
      </h4>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="border-bottom: 0;" class="text-center" colspan="3"></th>
          <th style="border-bottom: 0;" class="text-center" colspan="1">Mean Target</th>
          {% if coverages %}
          <th style="border-bottom: 0;" class="text-center" colspan="5">Exons covered at least</th>
          {% endif %}
        </tr>
        <tr>
          <th style="width: 15%;" class="text-center">Sample</th>
          <th style="width: 15%;" class="text-center">Pairs</th>
          <th style="width: 15%;" class="text-center">Duplicates</th>
          <th style="width: 15%;" class="text-center">Coverage</th>
          {% for coverage in coverages %}
          <th style="width: 0;" class="text-nowrap text-center">&ge; {{ coverage }}x</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for stat in project.casealignmentstats %}
          {% for sample_name, stats in stat.bam_stats.items %}
            <tr>
              <th>{{ sample_name|only_source_name }}</th>
              <td class="text-right">{{ stats|from_bamstats:"total reads"|intcomma }}</td>
              <td class="text-right">{{ stats|from_bamstats:"percent duplicates"|floatformat:1 }}%</td>
              <td class="text-right">{% if stats|from_bamstats:"mean target coverage" %}{{ stats|from_bamstats:"mean target coverage"|default:"-"|floatformat:0 }}&nbsp;x{% else %}- <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="" data-original-title="coverage information not provided"></i>{% endif %}</td>
              {% for coverage in coverages %}
                {% if coverage|asint <= 50 %}
                  <td class="text-right">{{ stats|keyvalue:"min_cov_target"|keyvalue:coverage|floatformat:1 }}%</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
