<div class="card">
  <div class="card-header">
    <h4 class="card-title">Extra Annotations</h4>
  </div>
  {% if not extra_annos %}
    <div class="card-body text-center font-italic pb-2 text-muted">
      No extra annotations available for this variant.
    </div>
  {% else %}
    <table class="card-body table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Score</th>
          <th class="text-center">Value</th>
        </tr>
      </thead>
      <tbody>
        {% for name, value in extra_annos.annotations.items %}
          <tr>
            <th class="text-center">{{ name }}</th>
            <td>{{ value|default_if_none:"-" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
