{% load dict %}
{% load humanize %}
{% load projectroles_common_tags %}
{% load variants_tags %}

{% get_django_setting 'PROJECTROLES_KIOSK_MODE' as kiosk_mode %}

<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      Frequency Details
      {% if small_var.chromosome == "MT" %}
        {% if small_var.start|check_mt_position_homopolymer or small_var.start|check_mt_position_homopolymer %}
          <i class="iconify text-muted" data-icon="bi:exclamation-circle" data-toggle="tooltip" title='Variant in homopolymeric region'></i>
        {% endif %}
      {% endif %}
    </h4>
  </div>
  {% if small_var.chromosome == "MT" %}
  {% with vars=mitochondrial_freqs|keyvalue:"vars" an=mitochondrial_freqs|keyvalue:"an" is_triallelic=mitochondrial_freqs|keyvalue:"is_triallelic" dloop=mitochondrial_freqs|keyvalue:"dloop" %}
    <table class="card-body table table-striped table-sm">
      <thead>
        <tr>
          <th></th>
          <th>AN</th>
          <th></th>
          {% for var, freqs in vars|keyvalue:"MITOMAP" %}
            <th>
              {{ var }}
              {% if small_var.reference == var %}
                <span class="badge badge-secondary">REF</span>
              {% elif small_var.alternative == var %}
                <span class="badge badge-info">ALT</span>
              {% endif %}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for dbname, data in vars.items %}
        <tr>
          {% if dbname == "HelixMTdb" %}
            <th class="text-center" rowspan="3">
              {{ dbname }}
              {% if is_triallelic %}<i class="iconify text-muted" data-icon="bi:exclamation-circle" data-toggle="tooltip" title='Variant is part of a triallelic site'></i>{% endif %}
            </th>
            <td class="text-right" rowspan="3">{{ an|keyvalue:dbname|default:0|intcomma }}</td>
            <th>AC hom</th>
            {% for var, freqs in data %}
              <td class="text-right">{{ freqs|keyvalue:"ac_hom"|default:0|intcomma }}</td>
            {% endfor %}
          {% else %}
            <th class="text-center" rowspan="2">
              {{ dbname }}
              {% if dbname == "mtDB" %}
                {% if dloop %}<i class="iconify text-muted" data-icon="bi:exclamation-circle" data-toggle="tooltip" title='Variant is in D-loop region'></i>{% endif %}
              {% endif %}
            </th>
            <td class="text-right" rowspan="2">{{ an|keyvalue:dbname|default:0|intcomma }}</td>
            <th>AC</th>
            {% for var, freqs in data %}
              <td class="text-right">{{ freqs|keyvalue:"ac"|default:0|intcomma }}</td>
            {% endfor %}
          {% endif %}
        </tr>
        {% if dbname == "HelixMTdb" %}
        <tr>
          <th>AC het</th>
          {% for var, freqs in data %}
            <td class="text-right">{{ freqs|keyvalue:"ac_het"|default:0|intcomma }}</td>
          {% endfor %}
        </tr>
        {% endif %}
        <tr>
          <th>AF</th>
          {% for var, freqs in data %}
            <td class="text-right">{{ freqs|keyvalue:"af"|default:0.0|floatformat:5 }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endwith %}
  {% else %}
  <table class="card-body table table-striped table-sm">
    <thead>
      <tr>
        <th colspan="2"></th>
        {% for pop in populations %}
          <th class="text-center">{{ pop }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for name, db in pop_freqs.items %}
        <tr>
          {% if name == "gnomAD Exomes" or name == "gnomAD Genomes" %}
            <th rowspan="{% if small_var.chromosome == "X" or small_var.chromosome == "chrX" %}8{% else %}6{% endif %}">{{ name }}</th>
          {% elif name == "ExAC" %}
            <th rowspan="{% if small_var.chromosome == "X" or small_var.chromosome == "chrX" %}4{% else %}3{% endif %}">{{ name }}</th>
          {% else %}
            <th rowspan="3">{{ name }}</th>
          {% endif %}
          <th class="text-center">Freq</th>
          {% for pop in populations %}
            {% if db|keyvalue:pop|keyvalue:"af" %}
              <td class="text-right">{{ db|keyvalue:pop|keyvalue:"af"|default:0|floatformat:5 }}</td>
            {% else %}
              <td class="text-right text-muted">{{ "0"|floatformat:5 }}</td>
            {% endif %}
          {% endfor %}
        </tr>
        {% if name == "gnomAD Exomes" or name == "gnomAD Genomes" %}
        <tr class="text-muted">
          <th class="text-center small"><i class="iconify" data-icon="mdi:arrow-up-circle"></i> Ctrl</th>
          {% for pop in populations %}
            <td class="text-right">{{ db|keyvalue:pop|keyvalue:"controls_af"|default:0|floatformat:5 }}</td>
          {% endfor %}
        </tr>
        {% endif %}
        <tr>
          <th class="text-center">Hom</th>
          {% for pop in populations %}
            {% if db|keyvalue:pop|keyvalue:"hom" %}
              <td class="text-right">{{ db|keyvalue:pop|keyvalue:"hom"|default:0|intcomma }}</td>
            {% else %}
              <td class="text-right text-muted">0</td>
            {% endif %}
          {% endfor %}
        </tr>
        {% if name == "gnomAD Exomes" or name == "gnomAD Genomes" %}
        <tr class="text-muted">
          <th class="text-center small"><i class="iconify" data-icon="mdi:arrow-up-circle"></i> Ctrl</th>
          {% for pop in populations %}
            <td class="text-right">{{ db|keyvalue:pop|keyvalue:"controls_hom"|default:0|intcomma }}</td>
          {% endfor %}
        </tr>
        {% endif %}
        <tr>
          <th class="text-center">Het</th>
          {% for pop in populations %}
            {% if db|keyvalue:pop|keyvalue:"het" %}
              <td class="text-right">{{ db|keyvalue:pop|keyvalue:"het"|default:0|intcomma }}</td>
            {% else %}
              <td class="text-right text-muted">0</td>
            {% endif %}
          {% endfor %}
        </tr>
        {% if name == "gnomAD Exomes" or name == "gnomAD Genomes" %}
        <tr class="text-muted">
          <th class="text-center small"><i class="iconify" data-icon="mdi:arrow-up-circle"></i> Ctrl</th>
          {% for pop in populations %}
            <td class="text-right">{{ db|keyvalue:pop|keyvalue:"controls_het"|default:0|intcomma }}</td>
          {% endfor %}
        </tr>
        {% endif %}
        {% if name != "1000GP" %}
          {% if small_var.chromosome == "X" or small_var.chromosome == "chrX" %}
            <tr>
              <th class="text-center">Hemi</th>
              {% for pop in populations %}
                {% if db|keyvalue:pop|keyvalue:"het" %}
                  <td class="text-right">{{ db|keyvalue:pop|keyvalue:"hemi"|default:0|intcomma }}</td>
                {% else %}
                  <td class="text-right text-muted">0</td>
                {% endif %}
              {% endfor %}
            </tr>
            {% if name == "gnomAD Exomes" or name == "gnomAD Genomes" %}
            <tr class="text-muted">
              <th class="text-center small"><i class="iconify" data-icon="mdi:arrow-up-circle"></i> Ctrl</th>
              {% for pop in populations %}
                <td class="text-right">{{ db|keyvalue:pop|keyvalue:"controls_hemi"|default:0|intcomma }}</td>
              {% endfor %}
            </tr>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if not kiosk_mode %}
      <tr>
        <th rowspan="{% if small_var.chromosome == "X" or small_var.chromosome == "chrX" %}4{% else %}3{% endif %}">Inhouse</th>
        <th class="text-center">Carriers</th>
        {% if inhouse_freq.carriers %}
          <td colspan="9" class="text-right">{{ inhouse_freq.carriers|default:0|intcomma }}</td>
        {% else %}
          <td colspan="9" class="text-right text-muted">0</td>
        {% endif %}
      </tr>
      <tr>
        <th class="text-center">Hom</th>
        {% if inhouse_freq.hom %}
          <td colspan="9" class="text-right">{{ inhouse_freq.hom|default:0|intcomma }}</td>
        {% else %}
          <td colspan="9" class="text-right text-muted">0</td>
        {% endif %}
      </tr>
      <tr>
        <th class="text-center">Het</th>
        {% if inhouse_freq.het %}
          <td colspan="9" class="text-right">{{ inhouse_freq.het|default:0|intcomma }}</td>
        {% else %}
          <td colspan="9" class="text-right text-muted">0</td>
        {% endif %}
      </tr>
      {% if small_var.chromosome == "X" or small_var.chromosome == "chrX" %}
        <tr>
          <th class="text-center">Hemi</th>
          {% if inhouse_freq.het %}
            <td colspan="9" class="text-right">{{ inhouse_freq.hemi|default:0|intcomma }}</td>
          {% else %}
            <td colspan="9" class="text-right text-muted">0</td>
          {% endif %}
        </tr>
      {% endif %}
      {% else %}
      <tr>
        <th>Inhouse</th>
        <td colspan="10" class="text-center font-italic text-muted">Only available in custom <a href="/manual/setup_core.html" target="_blank">VarFish installation</a>.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% endif %}
</div>
