{% load dict %}
{% load humanize %}
{% load projectroles_common_tags %}

{% get_django_setting 'PROJECTROLES_KIOSK_MODE' as kiosk_mode %}

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Frequency Details</h4>
  </div>
  {% if small_var.chromosome == "MT" %}
  {% with vars=mitochondrial_freqs|keyvalue:"vars" an=mitochondrial_freqs|keyvalue:"an" %}
    <table class="card-body table table-striped table-sm">
      <thead>
        <tr>
          <th></th>
          <th>AN</th>
          <th></th>
          {% for var, freqs in vars|keyvalue:"MITOMAP" %}
            <th>
              {{ var }}
              {% if small_var.reference == var %}
                <span class="badge badge-secondary">REF</span>
              {% elif small_var.alternative == var %}
                <span class="badge badge-info">ALT</span>
              {% endif %}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for dbname, data in vars.items %}
        <tr>
          <th class="text-center" rowspan="2">{{ dbname }}</th>
          <td class="text-right" rowspan="2">{{ an|keyvalue:dbname|default:0|intcomma }}</td>
          <th>AC</th>
          {% for var, freqs in data %}
            <td class="text-right">{{ freqs|keyvalue:"ac"|default:0|intcomma }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>AF</th>
          {% for var, freqs in data %}
            <td class="text-right">{{ freqs|keyvalue:"af"|default:0.0|floatformat:5 }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endwith %}
  {% else %}
  <table class="card-body table table-striped table-sm">
    <thead>
      <tr>
        <th colspan="2"></th>
        {% for pop in populations %}
          <th class="text-center">{{ pop }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for name, db in pop_freqs.items %}
        <tr>
          {% if name == "gnomAD Exomes" or name == "gnomAD Genomes" %}
          <th rowspan="6">{{ name }}</th>
          {% else %}
          <th rowspan="3">{{ name }}</th>
          {% endif %}
          <th class="text-center">Freq</th>
          {% for pop in populations %}
            {% if db|keyvalue:pop|keyvalue:"af" %}
              <td class="text-right">{{ db|keyvalue:pop|keyvalue:"af"|default:0|floatformat:5 }}</td>
            {% else %}
              <td class="text-right text-muted">{{ "0"|floatformat:5 }}</td>
            {% endif %}
          {% endfor %}
        </tr>
        {% if name == "gnomAD Exomes" or name == "gnomAD Genomes" %}
        <tr class="text-muted">
          <th class="text-center small"><i class="fa fa-arrow-up"></i> Ctrl</th>
          {% for pop in populations %}
            <td class="text-right">{{ db|keyvalue:pop|keyvalue:"controls_af"|default:0|floatformat:5 }}</td>
          {% endfor %}
        </tr>
        {% endif %}
        <tr>
          <th class="text-center">Hom</th>
          {% for pop in populations %}
            {% if db|keyvalue:pop|keyvalue:"hom" %}
              <td class="text-right">{{ db|keyvalue:pop|keyvalue:"hom"|default:0|intcomma }}</td>
            {% else %}
              <td class="text-right text-muted">0</td>
            {% endif %}
          {% endfor %}
        </tr>
        {% if name == "gnomAD Exomes" or name == "gnomAD Genomes" %}
        <tr class="text-muted">
          <th class="text-center small"><i class="fa fa-arrow-up"></i> Ctrl</th>
          {% for pop in populations %}
            <td class="text-right">{{ db|keyvalue:pop|keyvalue:"controls_hom"|default:0|intcomma }}</td>
          {% endfor %}
        </tr>
        {% endif %}
        <tr>
          <th class="text-center">Het</th>
          {% for pop in populations %}
            {% if db|keyvalue:pop|keyvalue:"het" %}
              <td class="text-right">{{ db|keyvalue:pop|keyvalue:"het"|default:0|intcomma }}</td>
            {% else %}
              <td class="text-right text-muted">0</td>
            {% endif %}
          {% endfor %}
        </tr>
        {% if name == "gnomAD Exomes" or name == "gnomAD Genomes" %}
        <tr class="text-muted">
          <th class="text-center small"><i class="fa fa-arrow-up"></i> Ctrl</th>
          {% for pop in populations %}
            <td class="text-right">{{ db|keyvalue:pop|keyvalue:"controls_het"|default:0|intcomma }}</td>
          {% endfor %}
        </tr>
        {% endif %}
      {% endfor %}
      {% if not kiosk_mode %}
      <tr>
        <th rowspan="3">Inhouse</th>
        <th class="text-center">Carriers</th>
        {% if inhouse_freq.carriers %}
          <td colspan="9" class="text-right">{{ inhouse_freq.carriers|default:0|intcomma }}</td>
        {% else %}
          <td colspan="9" class="text-right text-muted">0</td>
        {% endif %}
      </tr>
      <tr>
        <th class="text-center">Hom</th>
        {% if inhouse_freq.hom %}
          <td colspan="9" class="text-right">{{ inhouse_freq.hom|default:0|intcomma }}</td>
        {% else %}
          <td colspan="9" class="text-right text-muted">0</td>
        {% endif %}
      </tr>
      <tr>
        <th class="text-center">Het</th>
        {% if inhouse_freq.het %}
          <td colspan="9" class="text-right">{{ inhouse_freq.het|default:0|intcomma }}</td>
        {% else %}
          <td colspan="9" class="text-right text-muted">0</td>
        {% endif %}
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% endif %}
</div>
