{% load dict %}
{% load humanize %}

<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      Query Beacon
      <button class="btn btn-sm btn-warning pull-right link-load-beacon"
              data-beacon-container="beacon-container-{{ small_var.release }}-{{ small_var.chromosome }}-{{ small_var.start }}-{{ small_var.reference }}-{{ small_var.alternative }}-var-details">
        <i class="fa fa-refresh" aria-hidden="true"></i> Load
      </button>
    </h4>
  </div>
  <div class="card-body">
    <div id="beacon-container-{{ small_var.release }}-{{ small_var.chromosome }}-{{ small_var.start }}-{{ small_var.reference }}-{{ small_var.alternative }}-var-details">
      <p class="text-muted text-center"><i>GA4GH Beacon results will appear here.</i></p>
    </div>
  </div>
  </table>
</div>
