{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load humanize %}
{% load static %}
{% load crispy_forms_filters %}
{% load cohorts_tags %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item"><a href="{% url "variants:case-list" project=project.sodar_uuid %}">Cases</a></li>
  <li class="breadcrumb-item active">{{ object.name }}</li>
{% endblock %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Cohort
      <small class="text-muted">{{ object.name }}</small>
    </h2>
  </div>

  <div class="container-fluid sodar-page-container pt-3">
    <form method="post">{% csrf_token %}
      <p>Are you sure you want to delete cohort <strong>{{ object.name }}</strong>?<br />It is composed of the following cases:</p>
      <ul>
        {% for case in object|get_accessible_cases:user %}
          <li>
            <a href="{{ case.get_absolute_url }}">{{ case.name }}</a>
            of <a href="{{ case.project.get_absolute_url }}">{{ case.project.title }}</a></li>
        {% endfor %}
      </ul>
      <a class="btn btn-secondary" href="{% url 'cohorts:list' project=project.sodar_uuid %}"><i class="fa fa-arrow-circle-left"></i> Cancel</a>
      <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Confirm</button>
    </form>
  </div>
{% endblock %}
