{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load humanize %}
{% load static %}
{% load crispy_forms_filters %}
{% load cohorts_tags %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item"><a href="{% url "variants:case-list" project=project.sodar_uuid %}">Cases</a></li>
  <li class="breadcrumb-item active">{{ object.name }}</li>
{% endblock %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Cohort
      <small class="text-muted">{{ object.name }}</small>
    </h2>
  </div>

  <div class="container-fluid sodar-page-container pt-3">
    <form method="post">{% csrf_token %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        {{ form.name }}
        <div class="input-group-prepend ml-3">
          <span class="input-group-text">Selected Cases</span>
        </div>
        <input id="number-selected-cases" type="text" disabled size="2" value="0">
        <div class="input-group-prepend ml-3">
          <span class="input-group-text">Members</span>
        </div>
        <input id="number-selected-members" type="text" disabled size="2" value="0">
      </div>
      <div id="accordion" class="accordion mb-3">
        {% for p in projects %}
          <div class="card mb-0">
            <div class="card-header" id="heading-project-{{ p.id }}">
              <h5 class="mb-0">
              <input type="checkbox" class="btn btn-info project-toggler" id="project-toggler-{{ p.id }}" data-project="{{ p.id }}"/>
                <button class="btn btn-link {% if not forloop.first %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse-project-{{ p.id }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse-project-{{ p.id }}">
                  {{ p.title }}
                </button>
                <span class="text-muted font-italic">
                  <span class="font-weight-bold" id="cases-count-{{ p.id }}">0</span>/<span id="cases-total-{{ p.id }}">0</span> cases
                  <span class="font-weight-bold ml-3" id="members-count-{{ p.id }}">0</span> members
                </span>
              </h5>
            </div>
            <div id="collapse-project-{{ p.id }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-project-{{ p.id }}" data-parent="#accordion">
              <div class="card-body">
                <div class="form-group project-checkbox-group" id="card-body-{{ p.id }}">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <a class="btn btn-secondary" href="{% url 'cohorts:list' project=project.sodar_uuid %}"><i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel</a>
      <button type="submit" class="btn btn-success"><i class="iconify" data-icon="mdi:plus-circle"></i> Create Cohort</button>
    </form>
  </div>
{% endblock %}


{% block javascript %}
  {{ block.super }}
  <script>
    function sumMembers(e) {
      let count = 0
      e.siblings().find(".members-count").each(function(i, e) {
        count += parseInt($(e).text())
      })
      return count
    }

    function updateCheckedCount(project_id) {
      let card = $("#card-body-" + project_id);
      let checkboxes = card.find(":checkbox")
      let checkboxesChecked = card.find(":checkbox:checked")
      let checkboxesCheckedTotal = $(".project-checkbox-group").find(":checkbox:checked")
      $("#cases-count-" + project_id).text(checkboxesChecked.length)
      $("#cases-total-" + project_id).text(checkboxes.length)
      $("#members-count-" + project_id).text(sumMembers(checkboxesChecked))
      $("#number-selected-cases").val(checkboxesCheckedTotal.length)
      $("#number-selected-members").val(sumMembers(checkboxesCheckedTotal))
    }

    function projectToggleSwitch() {
      let project_id = $(this).data("project");
      let toggler = $("#project-toggler-" + project_id);
      let card = $("#card-body-" + project_id);
      let checkboxes = card.find(":checkbox");
      let checked = card.find(":checkbox:checked");
      toggler.prop("checked", checked.length === checkboxes.length);
      toggler.prop("indeterminate", !(checked.length === checkboxes.length || checked.length === 0));
      updateCheckedCount(project_id);
    }

    $(document).ready(function() {
      {% for value, label, case in form.cases.field.choices %}
        $("#card-body-{{ case.project.id }}").append(
          '<label>' +
          '  <span class="ml-3 checkbox">' +
          '    <input type="checkbox" class="checkboxinput" data-project="{{ case.project.id }}" value="{{ value }}" name="cases" {% if case in form.cases.initial %}checked{% endif %}> ' +
          '    <span class="badge-group">' +
          '      <span class="badge badge-secondary">{{ label }}</span>' +
          '      <span class="badge badge-info members-count">{{ case.get_members|length }}</span>' +
          '      <span class="badge badge-outlined release" style="border-width; 1px 1px 1px 0; border: 1px solid #323a45;">{{ case.release }}</span>' +
          '    </span>' +
          '  </label>' +
          '</span>'
        );
      {% endfor %}
      $('input[name="cases"]').change(projectToggleSwitch);
      $('input[name="cases"]').trigger("change");
      $(".project-toggler").click(function() {
        $("#card-body-" + $(this).data("project")).find(":checkbox").prop("checked", $(this).prop("checked"));
        updateCheckedCount($(this).data("project"));
      });
    });
  </script>
{% endblock %}
