{% extends 'projectroles/project_base.html' %}

{% load dict %}
{% load humanize %}
{% load cohorts_tags %}
{% load projectroles_common_tags %}


{% block navi_sub_project_extend %}
  <li class="breadcrumb-item active">Cohorts</li>
{% endblock %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Cohort List
    </h2>
    <div class="ml-auto btn-group">
        <a class="btn btn-secondary" href="{% url 'projectroles:detail' project=project.sodar_uuid %}">
          <i class="fa fa-arrow-circle-left"></i>
          Back to Project
        </a>
        <a class="btn btn-primary" href="{% url "cohorts:create" project=project.sodar_uuid %}">
          <i class="fa fa-plus-circle"></i>
          New Cohort
      </a>
    </div>
  </div>

  <div class="container-fluid sodar-page-container pt-3">
    <div class="alert alert-secondary small p-2">
      <i class="fa fa-info-circle"></i>
      Here you can assemble cohorts with samples from different projects.
    </div>
  </div>

  {# Cohort list #}
  <div id="varfish-va-case-list" class="card mb-3 varfish-case-list-card">
    <h4 class="card-header">
      <i class="fa fa-crosshairs"></i>
      Cohort List
      <div class="input-group col-4 pr-0 pull-right">
        <input class="form-control varfish-case-filter" type="text" placeholder="Filter" aria-label="Filter Cases">
      </div>
    </h4>
    <div class="card-body p-0">
      <form method="post">{% csrf_token %}
        <table id="varfish-case-table" class="table table-striped sodar-card-table varfish-card-table no-footer">
          <thead>
            <tr>
              <th style="width:10px">#</th>
              <th style="width:10px">User</th>
              <th style="width: 10px">Updated</th>
              <th style="width: 200px">Name</th>
              <th>Cases</th>
              <th style="width: 0px"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in object_list %}
              <tr id="varfish-bg-table-row-{{ item.sodar_uuid }}">
                <td class="text-right text-muted">{{ forloop.counter }}</td>
                <td class="text-right font-italic">{{ item.user.username }}</td>
                <td data-order="{{ item.date_modified|date:"U" }}">
                  {% if item.days_since_modification <= 3 %}
                    <span class="text-nowrap text-muted" data-toggle="tooltip" title="created {{ item.date_created|date:"Y, M d H:m" }}, updated {{ item.date_modified|date:"Y, M d H:m" }}">
                      {% if item.days_since_modification < 1 %}
                        {{ item.date_modified|naturaltime }}
                      {% else %}
                        {{ item.date_modified|naturalday }}
                      {% endif %}
                    </span>
                  {% else %}
                    <span class="text-nowrap text-muted" data-toggle="tooltip" title="created {{ item.date_created|date:"Y, M d H:m" }}, updated {{ item.date_modified|date:"Y, M d H:m" }}">
                      {{ item.date_modified|date:"Y, M d H:m" }}
                    </span>
                  {% endif %}
                </td>
                <td class="text-nowrap font-weight-bold">{{ item.name }}</td>
                <td>
                  {% for case in item|get_accessible_cases:user %}
                    <a href="{{ case.get_absolute_url }}" class="badge badge-secondary" data-toggle="tooltip" title="{{ case.project.title }}">{{ case.name }}</a>
                  {% endfor %}
                  {% if not item|check_accessible_cases:user %}
                    <span class="badge badge-warning"><i class="fa fa-warning"></i> Not all cases are accessible!</span>
                  {% endif %}
                </td>
                <td>
                  <span class="btn btn-group">
                    {% if item.user == user or user.is_superuser %}
                      <a href="{% url 'cohorts:delete' project=project.sodar_uuid cohort=item.sodar_uuid %}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                      <a href="{% url 'cohorts:update' project=project.sodar_uuid cohort=item.sodar_uuid %}" class="btn btn-sm btn-secondary"><i class="fa fa-pencil"></i></a>
                    {% else %}
                      <span class="btn btn-sm btn-danger disabled"><i class="fa fa-trash"></i></span>
                      <span class="btn btn-sm btn-secondary disabled"><i class="fa fa-pencil"></i></span>
                    {% endif %}
                    <a href="{% url 'variants:project-cases-filter-cohort' project=project.sodar_uuid cohort=item.sodar_uuid %}" class="btn btn-sm btn-primary"><i class="fa fa-filter"></i></a>
                  </span>
                </td>
              </tr>
            {% endfor %}
            {% if not object_list %}
              <tr>
                 <td class="bg-faded font-italic text-center" colspan="{% if svs_enabled %}9{% else %}8{% endif %}">
                   No cases added yet.
                 </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
{% endblock %}
