{% load crispy_forms_tags %}
{% load dict %}

<div class="row">
  <div class="col px-0">
    <h5 class="card-title px-2 mt-2">
      Frequencies in Databases
    </h5>
    <p class="px-2 mb-0 small text-muted">
      Configure filter based on frequencies in structural variant databases.
      For all but 1000G phase 3 data, only carrier counts are available.
      Note well that dbVar includes variants from rare disease studies.
    </p>

    <table class="table table-striped table-hover sodar-card-table compact-form-groups">
      <thead>
        <tr>
          <th style="width: 0px;" colspan="2" class="text-center text-nowrap">
            enable / donors
          </th>
          <th style="width: 50%;" class="text-center">min overlap</th>
          <th style="width: 50%;" class="text-center">max carriers/alleles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ form.dgv_enabled|as_crispy_field }}</td>
          <td>DGV</td>
          <td class="text-nowrap">{{ form.dgv_min_overlap|as_crispy_field }}</td>
          <td>{{ form.dgv_max_carriers|as_crispy_field }}</td>
        </tr>
        <tr>
          <td>{{ form.dgv_gs_enabled|as_crispy_field }}</td>
          <td>DGV Gold Standard</td>
          <td class="text-nowrap">{{ form.dgv_gs_min_overlap|as_crispy_field }}</td>
          <td>{{ form.dgv_gs_max_carriers|as_crispy_field }}</td>
        </tr>
        <tr>
          <td>{{ form.dbvar_enabled|as_crispy_field }}</td>
          <td>dbVar</td>
          <td class="text-nowrap">{{ form.dbvar_min_overlap|as_crispy_field }}</td>
          <td>{{ form.dbvar_max_carriers|as_crispy_field }}</td>
        </tr>
        <tr>
          <td>{{ form.exac_enabled|as_crispy_field }}</td>
          <td>ExAC</td>
          <td class="text-nowrap">{{ form.exac_min_overlap|as_crispy_field }}</td>
          <td>{{ form.exac_max_carriers|as_crispy_field }}</td>
        </tr>
        <tr>
          <td>{{ form.g1k_enabled|as_crispy_field }}</td>
          <td class="text-nowrap">1000G</td>
          <td>{{ form.g1k_min_overlap|as_crispy_field }}</td>
          <td>{{ form.g1k_max_alleles|as_crispy_field }}</td>
        </tr>
        <tr>
          <td>{{ form.gnomad_enabled|as_crispy_field }}</td>
          <td class="text-nowrap">gnomAD SV</td>
          <td>{{ form.gnomad_min_overlap|as_crispy_field }}</td>
          <td>{{ form.gnomad_max_carriers|as_crispy_field }}</td>
        </tr>
        <tr>
          <td>{{ form.inhouse_enabled|as_crispy_field }}</td>
          <td class="text-nowrap">in-house background</td>
          <td>{{ form.inhouse_min_overlap|as_crispy_field }}</td>
          <td>{{ form.inhouse_max_carriers|as_crispy_field }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
