{% load crispy_forms_tags %}
{% load dict %}

<div class="pt-3 pl-3 pr-3 compact-form-groups">
  <h5 class="card-title mb-1">Gene Blocklist</h5>

  {{ form.gene_blocklist }}

  <h5 class="card-title mb-1 mt-2">Gene Allowlist</h5>

  {{ form.gene_allowlist }}

  <p class="text-muted">
    <small>
      Enter lists of HGNC symbols, Entrez IDs, or ENSEMBL gene IDs separated by spaces or line break.
      If any allow-list gene is given, only variants in a allow-listed gene are shown.
      Variants in block-listed genes are excluded.
    </small>
  </p>

  <h5 class="card-title mb-1 mt-2">Region Allowlist</h5>

  {{ form.genomic_region }}

  <p class="text-muted">
    <small>
      Enter list of regions to restrict to.
      If empty then variants will be returned genome-wide.
    </small>
  </p>
</div>
