{% load crispy_forms_tags %}
{% load dict %}

<div class="pt-3 pl-3 pr-3 compact-form-groups">
  <h5 class="card-title mb-1">Gene Blacklist</h5>

  {{ form.gene_blacklist }}

  <h5 class="card-title mb-1 mt-2">Gene Whitelist</h5>

  {{ form.gene_whitelist }}

  <p class="text-muted">
    <small>
      Enter lists of HGNC symbols, Entrez IDs, or ENSEMBL gene IDs separated by spaces or line break.
      If any white-list gene is given, only variants in a white-listed gene are shown.
      Variants in black-listed genes are excluded.
    </small>
  </p>

  <h5 class="card-title mb-1 mt-2">Region Whitelist</h5>

  {{ form.region_whitelist }}

  <p class="text-muted">
    <small>
      Enter list of regions to restrict to.
      If empty then variants will be returned genome-wide.
    </small>
  </p>
</div>
