{% load crispy_forms_tags %}
{% load regmaps_tags %}

<div class="row pb-2 pt-2 compact-form-groups">
  <div class="col-12">
    <div class="col-12 pl-0">
      <div class="row">
        <div class="col-6 pl-0">
          <label for="id_regulatory_general_padding">
            allowed distance/padding [bp]:
          </label>
          {{ form.regulatory_general_padding }}
          <p class="px-0 mb-0 small text-muted">
            Allowed distance to regulatory element.
            Used for both filtering and annotation of SVs with regulatory elements.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 pt-2 border-top mt-2">
    <h5 class="card-title">
      Standard Regulatory Maps Overlap
      <small class="text-muted">(Builtin)</small>
    </h5>

    <div class="row">
      <div class="col-4 px-0">
        <div class="row">
          <div class="col-6 px-0 text-nowrap col-form-label">
            <label for="id_ensembl_required_features">
              ENSEMBL Features
            </label>
          </div>
          <div class="col-6 px-0">
            <select id="id_ensembl_required_features" name="regulatory_ensembl" class="selectpicker" multiple>
              {% get_selected_values form "regulatory_" "ensembl" "" as selected_values %}
              {% for v, l in form.regulatory_ensembl.field.choices %}
                <option value="{{ v }}"{% if v in selected_values %} selected="selected"{% endif %}>{{ l }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="col-4 px-0">
        <div class="row">
          <div class="col-6 px-0 text-nowrap col-form-label">
            <label for="id_vista_required_features">
              VISTA Validation
            </label>
          </div>
          <div class="col-6 px-0">
            <select id="id_vista_required_features" name="regulatory_vista" class="selectpicker" multiple>
              {% get_selected_values form "regulatory_" "vista" "" as selected_values %}
              {% for v, l in form.regulatory_vista.field.choices %}
                <option value="{{ v }}"{% if v in selected_values %} selected="selected"{% endif %}>{{ l }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if form.reg_map_fields %}
    <div class="col-12 pt-2 border-top mt-2">
      <h5 class="card-title">
        Custom Regulatory Maps
        <small class="text-muted">(Installed by Instance Admin)</small>
      </h5>

      {% for title, p in form.reg_map_fields.items %}
        <div class="row">
          <div class="col-2 px-0 col-form-label">
            <label>
              {{ p.0.short_title }}
            </label>
          </div>

          <div class="col-1 px-0 col-form-label">
            <label id="id_{{ p.0.slug }}_required_map">
              Cell Type(s):
            </label>
          </div>

          <div class="col-2 px-0">
            <select id="id_{{ p.0.slug }}_required_map" name="regmap_{{ p.0.slug }}_map" class="selectpicker" data-none-selected-text="Cell Type(s)" multiple>
              {% for v, l in p.2.choices %}
                {% get_selected_values form "regmap_" p.0.slug "_map" as selected_values %}
                <option value="{{ v }}"{% if v in selected_values %} selected="selected"{% endif %}>{{ l }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-2 px-0 col-form-label">
            <label id="id_{{ p.0.slug }}_required_element">
              overlaps with element
            </label>
          </div>

          <div class="col-2 px-0">
            <select id="id_{{ p.0.slug }}_required_element" name="regmap_{{ p.0.slug }}_element" class="selectpicker" data-none-selected-text="Element Type" multiple>
              {% for v, l in p.1.choices %}
                {% get_selected_values form "regmap_" p.0.slug "_element" as selected_values %}
                <option value="{{ v }}"{% if v in selected_values %} selected="selected"{% endif %}>{{ l }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-2 px-0 col-form-label">
            <div class="form-check pl-0 pr-0">
              OR:
              {% get_is_checked form "regmap_" p.0.slug "_interaction" as is_checked %}
              <input type="checkbox" name="regmap_{{ p.0.slug }}_interaction" id="id_regmap_{{ p.0.slug }}_interaction"{% if is_checked %} checked="checked"{% endif %}>
              <label class="form-check-label" for="id_regmap_{{ p.0.slug }}_interaction">
                overlaps with interaction
              </label>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="col-12 border-top">
    <p class="px-0 mt-2 mb-0 small text-muted">
      <strong>Keep defaults to perform annotation only and no filtration.</strong>
      The settings in this tab control how to use regulatory elements from ENSEMBL regulatory build, VISTA enhancers, and custom regulatory maps for filtration.
      If you do not select anything here then your SVs will only be annotated with the elements.
    </p>
  </div>
</div>
