<div class="btn-group sodar-pr-sidebar-alt-btn pull-left collapse" role="group" id="sodar-pr-sidebar-alt-btn">
  <button class="btn btn-dark dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="iconify mt-1" data-icon="mdi:menu" data-height="16"></i>
  </button>
  <div class="dropdown-menu">

    {# Home #}
    <a class="dropdown-item{% if request.resolver_match.url_name == 'home' %} active{% endif %}"
        href="{% url 'home' %}"
        title="Home"
        id="sodar-pr-alt-link-home">
      <i class="iconify" data-icon="mdi:home"></i> Home
    </a>
  </div>
</div>
