{% extends 'projectroles/project_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load rules %}


{% block projectroles %}
  {% has_perm 'genepanels.add_data' request.user as can_add_data %}
  {% has_perm 'genepanels.update_data' request.user as can_update_data %}
  {% has_perm 'genepanels.delete_data' request.user as can_delete_data %}

  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'genepanels/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      <span class="iconify" data-icon="mdi:format-list-bulleted-type" data-inline="false"></span>
      Gene Panels and Categories
    </h2>
    <div class="btn-group ml-auto" id="sodar-ff-buttons-list">
      <a class="btn btn-secondary" href="{% url 'genepanels:index' %}">
        <i class="iconify" data-icon="mdi:arrow-left-circle"></i>
        Back
      </a>
      {% if can_add_data %}
        <a class="btn btn-primary" href="{% url 'genepanels:category-create' %}">
          <span class="iconify" data-icon="mdi:plus-circle" data-inline="false"></span>
          Create Group
        </a>
      {% endif %}
    </div>
  </div>

  <div class="container-fluid sodar-page-container pt-3">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 10px;">#</th>
          <th style="width: 200px;">Identifier</th>
          <th>Title</th>
          <th style="width: 50px;">Version</th>
          <th style="width: 100px;">State</th>
          <th style="width: 10px;" class="text-right">
            {% if show_retired %}
              <a class="btn sodar-list-btn btn-sm btn-outline-secondary" href="{% url 'genepanels:category-list' %}">
                <i class="iconify" data-icon="mdi:hide"></i>
                hide retired
              </a>
            {% else %}
              <a class="btn sodar-list-btn btn-sm btn-outline-secondary" href="{% url 'genepanels:category-list' %}?show_retired=1">
                <i class="iconify" data-icon="mdi:show"></i>
                show retired
              </a>
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td class="text-right text-muted">{{ forloop.counter }}</td>
            <td></td>
            <td colspan="3">
              <a href="{{ object.get_absolute_url }}">
                {{ object.title }}
              </a>
            </td>
            <td class="text-right">
              <div class="btn-group sodar-list-btn-group" role="group">
                {% if can_add_data %}
                  <a href="{% url 'genepanels:genepanel-create' %}?category={{ object.sodar_uuid }}" class="btn sodar-list-btn btn-sm btn-primary">
                    <i class="iconify" data-icon="mdi:plus-circle"></i>
                    add panel
                  </a>
                {% endif %}
                <button type="button" class="btn sodar-list-btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="iconify" data-icon="mdi:gear"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-left" style="z-index: 1031;">
                  <a class="dropdown-item" href="{{ object.get_absolute_url }}">
                    <i class="iconify" data-icon="mdi:eye"></i>
                    View Category
                  </a>
                  {% if can_update_data %}
                    <a class="dropdown-item" href="{% url 'genepanels:category-update' category=object.sodar_uuid %}">
                      <i class="iconify" data-icon="mdi:pencil"></i>
                      Update Category
                    </a>
                  {% endif %}
                  {% if can_delete_data %}
                    <a class="dropdown-item" href="{% url 'genepanels:category-delete' category=object.sodar_uuid %}">
                      <i class="iconify" data-icon="mdi:eraser" data-inline="false"></i>
                      Remove Category
                    </a>
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          {% for panel in object.genepanel_set.all %}
            {% if panel.state != "retired" or show_retired %}
              <tr>
                <td class="text-center text-muted">&middot;</td>
                <td>
                  <a href="{{ panel.get_absolute_url }}">
                    {{ panel.identifier }}
                  </a>
                </td>
                <td>
                  <a href="{{ panel.get_absolute_url }}">
                    {{ panel.title }}
                  </a>
                  <small class="text-muted">
                    ({{ panel.genepanelentry_set.count }} gene{% if panel.genepanelentry_set.count != 1 %}s{% endif %})
                  </small>
                </td>
                <td>
                  v{{ panel.version_major }}.{{ panel.version_minor }}
                </td>
                <td>
                  <span class="badge {% if panel.state == "draft" %}badge-secondary{% elif panel.state == "active" %}badge-primary{% else %}badge-light{% endif %}">
                    {{ panel.state }}
                  </span>
                </td>
                <td class="text-right">
                  <div class="btn-group sodar-list-btn-group" role="group">
                    <button type="button" class="btn sodar-list-btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="iconify" data-icon="mdi:gear"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-left" style="z-index: 1031;">
                      <a class="dropdown-item" href="{{ panel.get_absolute_url }}">
                        <i class="iconify" data-icon="mdi:eye"></i>
                        View Panel Version
                      </a>
                      {% if panel.state != "draft" and can_update_data %}
                        <a class="dropdown-item" href="{% url 'genepanels:genepanel-copy-as-draft' panel=panel.sodar_uuid %}">
                          <i class="iconify" data-icon="mdi:content-copy"></i>
                          Copy as Draft
                        </a>
                      {% endif %}
                      {% if panel.state == "draft" and can_update_data %}
                        <a class="dropdown-item" href="{% url 'genepanels:genepanel-update' panel=panel.sodar_uuid %}">
                          <i class="iconify" data-icon="mdi:pencil"></i>
                          Update Draft
                        </a>
                        <a class="dropdown-item" href="{% url 'genepanels:genepanel-release' panel=panel.sodar_uuid %}">
                          <i class="iconify" data-icon="mdi:check-circle"></i>
                          Publish as Active
                        </a>
                        <a class="dropdown-item" href="{% url 'genepanels:genepanel-delete' panel=panel.sodar_uuid %}">
                          <i class="iconify" data-icon="mdi:eraser"></i>
                          Remove Draft
                        </a>
                      {% endif %}
                      {% if panel.state == "active" and can_update_data %}
                        <a class="dropdown-item" href="{% url 'genepanels:genepanel-retire' panel=panel.sodar_uuid %}">
                          <i class="iconify" data-icon="mdi:close-circle"></i>
                          Retire Version
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </td>
              </tr>
            {% endif %}
          {% empty %}
            <tr>
              <td class="text-center text-muted">|</td>
              <td class="text-muted text-center" colspan="4">
                No gene panels in category yet.
              </td>
            </tr>
          {% endfor %}
        {% empty %}
          <tr>
            <td colspan="6" class="text-center font-italic">
              No gene panels categories have been defined yet.
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
