{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load dict %}
{% load humanize %}
{% load static %}

{% block content %}

<nav aria-label="breadcrumb pt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <a href="{% url 'main:main' %}">
        <i class="fas fa-home"></i> Home
      </a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a href="{% url 'main:main' %}">
        Variant
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ release }}-{{ chromosome }}-{{ position }}-{{ reference }}-{{ alternative }}
    </li>
  </ol>
</nav>

<h3>
  {{ chromosome }}:{{ position }}{{ reference }}>{{ alternative }}
  {% if rsid %}
  <span class="badge badge-success">{{ rsid }}</span>
  <a target="_blank" class="btn btn-primary btn-sm" href="https://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{ rsid|slice:'2:' }}">
    dbSNP <i class="fa fa-external-link-alt"></i>
  </a>
  {% endif %}
</h3>
<div class="row pb-3">
  <div class="col-6">
    {% include "main/_card_gene.html" %}
  </div>
  <div class="col-6">
    {% include "main/_card_transcripts.html" %}
  </div>
</div>

<div class="row pb-3">
  <div class="col-6">
    {% include "main/_card_gnomad_exomes.html" %}
  </div>
  <div class="col-6">
    {% include "main/_card_gnomad_genomes.html" %}
  </div>
</div>

<div class="row pb-3">
  <div class="col-6">
    {% include "main/_card_exac.html" %}
  </div>
  <div class="col-6">
    {% include "main/_card_thousand_genomes.html" %}
  </div>
</div>

<div class="row pb-3">
  <div class="col">
    {% include "main/_card_knowngeneaa.html" %}
  </div>
</div>

<div class="row pb-3">
  <div class="col-6">
    {% include "main/_card_clinvar.html" %}
  </div>
</div>

{% endblock %}
