<div id="accordion">
  <div class="card">
    <div class="card-header" id="head-gene">
      <h4 class="card-title">
        <a class="accordion-toggle" data-toggle="collapse" data-target="#body-gene" aria-expanded="true" aria-controls="body-gene">
        Gene information
        </a>
      </h4>
    </div>
    <div class="collapse show" id="body-gene" aria-labelledby="card-gene" data-parent="#accordion">
      <div class="card-body p-0">
        <table class="table sodar-card-table">
          <tbody>
          <tr>
            <td class="border-top-0">Symbol</td>
            <td class="border-top-0">{{ hgnc.symbol|default:"-" }}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{ hgnc.name|default:"-" }}</td>
          </tr>
          <tr>
            <td>Alias name</td>
            <td>{{ hgnc.alias_name|default:"-" }}</td>
          </tr>
          <tr>
            <td>Gene family</td>
            <td>{{ hgnc.gene_family|default:"-" }}</td>
          </tr>
          <tr>
            <td>Location</td>
            <td>{{ hgnc.location|default:"-" }}</td>
          </tr>
          <tr>
            <td>RefSeq/Entrez ID</td>
            <td>{{ hgnc.entrez_id|default:"-" }}</td>
          </tr>
          <tr>
            <td>EnsEMBL ID</td>
            <td>{{ hgnc.ensembl_gene_id|default:"-" }}</td>
          </tr>
          <tr>
            <td>Kegg pathway</td>
            <td>
              {% if kegg %}
              <ul>
              {% for k in kegg %}
                <li>{{ k.name|default:"-" }} <span class="badge badge-pill badge-secondary">{{ k.kegg_id|default:"-" }}</span></li>
              {% endfor %}
              </ul>
              {% else %}
              -
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>HPO IDs <span class="badge badge-secondary">Mim2GeneMedgen</span></td>
            <td>
              {% if mim2genemedgen %}
              {% for omim, hpo in mim2genemedgen.items %}
              <div class="row pb-3">
                <div class="col-2">
                  <a href="https://www.omim.org/entry/{{ omim }}" class="badge badge-pill badge-warning" target="_blank">OMIM:{{ omim }}</a>
                </div>
                <div class="col-10">
                  {% if hpo %}
                  {% for h in hpo %}
                  <a href="https://hpo.jax.org/app/browse/term/{{ h.hpo_id }}" class="badge badge-pill badge-primary" target="_blank">{{ h.hpo_id }}</a>
                  {% endfor %}
                  {% else %}
                  -
                  {% endif %}
                </div>
              </div>
              {% endfor %}
              {% else %}
              -
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>HPO IDs <span class="badge badge-secondary">HGNC</span></td>
            <td>
              {% if hgncomim %}
              {% for omim, hpo in hgncomim.items %}
              <div class="row">
                <div class="col-2">
                  <a href="https://www.omim.org/entry/{{ omim }}" class="badge badge-pill badge-warning" target="_blank">OMIM:{{ omim }}</a>
                </div>
                <div class="col-2">
                  {% if hpo %}
                  {% for h in hpo %}
                  <a href="https://hpo.jax.org/app/browse/term/{{ h.hpo_id }}" class="badge badge-pill badge-primary" target="_blank">{{ h.hpo_id }}</a>
                  {% endfor %}
                  {% else %}
                  -
                  {% endif %}
                </div>
              </div>
              {% endfor %}
              {% else %}
              -
              {% endif %}
            </td>
          </tr>
          <tr>
            <td class="text-right" colspan="2">
              <div class="btn-group">
                <a
                  {% if hgnc.symbol %}
                  href="https://www.genecards.org/cgi-bin/carddisp.pl?gene={{ hgnc.symbol }}"
                  class="btn btn-primary btn-sm"
                  target="_blank"
                  {% else %}
                  href="#"
                  class="btn btn-secondary btn-sm"
                  {% endif %}
                >GeneCards <i class="fa fa-external-link"></i></a>
                <a
                  {% if hgnc.ucsc_id %}
                  href="{{ hgnc.ucsc_id }}"
                  class="btn btn-primary btn-sm"
                  target="_blank"
                  {% else %}
                  href="#"
                  class="btn btn-secondary btn-sm"
                  {% endif %}
                >UCSC <i class="fa fa-external-link"></i></a>
                <a
                  {% if hgnc.entrez_id %}
                  href="https://www.ncbi.nlm.nih.gov/gene/?term={{ hgnc.entrez_id }}"
                  class="btn btn-primary btn-sm"
                  target="_blank"
                  {% else %}
                  href="#"
                  class="btn btn-secondary btn-sm"
                  {% endif %}
                >RefSeq <i class="fa fa-external-link"></i></a>
                <a
                  {% if hgnc.cosmic %}
                  href="https://cancer.sanger.ac.uk/cosmic/gene/analysis?ln={{ hgnc.cosmic }}"
                  class="btn btn-primary btn-sm"
                  target="_blank"
                  {% else %}
                  href="#"
                  class="btn btn-secondary btn-sm"
                  {% endif %}
                >COSMIC <i class="fa fa-external-link"></i></a>
                <a
                  {% if hgnc.omim_id %}
                  href="https://www.omim.org/entry/{{ hgnc.omim_id }}"
                  class="btn btn-primary btn-sm"
                  target="_blank"
                  {% else %}
                  href="#"
                  class="btn btn-secondary btn-sm"
                  {% endif %}
                >OMIM <i class="fa fa-external-link"></i></a>
                <a
                  {% if hgnc.ensembl_gene_id %}
                  href="https://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ hgnc.ensembl_gene_id }}"
                  class="btn btn-primary btn-sm"
                  target="_blank"
                  {% else %}
                  href="#"
                  class="btn btn-secondary btn-sm"
                  {% endif %}
                >EnsEMBL <i class="fa fa-external-link"></i></a>
              </div>
              <div class="btn-group">
                <form target="_blank" method="POST" action="https://www.mutationtaster.org/cgi-bin/MutationTaster/MT_ChrPos.cgi">
                  <input type="hidden" name="chromosome" value="{{ chromosome }}">
                  <input type="hidden" name="position" value="{{ position }}">
                  <input type="hidden" name="ref" value="{{ reference }}">
                  <input type="hidden" name="alt" value="{{ alternative }}">
                  <button type="submit" class="btn btn-primary btn-sm">MutationTaster <i class="fa fa-external-link"></i></button>
                </form>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
