{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% load dict %}
{% load humanize %}
{% load static %}

{% block projectroles_extend %}

{% has_perm 'geneinfo.view_data' request.user project as can_view_data %}

<div class="container-fluid sodar-page-container">

  {% if can_view_data %}

    <nav aria-label="breadcrumb pt-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
          <a href="{% url 'variants:case' project=project.sodar_uuid %}">
           <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a href="{% url 'variants:case' project=project.sodar_uuid %}">
            Gene
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ ensembl_gene_id }}
        </li>
      </ol>
    </nav>

    {% include "geneinfo/_card_gene.html" %}

  {% endif %}

</div>

{% endblock %}
