{% load humanize %}
{% load variants_tags %}
{% load projectroles_common_tags %}

<div class="card varfish-vars-case-details"
     id="card-varfish-vars-case-details-small-var-flags">
  <div class="card-header">
    <h4>
      <i class="fa fa-flag"></i>
      ACMG Classification of Variants
    </h4>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="width: 260px;">Variant</th>
        <th style="width: 50px;">Gene(s)</th>
        <th>Classification</th>
      </tr>
    </thead>
    <tbody>
      {% for acmg_rating in case.acmg_ratings.all %}
        <tr id="flags-{{ acmg_rating.get_variant_description }}">
          <td class="text-nowrap">
            chr{{ acmg_rating.chromosome }}:{{ acmg_rating.position|intcomma }}-{{ acmg_rating.reference }}-{{ acmg_rating.alternative }}
          </td>
          <td>
            {{ acmg_rating.get_gene_symbols|join:", "|default:"-" }}
          </td>
          <td>
            {{ acmg_rating.get_human_readable }}
          </td>
        </tr>
      {% endfor %}
      {% if not case.acmg_ratings.all %}
        <tr>
           <td class="bg-faded font-italic text-center" colspan="2">
             No ACMG classifications yet.
           </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
