
<div class="card varfish-vars-case-details comment-group"
     id="card-varfish-vars-case-details-small-var-comments">
  <div class="card-header">
    <h4>
      <i class="fa fa-comments-o"></i>
      Comments
    </h4>
  </div>
  <ul
      class="list-group list-group-flush list"
      style="overflow-y: auto !important; max-height: 300px;"
      id="case-comment-list"
      data-url-submit="{% url 'variants:case-comments-submit-api' project=project.sodar_uuid case=object.sodar_uuid %}"
      data-url-delete="{% url 'variants:case-comments-delete-api' project=project.sodar_uuid case=object.sodar_uuid %}">
    {% for comment in case.case_comments.all %}
    <li id="comment-{{ comment.sodar_uuid }}" class="list-group-item list-item" data-sodar-uuid="{{ comment.sodar_uuid }}">
      <div id="display-comment-{{ comment.sodar_uuid }}">
        <span class="small text-muted">
          <strong>{{ comment.user }}</strong>
          {{ comment.date_created|date:"Y/m/d H:i" }}:
        </span>
        <em>{{ comment.comment }}</em>
        {% if comment.user == request.user or request.user.is_superuser %}
          <a href="#" class="pl-2 text-secondary comment-button-edit"><i class="fa fa-pencil"></i></a>
          <a href="#" class="pl-2 text-secondary comment-button-delete"><i class="fa fa-times-circle"></i></a>
        {% endif %}
      </div>
      <div id="edit-comment-{{ comment.sodar_uuid }}" style="display: none;">
        <form>
          <textarea id="text-comment-{{ comment.sodar_uuid }}" name="comment" rows="1" cols="40" class="form-control"></textarea>
          <span class="btn-group d-flex">
            <button
                type="button"
                class="btn btn-sm btn-primary w-100 comment-button-edit-submit">
                Submit
            </button>
            <button
                type="button"
                class="btn btn-sm btn-secondary w-100 comment-button-edit-cancel">
                Cancel
            </button>
          </span>
        </form>
      </div>
      <div id="delete-comment-{{ comment.sodar_uuid }}" style="display: none;">
        <span class="btn-group d-flex">
          <button
              type="button"
              class="btn btn-sm btn-danger w-100 comment-button-delete-submit">
              Delete
          </button>
          <button
              type="button"
              class="btn btn-sm btn-secondary w-100 comment-button-delete-cancel">
              Cancel
          </button>
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div
      class="card-body"
      id="case-comment-list-empty"
      {% if case.case_comments.all %}style="display: none;"{% endif %}>
    <p class="text-muted font-italic">
      No comments yet.
    </p>
  </div>
  <form>
    <span class="input-group">
      {{ casecommentsform }}
      <button
          type="button"
          class="btn btn-secondary"
          id="comment-button-submit">
        <i class="fa fa-plus"></i> Submit
      </button>
    </span>
  </form>
</div>
