{% load dict %}
{% load humanize %}
{% load variants_tags %}


<div class="card varfish-vars-case-details"
   id="card-varfish-vars-case-details-qc">
  <div class="card-header">
    <h4>
      <i class="fa fa-search"></i>
      Variant Quality Control
    </h4>
  </div>

  <div class="card-body">
    <h5>Per-Sample Metrics</h5>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Sample</th>
          <th class="text-center">Ts</th>
          <th class="text-center">Tv</th>
          <th class="text-center">Ts/Tv</th>
          <th class="text-center">SNVs</th>
          <th class="text-center">Indels</th>
          <th class="text-center">MNVs</th>
          <th class="text-center">X hom./het.</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object.latest_variant_set.variant_stats.sample_variant_stats.all %}
          <tr>
            <td>{{ item.sample_name|only_source_name }}</td>
            <td class="text-right">{{ item.ontarget_transitions|intcomma }}</td>
            <td class="text-right">{{ item.ontarget_transversions|intcomma }}</td>
            <td class="text-right">
              {% if item.ontarget_ts_tv_ratio < 2.0 and item.ontarget_ts_tv_ratio > 2.9 %}
                <i class="fa fa-exclamation-triangle text-danger"
                   data-toggle="tooltip" data-placement="top"
                   title="On-target Ts/Tv ratio should be within 2.0-2.9, but is {{ item.ontarget_ts_tv_ratio }}"
                ></i>
              {% endif %}
              {{ item.ontarget_ts_tv_ratio|floatformat:2 }}
            </td>
            <td class="text-right">{{ item.ontarget_snvs|intcomma }}</td>
            <td class="text-right">{{ item.ontarget_indels|intcomma }}</td>
            <td class="text-right">{{ item.ontarget_mnvs|intcomma }}</td>
            <td class="text-right">{{ item.chrx_het_hom|floatformat:4 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="card varfish-vars-case-details"
   id="card-varfish-vars-case-details-qc">
  <div class="card-header">
    <h4>
      <i class="fa fa-search"></i>
      Download Variant Quality Control Metrics
    </h4>
  </div>

  <div class="card-body">
    <a class="btn btn-outline-primary" download="{{ case.name }}_per_sample_metrics.tsv" href="data:text/tab-separated-values;base64,{{ qcdata_sample_variant_stats }}"><i class="fa fa-download"></i> <strong>Per-Sample Metrics</strong> (.tsv)</a>
    <a class="btn btn-outline-primary" download="{{ case.name }}_effect_counts.tsv" href="data:text/tab-separated-values;base64,{{ qcdata_effects }}"><i class="fa fa-download"></i> <strong>Effect Counts</strong> (.tsv)</a>
    <a class="btn btn-outline-primary" download="{{ case.name }}_indel_sizes.tsv" href="data:text/tab-separated-values;base64,{{ qcdata_indel_sizes }}"><i class="fa fa-download"></i> <strong>InDel Sizes</strong> (.tsv)</a>
    <a class="btn btn-outline-primary" download="{{ case.name }}_site_depths.tsv" href="data:text/tab-separated-values;base64,{{ qcdata_site_depths }}"><i class="fa fa-download"></i> <strong>Site Depths</strong> (.tsv)</a>
    {% if samples|length > 1 %}
      <a class="btn btn-outline-primary" download="{{ case.name }}_relatedness.tsv" href="data:text/tab-separated-values;base64,{{ qcdata_relatedness }}"><i class="fa fa-download"></i> <strong>Relatedness</strong> (.tsv)</a>
    {% endif %}
  </div>
</div>
