{% load humanize %}
{% load projectroles_common_tags %}
{% get_django_setting 'VARFISH_ENABLE_SVS' as svs_enabled %}

<div class="card varfish-vars-case-details"
     id="card-varfish-vars-case-details-small-var-comments">
  <div class="card-header">
    <h4>
      <i class="fa fa-comment"></i>
      Commented Small Variants
    </h4>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="width: 200px;"><div class="sodar-overflow-container sodar-overflow-hover">Variant</div></th>
        <th style="width: 80px;"><div class="sodar-overflow-container sodar-overflow-hover">Gene(s)</div></th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody
        id="small-variant-comments"
        class="list"
        data-url-submit="{% url 'variants:small-variant-comment-api' project=project.sodar_uuid case=object.sodar_uuid %}"
        data-url-delete="{% url 'variants:small-variant-comment-delete-api' project=project.sodar_uuid case=object.sodar_uuid %}">
      {% for variant_comment in case.small_variant_comments.all %}
        <tr class="list-item" id="comment-{{ variant_comment.sodar_uuid }}" data-sodar-uuid="{{ variant_comment.sodar_uuid }}">
          <td class="text-nowrap">
            chr{{ variant_comment.chromosome }}:{{ variant_comment.start|intcomma }}-{{ variant_comment.reference }}-{{ variant_comment.alternative }}
          </td>
          <td>
            {{ variant_comment.get_gene_symbols|join:", "|default:"-" }}
          </td>
          <td>
            <div id="display-comment-{{ variant_comment.sodar_uuid }}">
              <span class="small text-muted">
                <strong>{{ variant_comment.user }}</strong>
                {{ variant_comment.date_created|date:"Y/m/d H:i" }}:
              </span>
              <em>{{ variant_comment.text }}</em>
              {% if variant_comment.user == request.user or request.user.is_superuser %}
                <a href="#" class="pl-2 text-secondary comment-button-edit"><i class="fa fa-pencil"></i></a>
                <a href="#" class="pl-2 text-secondary comment-button-delete"><i class="fa fa-times-circle"></i></a>
              {% endif %}
            </div>
            <div id="edit-comment-{{ variant_comment.sodar_uuid }}" style="display: none;">
              <form>
                <textarea id="text-comment-{{ variant_comment.sodar_uuid }}" name="variant_comment" rows="1" cols="40" class="form-control"></textarea>
                <span class="btn-group d-flex">
                  <button
                      type="button"
                      class="btn btn-sm btn-primary w-100 comment-button-edit-submit">
                      Submit
                  </button>
                  <button
                      type="button"
                      class="btn btn-sm btn-secondary w-100 comment-button-edit-cancel">
                      Cancel
                  </button>
                </span>
              </form>
            </div>
            <div id="delete-comment-{{ variant_comment.sodar_uuid }}" style="display: none;">
              <span class="btn-group d-flex">
                <button
                    type="button"
                    class="btn btn-sm btn-danger w-100 comment-button-delete-submit">
                    Delete
                </button>
                <button
                    type="button"
                    class="btn btn-sm btn-secondary w-100 comment-button-delete-cancel">
                    Cancel
                </button>
              </span>
            </div>
          </td>
        </tr>
      {% endfor %}
      <tr
         id="small-variant-comments-empty"
         {% if case.small_variant_comments.all %}style="display: none;"{% endif %}>
         <td class="bg-faded font-italic text-center" colspan="3">
           No comments yet.
         </td>
      </tr>
    </tbody>
  </table>
</div>

{% if svs_enabled %}
  <div class="card varfish-vars-case-details"
       id="card-varfish-vars-case-details-structural-var-comments">
    <div class="card-header">
      <h4>
        <i class="fa fa-comment"></i>
        Commented Structural Variants
      </h4>
    </div>
    <table class="table tabled-striped table-hover">
      <thead>
        <tr>
          <th style="width: 200px;"><div class="sodar-overflow-container sodar-overflow-hover">Variant</div></th>
          <th style="width: 80px;"><div class="sodar-overflow-container sodar-overflow-hover">Type</div></th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody
          id="structural-variant-comments"
          class="list"
          data-url-submit="{% url 'variants:small-variant-comment-api' project=project.sodar_uuid case=object.sodar_uuid %}"
          data-url-delete="{% url 'variants:small-variant-comment-delete-api' project=project.sodar_uuid case=object.sodar_uuid %}">
        {% for sv_comment in case.structural_variant_comments.all %}
          <tr class="list-item" id="comment-{{ sv_comment.sodar_uuid }}" data-sodar-uuid="{{ sv_comment.sodar_uuid }}">
            <td class="text-nowrap">
              chr{{ sv_comment.chromosome }}:{{ sv_comment.start|intcomma }}-{{ sv_comment.end|intcomma }}
            </td>
            <td class="text-nowrap">
              {{ sv_comment.sv_type }}
            </td>
            <td style="overflow-y: auto !important; max-height: 200px;">
              <div id="display-comment-{{ variant_comment.sodar_uuid }}">
                <span class="small text-muted">
                  <strong>{{ sv_comment.user }}</strong>,
                  {{ sv_comment.date_created|date:"Y/m/d H:i" }}:
                </span>
                <em>{{ sv_comment.text }}</em>
                {% if sv_comment.user == request.user or request.user.is_superuser %}
                  <a href="#" class="pl-2 text-secondary comment-button-edit"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="pl-2 text-secondary comment-button-delete"><i class="fa fa-times-circle"></i></a>
                {% endif %}
              </div>
              <div id="edit-comment-{{ sv_comment.sodar_uuid }}" style="display: none;">
                <form>
                  <textarea id="text-comment-{{ sv_comment.sodar_uuid }}" name="variant_comment" rows="1" cols="40" class="form-control"></textarea>
                  <span class="btn-group d-flex">
                    <button
                        type="button"
                        class="btn btn-sm btn-primary w-100 comment-button-edit-submit">
                        Submit
                    </button>
                    <button
                        type="button"
                        class="btn btn-sm btn-secondary w-100 comment-button-edit-cancel">
                        Cancel
                    </button>
                  </span>
                </form>
              </div>
              <div id="delete-comment-{{ sv_comment.sodar_uuid }}" style="display: none;">
                <span class="btn-group d-flex">
                  <button
                      type="button"
                      class="btn btn-sm btn-danger w-100 comment-button-delete-submit">
                      Delete
                  </button>
                  <button
                      type="button"
                      class="btn btn-sm btn-secondary w-100 comment-button-delete-cancel">
                      Cancel
                  </button>
                </span>
              </div>
            </td>
          </tr>
        {% endfor %}
        <tr
          id="structural-variant-comments-empty"
          {% if case.structural_variant_comments.all %}style="display: none;"{% endif %}>
          <td class="bg-faded font-italic text-center" colspan="3">
            No comments yet.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endif %}

