<div class="card varfish-vars-case-details"
   id="card-varfish-vars-case-details-qc-plots">
  <div class="card-header">
    <h4>
      <i class="fa fa-bar-chart"></i>
      QC Plots
    </h4>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div id="plot-relatedness"></div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div id="plot-sex-chrx-het-hom"></div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div id="plot-var-dps"></div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div id="plot-var-types"></div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div id="plot-var-effects"></div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div id="plot-indel-sizes"></div>
    </div>
  </div>
</div>
