{% load variants_tags %}

<div class="card varfish-vars-case-details"
     id="card-varfish-vars-case-details-overview">
  <div class="card-header">
    <h4>
      <i class="fa fa-address-card-o"></i>
      Details
    </h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item pl-0">
      <div class="row">
        <span class="col-3"><strong>
            Created At<br/>
            <span class="text-muted">Last Modified</span>
        </strong></span>
        <span class="col-9">
            {{ object.date_created|date:"Y/m/d H:i" }}<br/>
            <span class="text-muted">{{ object.date_modified|date:"Y/m/d H:i" }}</span>
        </span>
      </div>
    </li>
    <li class="list-group-item pl-0">
      <div class="row">
        <span class="col-3"><strong>
          Case Name
        </strong></span>
        <span class="col-9">
          {{ object.name }}
          {% include "variants/case/indicator_sex_error.html" with item=object %}
          {% include "variants/case/indicator_rel_error.html" with item=object %}
        </span>
      </div>
    </li>
    <li class="list-group-item pl-0">
      <div class="row">
        <span class="col-3"><strong>
          Individuals
        </strong></span>
        <span class="col-9">
          {% for member in object.get_members %}
            {{ member|only_source_name }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </span>
      </div>
    </li>
    <li class="list-group-item pl-0">
      <div class="row">
        <span class="col-3">
          <strong>Status &amp; Notes</strong><br/>
          <div id="case-notes-status-button" class="btn btn-sm btn-secondary">
              <span id="case-notes-status-button-edit">
                  <i class="fa fa-pencil"></i> Edit
              </span>
              <span id="case-notes-status-button-cancel" style="display: none;">
                  <i class="fa fa-times"></i> Cancel
              </span>
          </div>
        </span>
        <span id="case-notes-status-mode-fixed" class="col-9">
          <h4><span id="case-notes-status-badge">{{ object.status }}</span></h4>
          <span id="case-notes-status-text">{% if object.notes %}{{ object.notes }}{% endif %}</span>
        </span>
        <span id="case-notes-status-mode-edit" class="col-9" style="display: none;">
          <form>{% csrf_token %}
            {{ form }}
            <button
              type="button"
              id="case-notes-status-save"
              class="btn btn-sm btn-secondary"
              data-url-case-notes-status="{% url 'variants:case-notes-status-api' project=project.sodar_uuid case=object.sodar_uuid %}"
            >
              <i class="fa fa-save"></i> Save
            </button>
          </form>
        </span>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript">

let statusBadgeMapping = {
    "initial": "badge-info",
    "active": "badge-warning",
    "closed-unsolved": "badge-danger",
    "closed-solved": "badge-success",
};

function decorateCaseNotesStatus() {
    var badge = $("#case-notes-status-badge");
    var text = $("#case-notes-status-text");
    var status = badge.text();
    var status_display = $("#id_status option[value='" + status + "']").text();

    if (text.text().replace(/( |\r\n|\n|\r)/gm, "") == "") {
      text.html('<em class="text-muted">No notes taken (yet).</em>');
    }

    if (status in statusBadgeMapping) {
        badge.removeClass();
        badge.addClass("badge");
        badge.addClass(statusBadgeMapping[status]);
        badge.text(status_display);
    }
}

$(document).ready(function() {
    $("#case-notes-status-button").on("click", function() {
        $("#case-notes-status-mode-fixed").toggle();
        $("#case-notes-status-mode-edit").toggle();
        $("#case-notes-status-button-edit").toggle();
        $("#case-notes-status-button-cancel").toggle();
    });
    $("#case-notes-status-save").on("click", function() {
        $.ajax({
            type: "POST",
            url: $(this).data("url-case-notes-status"),
            data: $(this).closest("form").serialize(),
            dataType: "json",
            success: function(data) {
                $("#case-notes-status-text").text(data["notes"]);
                $("#case-notes-status-badge").text(data["status"]);
                $("#case-notes-status-button").trigger("click");
                decorateCaseNotesStatus();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert("Error during AJAX call: " + textStatus + " " + errorThrown);
                console.log("Error during AJAX call: ", textStatus, errorThrown);
            }
        });
    });
    decorateCaseNotesStatus();
});
</script>
