{% load dict %}
{% load humanize %}
{% load variants_tags %}
{% load dict %}

{% if case.latest_variant_set.casealignmentstats %}
  <div class="card varfish-vars-case-details"
     id="card-varfish-vars-case-details-bam-qc">
    <div class="card-header">
      <h4>
        <i class="fa fa-search"></i>
        Alignment Quality Control
      </h4>
    </div>

    <div class="card-body">
      <h5>Target Coverage</h5>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Sample</th>
            {% for coverage in coverages %}
              <th class="text-nowrap text-right">&ge; {{ coverage }}x</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for sample_name, stats in case.latest_variant_set.casealignmentstats.bam_stats.items %}
            <tr>
              <td>{{ sample_name|only_source_name }}</td>
              {% for coverage in coverages %}
                <td class="text-right">{{ stats|keyvalue:"min_cov_target"|keyvalue:coverage|floatformat:1 }}%</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h5>Stats</h5>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Sample</th>
            <th class="text-right">Pairs</th>
            <th class="text-right">Duplicates</th>
            <th class="text-right">&#248; Insert Size</th>
            <th class="text-right">SD Insert Size</th>
            <th class="text-right">Mean Target Coverage</th>
            <th class="text-right">Target Size</th>
          </tr>
        </thead>
        <tbody>
          {% for sample_name, stats in case.latest_variant_set.casealignmentstats.bam_stats.items %}
            <tr>
              <th>{{ sample_name|only_source_name }}</th>
              <td class="text-right">{{ stats|from_bamstats:"total reads"|intcomma }}</td>
              <td class="text-right">{{ stats|from_bamstats:"percent duplicates"|floatformat:1 }}%</td>
              <td class="text-right">{{ stats|keyvalue:"bamstats"|keyvalue:"insert size average"|floatformat:0 }}</td>
              <td class="text-right">{{ stats|keyvalue:"bamstats"|keyvalue:"insert size standard deviation"|floatformat:0 }}</td>
              <td class="text-right">{{ stats|from_bamstats:"mean target coverage"|default_if_none:"-"|floatformat:0 }}&nbsp;x</td>
              <td class="text-right">{{ stats|from_bamstats:"total target size"|default_if_none:"-"|bpformat }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}
