{% load humanize %}
{% load variants_tags %}
{% load projectroles_common_tags %}
{% load dict %}
{% get_django_setting 'VARFISH_ENABLE_SVS' as svs_enabled %}

<div class="container-fluid sodar-page-container">
  <div class="card varfish-vars-case-details"
       id="card-varfish-vars-case-details-small-var-flags">
    <div class="card-header">
      <div class="row">
        <div class="col-11 px-0">
          <h4>
            <i class="fa fa-flag"></i>
            Annotated Variants
          </h4>
        </div>
        <div class="col-1 px-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-download"></i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url "variants:case-annotated-variants" project=object.project.sodar_uuid case=object.sodar_uuid %}?format=tsv">
                <i class="fa fa-file-excel-o"></i>
                Download as TSV
              </a>
              <a class="dropdown-item" href="{% url "variants:case-annotated-variants" project=object.project.sodar_uuid case=object.sodar_uuid %}?format=json">
                <i class="fa fa-file-code-o"></i>
                Download as JSON
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 200px;" rowspan="2" class="text-center align-text-top"><div class="sodar-overflow-container sodar-overflow-hover">Variant</div></th>
          <th style="width: 80px;" rowspan="2" class="text-center align-text-top"><div class="sodar-overflow-container sodar-overflow-hover">Gene(s)</div></th>
          <th rowspan="2" class="text-center align-text-top">ACMG Rating</th>
          <th colspan="6" class="text-center border-bottom-0">Flags</th>
          <th rowspan="2" class="text-center align-text-top">Comments</th>
          <th rowspan="2" class="text-center align-text-top"></th>
        </tr>
        <tr>
          <th class="text-center">Generic</th>
          <th class="text-center">Visual</th>
          <th class="text-center">Molecular</th>
          <th class="text-center">Validation</th>
          <th class="text-center">Phenotype</th>
          <th class="text-center">Summary</th>
        </tr>
      </thead>
      <tbody>
        {% for variant in annotated_variants %}
          <tr id="flags-{{ variant.chromosome }}-{{ variant.start }}-{{ variant.reference }}-{{ variant.alternative }}">
            <td class="text-nowrap">
              <div class="sodar-overflow-container sodar-overflow-hover" style="max-width: 200px;">
                chr{{ variant.chromosome }}:{{ variant.start|intcomma }}-{{ variant.reference }}-{{ variant.alternative }}
              </div>
            </td>
            <td>
              {{ variant|get_symbol }}
            </td>
            <td class="text-center">
              <span class="{{ variant|acmg_badge_class }} variant-acmg" style="width: 22px; display: inline-block">
                {{ variant|acmg_classification|default:"-" }}
              </span>
            </td>
            {% if variant.flag_count > 0 %}
              <td class="text-center">
                <i class="fa fa-fw fa-star {% if not variant.flag_bookmarked %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-flask {% if not variant.flag_for_validations %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-heart {% if not variant.flag_candidate %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-flag-checkered {% if not variant.flag_final_causative %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-chain-broken {% if not variant.flag_no_disease_association %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-thumbs-up {% if not variant.flag_segregates %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-thumbs-down {% if not variant.flag_doesnt_segregate %}text-muted" style="opacity: 0.3{% endif %}"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-fw {{ variant.flag_visual|flag_value_to_fa }} {{ variant.flag_visual|flag_value_to_color }}"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-fw {{ variant.flag_molecular|flag_value_to_fa }} {{ variant.flag_molecular|flag_value_to_color }}"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-fw {{ variant.flag_validation|flag_value_to_fa }} {{ variant.flag_validation|flag_value_to_color }}"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-fw {{ variant.flag_phenotype_match|flag_value_to_fa }} {{ variant.flag_phenotype_match|flag_value_to_color }}"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-fw {{ variant.flag_summary|flag_value_to_fa }} {{ variant.flag_summary|flag_value_to_color }}"></i>
              </td>
            {% else %}
              <td colspan="6" class="text-center text-muted font-italic">No flags.</td>
            {% endif %}
            <td>
              <ul class="list-group list" style="width: 400px"
                id="small-variant-comment-{{ variant.chromosome }}-{{ variant.start }}-{{ variant.reference }}-{{ variant.alternative }}"
                data-url-submit="{% url 'variants:small-variant-comment-api' project=project.sodar_uuid case=variant.case_uuid %}"
                data-url-delete="{% url 'variants:small-variant-comment-delete-api' project=project.sodar_uuid case=variant.case_uuid %}">
              {% for comment in variant.comment_list %}
                <li class="list-group-item list-item" id="comment-{{ comment.sodar_uuid }}" data-sodar-uuid="{{ comment.sodar_uuid }}">
                  <div id="display-comment-{{ comment.sodar_uuid }}">
                    <span class="small text-muted">
                      <strong>{{ comment.username }}</strong>
                      {{ comment.date_created|date:"Y/m/d H:i" }}:
                    </span>
                    <em>{{ comment.text }}</em>
                    {% if comment.user_id == request.user.id or request.user.is_superuser %}
                      <a href="#" class="pl-2 text-secondary comment-button-edit"><i class="fa fa-pencil"></i></a>
                      <a href="#" class="pl-2 text-secondary comment-button-delete"><i class="fa fa-times-circle"></i></a>
                    {% endif %}
                  </div>
                  <div id="edit-comment-{{ comment.sodar_uuid }}" style="display: none;">
                    <form>
                      <textarea id="text-comment-{{ comment.sodar_uuid }}" name="variant_comment" rows="1" cols="40" class="form-control"></textarea>
                      <span class="btn-group d-flex">
                        <button
                            type="button"
                            class="btn btn-sm btn-primary w-100 comment-button-edit-submit">
                            Submit
                        </button>
                        <button
                            type="button"
                            class="btn btn-sm btn-secondary w-100 comment-button-edit-cancel">
                            Cancel
                        </button>
                      </span>
                    </form>
                  </div>
                  <div id="delete-comment-{{ comment.sodar_uuid }}" style="display: none;">
                    <span class="btn-group d-flex">
                      <button
                          type="button"
                          class="btn btn-sm btn-danger w-100 comment-button-delete-submit">
                          Delete
                      </button>
                      <button
                          type="button"
                          class="btn btn-sm btn-secondary w-100 comment-button-delete-cancel">
                          Cancel
                      </button>
                    </span>
                  </div>
                </li>
              {% endfor %}
              </ul>
              <p id="small-variant-comment-{{ variant.chromosome }}-{{ variant.start }}-{{ variant.reference }}-{{ variant.alternative }}-empty" class="text-muted font-italic text-center"{% if variant.comment_list %} style="display: none;"{% endif %}>No comments.</p>
            </td>
            <td>
              <a
                onclick="javascript:$.ajax({url: 'http://127.0.0.1:60151/goto?locus=chr{{ variant.chromosome }}-{{ variant.start }}-{{ variant.start }}'})"
                href="#"
                class="btn btn-sm btn-secondary">
                IGV
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
             <td class="bg-faded text-muted font-italic text-center" colspan="11">
               No annotations yet.
             </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if svs_enabled %}
<div class="container-fluid sodar-page-container">
  <div class="card varfish-vars-case-details"
       id="card-varfish-vars-case-details-structural-var-flags">
    <div class="card-header">
      <h4>
        <i class="fa fa-flag"></i>
        Annotated Structural Variants
      </h4>
    </div>
    <table class="table tabled-striped table-hover">
      <thead>
        <tr>
          <th style="width: 200px;" rowspan="2" class="text-center align-text-top"><div class="sodar-overflow-container sodar-overflow-hover">Variant</div></th>
          <th style="width: 80px;" rowspan="2" class="text-center align-text-top"><div class="sodar-overflow-container sodar-overflow-hover">Type</div></th>
          <th colspan="6" class="text-center border-bottom-0">Flags</th>
          <th rowspan="2" class="text-center align-text-top">Comments</th>
          <th rowspan="2" class="text-center align-text-top"></th>
        </tr>
        <tr>
          <th class="text-center">Generic</th>
          <th class="text-center">Visual</th>
          <th class="text-center">Molecular</th>
          <th class="text-center">Validation</th>
          <th class="text-center">Phenotype</th>
          <th class="text-center">Summary</th>
        </tr>
      </thead>
      <tbody
          id="structural-variant-comments"
          class="list"
          data-url-submit="{% url 'variants:small-variant-comment-api' project=project.sodar_uuid case=object.sodar_uuid %}"
          data-url-delete="{% url 'variants:small-variant-comment-delete-api' project=project.sodar_uuid case=object.sodar_uuid %}">
        {% for variant, data in sv_commentsflags.items %}
          <tr id="flags-{{ variant.0 }}-{{ variant.1 }}-{{ variant.2 }}-{{ variant.3 }}">
            <td class="text-nowrap">
              chr{{ variant.0 }}:{{ variant.1|intcomma }}-{{ variant.2|intcomma }}
            </td>
            <td class="text-nowrap">
              {{ variant.3 }}
            </td>
            {% if data.flags %}
              <td class="text-center">
                <i class="fa fa-fw fa-star {% if not data.flags.flag_bookmarked %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-flask {% if not data.flags.flag_for_validation %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-heart {% if not data.flags.flag_candidate %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-flag-checkered {% if not data.flags.flag_final_causative %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-chain-broken {% if not data.flags.flag_no_disease_association %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-thumbs-up {% if not data.flags.flag_segregates %}text-muted" style="opacity: 0.3{% endif %}"></i>
                <i class="fa fa-fw fa-thumbs-down {% if not data.flags.flag_doesnt_segregate %}text-muted" style="opacity: 0.3{% endif %}"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-fw {{ data.flags.flag_visual|flag_value_to_fa }} {{ data.flags.flag_visual|flag_value_to_color }}"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-fw {{ data.flags.flag_molecular|flag_value_to_fa }} {{ data.flags.flag_molecular|flag_value_to_color }}"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-fw {{ data.flags.flag_validation|flag_value_to_fa }} {{ data.flags.flag_validation|flag_value_to_color }}"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-fw {{ data.flags.flag_phenotype_match|flag_value_to_fa }} {{ data.flags.flag_phenotype_match|flag_value_to_color }}"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-fw {{ data.flags.flag_summary|flag_value_to_fa }} {{ data.flags.flag_summary|flag_value_to_color }}"></i>
              </td>
            {% else %}
              <td colspan="6" class="text-center text-muted font-italic">No flags.</td>
            {% endif %}
            <td>
              {% if data.comments %}
              <ul class="list-group" style="width: 400px">
              {% for comment in data.comments %}
                <li class="list-group-item list-item" id="comment-{{ comment.sodar_uuid }}" data-sodar-uuid="{{ comment.sodar_uuid }}">
                  <div id="display-comment-{{ comment.sodar_uuid }}">
                    <span class="small text-muted">
                      <strong>{{ comment.username }}</strong>
                      {{ comment.date_created|date:"Y/m/d H:i" }}:
                    </span>
                    <em>{{ comment.text }}</em>
{#                    {% if comment.user == request.user or request.user.is_superuser %}#}
{#                      <a href="#" class="pl-2 text-secondary comment-button-edit"><i class="fa fa-pencil"></i></a>#}
{#                      <a href="#" class="pl-2 text-secondary comment-button-delete"><i class="fa fa-times-circle"></i></a>#}
{#                    {% endif %}#}
                  </div>
                  <div id="edit-comment-{{ comment.sodar_uuid }}" style="display: none;">
                    <form>
                      <textarea id="text-comment-{{ comment.sodar_uuid }}" name="variant_comment" rows="1" cols="40" class="form-control"></textarea>
                      <span class="btn-group d-flex">
                        <button
                            type="button"
                            class="btn btn-sm btn-primary w-100 comment-button-edit-submit">
                            Submit
                        </button>
                        <button
                            type="button"
                            class="btn btn-sm btn-secondary w-100 comment-button-edit-cancel">
                            Cancel
                        </button>
                      </span>
                    </form>
                  </div>
                  <div id="delete-comment-{{ comment.sodar_uuid }}" style="display: none;">
                    <span class="btn-group d-flex">
                      <button
                          type="button"
                          class="btn btn-sm btn-danger w-100 comment-button-delete-submit">
                          Delete
                      </button>
                      <button
                          type="button"
                          class="btn btn-sm btn-secondary w-100 comment-button-delete-cancel">
                          Cancel
                      </button>
                    </span>
                  </div>
                </li>
              {% endfor %}
              </ul>
              {% else %}
                <p class="text-muted font-italic text-center">No comments.</p>
              {% endif %}
            </td>
            <td>
              <a
                onclick="javascript:$.ajax({url: 'http://127.0.0.1:60151/goto?locus=chr{{ variant.0 }}:{{ variant.1 }}-{{ variant.2 }}'})"
                href="#"
                class="btn btn-sm btn-secondary">
                IGV
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
             <td class="bg-faded text-muted font-italic text-center" colspan="10">
               No annotations yet.
             </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
