<div class="card varfish-vars-case-details"
   id="card-varfish-vars-case-details">
  <div class="card-header">
    <h4>
      <i class="fa fa-bar-chart"></i>
      QC Plots
    </h4>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <canvas id="plot-relatedness"></canvas>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <canvas id="plot-sex-chrx-het-hom"></canvas>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <canvas id="plot-var-dps"></canvas>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <canvas id="plot-var-types"></canvas>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <canvas id="plot-var-effects"></canvas>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <canvas id="plot-indel-sizes"></canvas>
    </div>
  </div>
</div>
