{% load variants_tags %}
{% load dict %}

{% if item.rel_errors %}
  <span class="fa-stack fa-md">
    <i class="fa fa-fw fa-square fa-stack-2x text-danger"></i>
    <i class="fa fa-fw fa-group fa-inverse fa-stack-1x"
       data-tooltip="tooltip"
       data-toggle="popover" data-trigger="focus" tabindex="0" data-html="true"
       title="Relationship problem (click for details)!"
       data-content="
        <ul>
          {% if sample %}
            {% for message in item.rel_errors|keyvalue:sample %}
              <li>{{ sample|only_source_name }}: {{ message }}</li>
            {% endfor %}
          {% else %}
            {% for sample, messages in item.rel_errors.items %}
              {% for message in messages %}
                <li>{{ sample|only_source_name }}: {{ message }}</li>
              {% endfor %}
            {% endfor %}
          {% endif %}
        </ul>"
      ></i>
  </span>
{% endif %}
