{% load variants_tags %}

<tr id="varfish-bg-table-row-{{ job.sodar_uuid }}">
  <td class="text-right text-muted">{{ forloop.counter }}</td>
  <td>{{ item.date_created|date:"Y/m/d H:i" }}</td>
  <td>
    <a href="{{ item.get_absolute_url }}">
      {{ item.name }}
    </a>
    {% include "variants/case/indicator_sex_error.html" %}
    {% include "variants/case/indicator_rel_error.html" %}
  </td>
  <td>
    {% for member in item.get_members %}
      {{ member|only_source_name }}{% if not forloop.last %},{% endif %}
    {% endfor %}
  </td>
</tr>
