{% load humanize %}
{% load variants_tags %}
{% load projectroles_common_tags %}
{% get_django_setting 'VARFISH_ENABLE_SVS' as svs_enabled %}

<tr id="varfish-bg-table-row-{{ item.sodar_uuid }}">
  <td class="text-right text-muted">{{ forloop.counter }}</td>
  <td data-order="{{ item.date_modified|date:"U" }}">
    {% if item.days_since_modification <= 3 %}
      <span class="text-nowrap" data-toggle="tooltip" title="created {{ item.date_created|date:"Y, M d H:m" }}, updated {{ item.date_modified|date:"Y, M d H:m" }}">
        {% if item.days_since_modification < 1 %}
          {{ item.date_modified|naturaltime }}
        {% else %}
          {{ item.date_modified|naturalday }}
        {% endif %}
      </span>
    {% else %}
      <span class="text-nowrap" data-toggle="tooltip" title="created {{ item.date_created|date:"Y, M d H:m" }}, updated {{ item.date_modified|date:"Y, M d H:m" }}">
        {{ item.date_modified|date:"Y, M d H:m" }}
      </span>
    {% endif %}
  </td>
  <td data-order="{{ item.status|case_status_to_order }}" data-search="{{ item.status }}" class="text-nowrap">
    <i class="fa fa-fw {{ item.status|case_status_to_fa }}" data-toggle="tooltip" title="status: {{ item.status }}"></i>
    {% if item.notes %}
      <i class="text-secondary fa fa-fw fa-sticky-note" data-toggle="tooltip" title="note: {{ item.notes }}"></i>
    {% else %}
      <i class="text-secondary fa fa-fw fa-sticky-note-o" data-toggle="tooltip" title="no notes"></i>
    {% endif %}
    {% if item.case_comments.all|length > 0 %}
      <i class="text-secondary fa fa-fw fa-comments" data-toggle="tooltip" title="{{ item.case_comments.all|length }} case comment{{ item.case_comments.all|length|pluralize }}"></i>
    {% else %}
      <i class="text-secondary fa fa-fw fa-comments-o" data-toggle="tooltip" title="no case comments"></i>
    {% endif %}
  </td>
  <td>
    <a href="{{ item.get_absolute_url }}">
      {{ item.name }}
    </a>
    {% include "variants/case/indicator_sex_error.html" %}
    {% include "variants/case/indicator_rel_error.html" %}
  </td>
  <td>
    {% for member in item.get_members %}
      {{ member|only_source_name }}{% if not forloop.last %},{% endif %}
    {% endfor %}
  </td>
  <td data-order="{{ item.num_small_vars }}" class="text-right">
    {% if item.num_small_vars is None %}
      -
    {% else %}
      {{ item.num_small_vars|intcomma }}
      {% if not item.latest_variant_set %}
        <i class="fa fa-exclamation-triangle text-danger" data-toggle="tooltip" title="Variants reported but no variant set available. Inconsistent state, please report to the aministrators."></i>
      {% endif %}
    {% endif %}
  </td>
  {% if svs_enabled %}
    <td data-order="{{ item.num_svs }}" class="text-right">
      {% if item.num_svs is None %}
        -
      {% else %}
        {{ item.num_svs|intcomma }}
        {% if not item.latest_structural_variant_set %}
          <i class="fa fa-exclamation-triangle text-danger" data-toggle="tooltip" title="SVs reported but no structural variant set available. Inconsistent state, please report to the aministrators."></i>
        {% endif %}
      {% endif %}
    </td>
  {% endif %}
  <td style="width: 0px;">
    {% if svs_enabled %}
      <div class="btn-group" role="group">
        <a href="{% url "variants:case-filter" project=item.project.sodar_uuid case=item.sodar_uuid %}" title="filter case" class="btn btn-primary sodar-list-btn sodar-ss-irods-btn {% if not item.has_variants_and_variant_set %} disabled{% endif %}" title="{% if item.has_variants_and_variant_set %}filter small variants{% endif %}" data-toggle="tooltip">
          <i class="fa fa-filter"></i>
        </a>
        <a href="{% url "svs:case-filter" project=item.project.sodar_uuid case=item.sodar_uuid %}" class="btn btn-primary sodar-list-btn sodar-ss-irods-btn{% if not item.has_svs_and_structural_variant_set %} disabled{% endif %}"  title="{% if item.has_svs_and_structural_variant_set %}filter SVs{% endif %}" data-toggle="tooltip">
          <i class="fa fa-align-center fa-flip-vertical"></i>
        </a>
      </div>
    {% else %}
      <a href="{% url "variants:case-filter" project=item.project.sodar_uuid case=item.sodar_uuid %}" title="filter case" class="btn btn-primary sodar-list-btn sodar-ss-irods-btn">
        <i class="fa fa-filter"></i>
      </a>
    {% endif %}
  </td>
</tr>
