{% load dict %}
{% load humanize %}
{% load variants_tags %}

{% if case.casegeneannotationentry_set %}
  <div class="card varfish-vars-case-details"
     id="card-varfish-vars-case-details-var-qc">
    <div class="card-header">
      <h4>
        <i class="iconify" data-icon="fa-solid:search"></i>
        Gene Annotations
      </h4>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 10%" class="text-nowrap">Gene</th>
          <th style="width: 10px;" class="text-nowrap">% at 20x</th>
          <th>message</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object.casegeneannotationentry_set.all %}
          <tr class="{% if item.annotation.level == 'error' %}table-danger{% elif item.annotation.level == 'warning' %}table-warning{% elif item.annotation.level == 'success' %}table-success{% endif %}">
            <td>{{ item.gene_symbol }}</td>
            <td>{{ item.annotation.percentage_at_20x|default:"-" }}%</td>
            <td>{{ item.annotation.message|default:"-" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
