{% load dict %}
{% load static %}
{% load variants_tags %}

<script type="text/javascript" src="{% static 'js/vendor/plotly-v1.44.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/palette-1.1.0.js' %}"></script>

<script type="text/javascript">

const baseLayout = {
  margin: {
    l: 50,
    r: 50,
    b: 50,
    t: 50,
    pad: 5
  },
};

/** Helper for creating tick labels for large numbers. */
function largeValueTick(value, _index, _values) {
  if (value > 1000*1000 && value % (1000*1000) == 0) {
    return Math.round(value / 1000 / 1000) + "M";
  } else if (value > 1000 && value % 1000 == 0) {
    return Math.round(value / 1000) + "k";
  } else if (value > 1000 && value % 500 == 0) {
    return (value / 1000).toFixed(1) + "k";
  } else {
    return value;
  }
}

/** Helper for creating tooltip labels for large values. */
function largeValueLabel(tooltipItem, data) {
  var label = data.datasets[tooltipItem.datasetIndex].label || '';
  if (label) {
    label += ": ";
  }
  if (tooltipItem.yLabel > 1000*1000) {
    label += (tooltipItem.yLabel / 1000 / 1000).toFixed(2) + "M";
  } else if (tooltipItem.yLabel > 1000) {
    label += (tooltipItem.yLabel / 1000).toFixed(2) + "k";
  } else {
    label += tooltipItem.yLabel;
  }
  return label;
}

{% if view_mode != "project_wide" %}
/** Plot variant types. */
function plotlyVariantTypes() {
  const seq = palette('tol', {{ samples|length }});
  const varTypes = ["SNV", "Indel", "MNV"];

  const barChartData = [
    {% for item in object.variant_stats.sample_variant_stats.all %}
      {
        name: "{{ item.sample_name|only_source_name }}",
        hovermode: 'closest',
        showlegend: false,
        x: varTypes,
        y: [
          {{ item.ontarget_snvs }},
          {{ item.ontarget_indels }},
          {{ item.ontarget_mnvs }}
        ],
        type: 'bar',
        marker: {
          color: "#" + seq[{{ forloop.counter0 }}],
          line: {
            color: "#" + seq[{{ forloop.counter0 }}],
          }
        },
      },
    {% endfor %}
  ]

  const layout = {
    title: {
      text: 'Variant types'
    },
    ...baseLayout,
  };

  Plotly.newPlot('plot-var-types', barChartData, layout);
}

/** Plot selected variant effects. */
function plotlyVariantEffects() {
  const seq = palette('tol', {{ samples|length }});
  const varEffectMap = {
    "synonymous_variant": "synonymous",
    "missense_variant": "missense",
    "5_prime_UTR_exon_variant": "UTR",
    "3_prime_UTR_exon_variant": "UTR",
    "start_lost": "start lost",
    "stop_gained": "nonsense",
    "stop_lost": "stop lost",
    "splice_region_variant": "splice region",
    "splice_donor_variant": "splice consensus",
    "splice_acceptor_variant": "splice consensus",
    "inframe_deletion": "inframe indel",
    "inframe_insertion": "inframe indel",
    "direct_tandem_duplication": "inframe_indel",
    "frameshift_variant": "frameshift",
    "frameshift_truncation": "frameshift",
    "frameshift_elongation": "frameshift",
  };

  const varEffects = [
    "synonymous",
    "missense",
    "UTR",
    "splc. region",
    "splc. motif",
    "start lost",
    "nonsense",
    "stop lost",
    "infrm. indel",
    "frameshift"
  ];

  const barChartData = [
    {% for sample in samples %}
      {
        name: "{{ sample|only_source_name }}",
        hovermode: 'closest',
        showlegend: false,
        x: varEffects,
        y: [
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"synonymous_variant" }},
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"missense_variant" }},
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"5_prime_UTR_exon_variant" }} +
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"3_prime_UTR_exon_variant" }},
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"splice_donor_variant" }} +
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"splice_region_variant" }},
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"splice_acceptor_variant" }},
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"start_lost" }},
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"stop_gained" }},
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"stop_lost" }},
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"inframe_deletion" }} +
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"inframe_insertion" }},
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"frameshift_variant" }} +
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"frameshift_truncation" }} +
          {{ ontarget_effect_counts|keyvalue:sample|keyvalue:"frameshift_elongation" }}
        ],
        type: 'bar',
        marker: {
          color: "#" + seq[{{ forloop.counter0 }}],
          line: {
            color: "#" + seq[{{ forloop.counter0 }}],
          }
        },
      },
    {% endfor %}
  ];

  const layout = {
    showlegend: true,
    title: {
      text: 'Variant effects'
    },
    ...baseLayout,
  };

  Plotly.newPlot('plot-var-effects', barChartData, layout);
}

/** Plot indel size distribution. */
function plotlyIndelSizes() {
  const seq = palette('tol', {{ samples|length }});

  const barChartData = [
    {% for sample in samples %}
      {
        name: "{{ sample|only_source_name }}",
        x: [
          {% for key in indel_sizes_keys %}
            {% if key == -10 %}
              "\u2264-10",
            {% elif key == 10 %}
              "\u226510"
            {% else %}
              "{{ key }}",
            {% endif %}
          {% endfor %}
        ],
        y: [
          {% for key in indel_sizes_keys %}
            {{ indel_sizes|keyvalue:sample|keyvalue:key|default:0 }}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        type: 'bar',
        marker: {
          color: "#" + seq[{{ forloop.counter0 }}],
          line: {
            color: "#" + seq[{{ forloop.counter0 }}],
          }
        },
      },
    {% endfor %}
  ];

  const layout = {
    title: {
      text: 'Indel sizes'
    },
    ...baseLayout,
  };

  Plotly.newPlot('plot-indel-sizes', barChartData, layout);
}

{% endif %}  {#  if view_mode != "project_wide" #}

/** Helper for creating tooltip labels for relatedness entries. */
function relatednessLabel(tooltipItem, data) {
  return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].sample0 + "-" +
    data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].sample1;
}

/** Convert foreground to background color (setting alpha to 0.2). */
function colorFgToBg(col) {
  return "rgb(" +
    parseInt(col.substring(0, 2), 16) + ", " +
    parseInt(col.substring(2, 4), 16) + ", " +
    parseInt(col.substring(4, 6), 16) + ", 0.2)";
}

/** Plot relatedness. */
function plotlyRelatedness() {
  const ped = {
    {% for item in object.pedigree %}
      "{{ item.patient }}": {
        father: "{{ item.father }}",
        mother: "{{ item.mother }}",
        sex: {{ item.sex }},
      }{% if not forloop.last %},{% endif %}
    {% endfor %}
  };

  const relData = [
    {% for rel in object.variant_stats.relatedness.all %}
      {
        sample0: "{{ rel.sample1|only_source_name }}",
        sample1: "{{ rel.sample2|only_source_name }}",
        parentChild: (
          ped["{{ rel.sample1 }}"].father == "{{ rel.sample2 }}" ||
          ped["{{ rel.sample1 }}"].mother == "{{ rel.sample2 }}" ||
          ped["{{ rel.sample2 }}"].father == "{{ rel.sample1 }}" ||
          ped["{{ rel.sample2 }}"].mother == "{{ rel.sample1 }}"
        ),
        sibSib: (
          ped["{{ rel.sample1 }}"].father != "0" &&
          ped["{{ rel.sample2 }}"].father != "0" &&
          ped["{{ rel.sample1 }}"].mother != "0" &&
          ped["{{ rel.sample2 }}"].mother != "0" &&
          (
            ped["{{ rel.sample1 }}"].father == ped["{{ rel.sample2 }}"].father ||
            ped["{{ rel.sample1 }}"].mother == ped["{{ rel.sample2 }}"].mother
          )
        ),
        ibs0: {{ rel.n_ibs0 }},
        rel: {{ rel.relatedness }},
      }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];

  const clsRelData = {
    sibSib: {x: [], y: [], text: []},
    parentChild: {x: [], y: [], text: []},
    other: {x: [], y: [], text: []}
  };
  for (var i = 0; i < relData.length; ++i) {
    let entry = null;
    if (relData[i].parentChild) {
      entry = clsRelData.parentChild;
    } else if (relData[i].sibSib) {
      entry = clsRelData.sibSib;
    } else {
      entry = clsRelData.other;
    }
    entry.x.push(relData[i].ibs0);
    entry.y.push(relData[i].rel);
    entry.text.push(relData[i].sample0 + "-" + relData[i].sample1);
  }

  const pal = palette("mpn65", 4);
  const scatterPlotData = [];
  if (clsRelData.sibSib.x.length) {
    scatterPlotData.push({
      type: "scatter",
      mode: "markers",
      name: "sibling-sibling",
      hoverinfo: "text",
      marker: {
        size: 8,
        opacity: 0.8,
        color: colorFgToBg(pal[3]),
        line: {
          opacity: 1.0,
          width: 1,
          color: "#" + pal[3]
        }
      },
      x: clsRelData.sibSib.x,
      y: clsRelData.sibSib.y,
      text: clsRelData.sibSib.text
    });
  }
  if (clsRelData.parentChild.x.length) {
    scatterPlotData.push({
      type: "scatter",
      mode: "markers",
      name: "parent-child",
      hoverinfo: "text",
      marker: {
        size: 8,
        opacity: 0.8,
        color: colorFgToBg(pal[1]),
        line: {
          opacity: 1.0,
          width: 1,
          color: "#" + pal[1]
        }
      },
      x: clsRelData.parentChild.x,
      y: clsRelData.parentChild.y,
      text: clsRelData.parentChild.text
    });
  }
  if (clsRelData.other.x.length) {
    scatterPlotData.push({
      type: "scatter",
      mode: "markers",
      name: "other",
      hoverinfo: "text",
      marker: {
        size: 8,
        opacity: 0.8,
        color: colorFgToBg(pal[2]),
        line: {
          opacity: 1.0,
          width: 1,
          color: "#" + pal[2]
        }
      },
      x: clsRelData.other.x,
      y: clsRelData.other.y,
      text: clsRelData.other.text
    });
  }

  const layout = {
    title: {
      text: 'Relatedness vs. IBSO0'
    },
    showlegend: true,
    hovermode: 'closest',
    legend: {
      x: 0.7,
      y: 1
    },
    xaxis: {
      title: {
        text: 'IBS0 (vars without shared allele)'
      }
    },
    yaxis: {
      title: {
        text: 'relatedness coefficient'
      }
    },
    ...baseLayout
  }

  Plotly.newPlot('plot-relatedness', scatterPlotData, layout);
}


function sexChrxHetHomLabel(item, data) {
  return data.datasets[item.datasetIndex].data[item.index].sample || "(unknown)";
}

/** Plot QC data for sex */
function plotlySexChrxHetHom() {
  const pal = palette("mpn65", 3);

  const ped = {
    {% for item in object.pedigree %}
      "{{ item.patient }}": {
        father: "{{ item.father }}",
        mother: "{{ item.mother }}",
        sex: {{ item.sex }},
      }{% if not forloop.last %},{% endif %}
    {% endfor %}
  };

  var dataOk = {x: [], y: [], text: []};
  var dataUnknown = {x: [], y: [], text: []};
  var dataError = {x: [], y: [], text: []};

  var seed = 1;
  function random() {
      var x = Math.sin(seed++) * 10000;
      return x - Math.floor(x);
  }

  {% for item in object.pedigree %}
    {% if item.has_gt_entries %}
      {% if item.sex == 0 %}
        dataUnknown.x.push(1.5 + random() * 0.3 - 0.15)
        dataUnknown.y.push({% chrx_het_hom_ratio object item.patient %})
        dataUnknown.text.push("{{ item.patient|only_source_name }}")
      {% elif item.patient not in object.sex_errors %}
        dataOk.x.push([1.5, 1.0, 2.0][{{ item.sex }}] + random() * 0.4 - 0.2)
        dataOk.y.push({% chrx_het_hom_ratio object item.patient %})
        dataOk.text.push("{{ item.patient|only_source_name }}")
      {% else %}
        dataError.x.push([1.5, 1.0, 2.0][{{ item.sex }}] + random() * 0.4 - 0.2)
        dataError.y.push({% chrx_het_hom_ratio object item.patient %})
        dataError.text.push("{{ item.patient|only_source_name }}")
      {% endif %}
    {% endif %}
  {% endfor %}

  const scatter = {
      type: "scatter",
      mode: "markers",
      hoverinfo: "text",
  };

  const scatterPlotData = [
    {
      name: "OK",
      marker: {
        size: 8,
        opacity: 0.8,
        color: colorFgToBg(pal[2]),
        line: {
          opacity: 1.0,
          width: 1,
          color: "#" + pal[2]
        }
      },
      ...scatter,
      ...dataOk
    },
    {
      name: "unknown",
      marker: {
        size: 8,
        opacity: 0.8,
        color: colorFgToBg(pal[1]),
        line: {
          opacity: 1.0,
          width: 1,
          color: "#" + pal[1]
        }
      },
      ...scatter,
      ...dataUnknown
    },
    {
      name: "error",
      marker: {
        size: 8,
        opacity: 0.8,
        color: colorFgToBg(pal[0]),
        line: {
          opacity: 1.0,
          width: 1,
          color: "#" + pal[0]
        }
      },
      ...scatter,
      ...dataError
    }
  ];

  const layout = {
    title: {
      text: 'Rate of het. calls on chrX'
    },
    showlegend: true,
    hovermode:'closest',
    legend: {
      x: 0,
      y: 1
    },
    xaxis: {
      title: {
        text: 'sex from pedigree'
      },
      range: [0.6, 2.4],
      tickvals: [1.0, 1.5, 2.0],
      ticktext: ["male", "unknown", "female"]
    },
    yaxis: {
      title: {
        text: 'het./hom. alt. ratio'
      }
    },
    ...baseLayout
  };

  Plotly.newPlot('plot-sex-chrx-het-hom', scatterPlotData, layout);
}

function varDpLabel(item, data) {
  return data.datasets[item.datasetIndex].data[item.index].sample || "(unknown)";
}

/** Plot variant depth to het ratios. */
function plotlyVarDps() {
  const pal = palette("mpn65", 3);

  const dpQuantiles = {{ dp_quantiles }};
  const dpIqr = dpQuantiles[3] - dpQuantiles[1];
  const hetRatioQuantiles = {{ het_ratio_quantiles }};
  const hetRatioIqr = hetRatioQuantiles[3] - hetRatioQuantiles[1];

  const dataAll = [{% for sample in samples %}
      {
        {% with sample_stats|keyvalue:sample as stats %}
          sample: "{{ sample|only_source_name }}",
          x: {{ stats.ontarget_dp_quantiles|slice:"2:3" }}[0],
          y: {{ stats.het_ratio|default:0.0 }}
        {% endwith %}
      }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];

  var dataOk = {x: [], y: [], text: []};
  var dataBadDp = {x: [], y: [], text: []};
  var dataBadRatio = {x: [], y: [], text: []};

  for (var i = 0; i < dataAll.length; ++i) {
    let data = dataAll[i];
    let dest = null;
    if (Math.abs(dpQuantiles[2] - data.x) > 3 * dpIqr) {
      dest = dataBadDp;
    } else if (Math.abs(hetRatioQuantiles[2] - data.y) > 3 * hetRatioIqr) {
      dest = dataBadRatio;
    } else {
      dest = dataOk;
    }
    dest.x.push(data.x);
    dest.y.push(data.y);
    dest.text.push(data.sample);
  }

  const scatter = {
    type: "scatter",
    mode: "markers",
    hoverinfo: "text",
  };

  const scatterPlotData = [
    {
      name: "OK",
      marker: {
        opacity: 0.8,
        size: 8,
        color: colorFgToBg(pal[2]),
        line: {
          opacity: 1.0,
          width: 1,
          color: "#" + pal[2]
        }
      },
      ...scatter,
      ...dataOk
    },
    {
      name: "depth outlier",
      marker: {
        opacity: 0.8,
        size: 8,
        color: colorFgToBg(pal[1]),
        line: {
          opacity: 1.0,
          width: 1,
          color: "#" + pal[1]
        }
      },
      ...scatter,
      ...dataBadDp
    },
    {
      name: "ratio outlier",
      marker: {
        opacity: 0.8,
        size: 8,
        color: colorFgToBg(pal[0]),
        line: {
          opacity: 1.0,
          width: 1,
          color: "#" + pal[0]
        }
      },
      ...scatter,
      ...dataBadRatio
    }
  ];


  const layout = {
    title: {
      text: 'Depth and heterozygosity'
    },
    showlegend: true,
    hovermode:'closest',
    legend: {
      x: 0,
      y: 1
    },
    xaxis: {
      title: {
        text: 'median depth'
      },
    },
    yaxis: {
      title: {
        text: 'het. genotype ratio'
      }
    },
    ...baseLayout
  };

  Plotly.newPlot('plot-var-dps', scatterPlotData, layout);

  /*

  const ctx = document.getElementById('plot-var-dps').getContext('2d');
  window.varDpChart = new Chart(ctx, {
    type: 'scatter',
    data: scatterPlotData,
    options: {
      {#responsive: true,#}
      animation: false,
      aspectRatio: 1.5,
      {#maintainAspectRatio: true,#}
      legend: {
        position: "bottom",
        usePointStyle: true
      },
      title: {
        display: true,
        text: 'Depth and Heterozygosity'
      },
      scales: {
        xAxes: [{
          type: "linear",
          position: "bottom",
          scaleLabel: {
            display: true,
            labelString: "median depth"
          }
        }],
        yAxes: [{
          type: "linear",
          position: "left",
          scaleLabel: {
            display: true,
            labelString: "het. genotype ratio"
          }
        }]
      },
      tooltips: {
        callbacks: {
          label: varDpLabel
        }
      }
    }
  });
  */
}

</script>
