{% extends 'projectroles/base_site.html' %}

{% load static %}
{% load projectroles_common_tags %}

{% block head_javascript %}
  {{ block.super }}

  {% get_django_setting 'PROJECTROLES_DISABLE_CDN_INCLUDES' as disable_cdn_includes %}

  {% if not disable_cdn_includes %}
    <!-- Sentry SDK for browsers -->
    <script src="https://browser.sentry-cdn.com/6.2.5/bundle.tracing.min.js" integrity="sha384-xd/W0P7puokZpoEqk4srLDzK5R0WV2B2IZVlA0T4MEU4Fojxk+o+5KF6u43wkTL6" crossorigin="anonymous"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <!-- Bootstrap select plugin for multiple-select dropdown menus -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>
    <!-- Input of tags etc. -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap4-tagsinput@4.1.3/tagsinput.js" integrity="sha256-qPxPcWNa+Pfknra6sjx01KUZwspyS8MYAnaW8mDEDdI=" crossorigin="anonymous"></script>
    <!-- Templates for Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.min.js" integrity="sha512-bKlNlbTH3duwZ28zoqEhXui/yuaPuQVci6OAVu0zh2WfYbEKD39HszVR8byP4/L4YyBo3b5CGIY+4ldVN93uCg==" crossorigin="anonymous"></script>
    <!-- Neat plotting -->
    <script src="https://cdn.plot.ly/plotly-1.54.5.min.js"></script>
    <!-- AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- Google palette -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/google-palette/1.1.0/palette.min.js" integrity="sha512-+rKeqfKuzCrzOolK5cPvYqzEHJTEPWG1MTvH02P+MYgmw7uMyNiewzvzlPj0wOgPd10jdNAtkf8tL1aQt7RsxQ==" crossorigin="anonymous"></script>
    <!-- Useful utilities -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous"></script>
  {% endif %}
{% endblock head_javascript %}

{% block javascript %}
  {{ block.super }}

  {% get_django_setting 'SENTRY_DSN' as sentry_dsn %}

  {% if sentry_dsn %}
  <script type="text/javascript">
    Sentry.init({
      dsn: "{{ sentry_dsn }}",
      release: "varfish-web@{% site_version %}",
      integrations: [new Sentry.Integrations.BrowserTracing()]
    })
  </script>
  {% endif %}

  <!-- Set variable for django_su warning message display. -->
  <script type="text/javascript">
    let is_su = {% if IS_SU %}true{% else %}false{% endif %};
    let su_escape_url = {% url "su_logout" %};
    $(document).ready(function() {
      // This line will add tagsinput to the project app settings page.
      // Unfortunately this is included in every page now, but there is currently no other workaround.
      $("#id_settings\\.variants\\.user_defined_tags").tagsinput({
          // Make badges gray
          tagClass: "badge badge-secondary",
          // The passed list is separated by semicolons
          delimiter: ";"
      });
    });
  </script>
  <!-- The logic for the django_su warning is in ``js/project.js``. -->
  <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}

{% block css %}
  {{ block.super }}

  {% get_django_setting 'PROJECTROLES_DISABLE_CDN_INCLUDES' as disable_cdn_includes %}

  <!-- XXX TODO: remove once all icons have been changed -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  {% if not disable_cdn_includes %}
    <!-- Bootstrap select plugin for multiple-select dropdown menus -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" />
    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.jqueryui.min.css" />
    <!-- Input of tags etc. -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap4-tagsinput@4.1.3/tagsinput.css" integrity="sha256-yKeby2UqHj5kXr8qgg38UaMA1dGC8y/IoxxwTVREi7c=" crossorigin="anonymous">
  {% endif %}

  {% block css_custom %}
  <!-- custom -->
  {% endblock css_custom %}
{% endblock css %}

{% block head_extend %}
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-32x32.png' %}" sizes="32x32" />
{% endblock head_extend %}
