on:
  push:
    branches:
      - main

name: release-please

jobs:
  release:
    runs-on: ubuntu-latest
    steps:

      - name: Create GitHub release
        uses: GoogleCloudPlatform/release-please-action@v4
        id: release
        with:
          release-type: python
          package-name: varfish-server
          token: ${{ secrets.BOT_TOKEN }}

  build-publish:
    runs-on: ubuntu-latest
    needs: release
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}
        with:
          submodules: 'recursive'
          lfs: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.0.0
        if: ${{ steps.release.outputs.release_created }}
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker prerelease image
        if: ${{ steps.release.outputs.release_created && github.event.release.prerelease }}
        uses: docker/build-push-action@v3
        with:
          context: docker
          push: true
          # NB: no "latest" tag in contrast to true release
          tags: "ghcr.io/varfish-org/varfish-server:${{ needs.release.outputs.tag_name_no_v }}"

      - name: Build and push Docker release image
        if: ${{ steps.release.outputs.release_created && !github.event.release.prerelease }}
        uses: docker/build-push-action@v3
        with:
          context: docker
          push: true
          tags: "ghcr.io/varfish-org/varfish-server:latest,ghcr.io/varfish-org/varfish-server:${{ needs.release.outputs.tag_name_no_v }}"
