<div class="card">
  <div class="card-header">
    <h5 class="card-title mb-0">AA Conservation</h5>
  </div>
  <div class="card-body p-0">
    {% if knowngeneaa %}
      <table class="table sodar-card-table">
        <thead>
          <tr>
            <th>Chromosome</th>
            <th>Start</th>
            <th>End</th>
            <th>Alignment</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in knowngeneaa %}
            <tr>
              <td>{{ entry.chromosome }}</td>
              <td>{{ entry.start }}</td>
              <td>{{ entry.end }}</td>
              <td>
                <code>{{ entry.alignment }}</code>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="p-3">
        No data.
      </div>
    {% endif %}
  </div>
</div>
